<ion-view id="loanPages" hide-nav-bar="true">
    <link href="views/trend/trend.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Тренд'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content class="ion-modified-content margin-top-50 trend-content">
        <div class="big-container">
            <div class="magic-container margin-lr-20 margin-top-20">
                <!-- <p class="ion-color-text">Та хайх барааны төрлөө сонгоно уу</p> -->
                <div class="horilist">
                    <div class="title-class">
                        <span class="uppercase-m-title">Их үзсэн</span>
                        <span class="left-0 ion-color-text" ui-sref="carlist">Дэлгэрэнгүй >>></span>
                    </div>
                    <ion-scroll direction="x" class="wide-as-needed trend-scroll">
                        <div class="horizontal-item trend-card-container" ng-repeat="car in $root.trendCarData | filter:{id:'!!'}" ng-if="$index % 3 == 0" ng-click="selectCar(car)">
                            <div class="h-item">
                                <img ng-src="{{$root.imagePath}}{{car.itempic}}" />
                                <span class="trend-item-code">{{car.itemcode}}</span>
                                <p>{{$root.trendCarData[$index].modelname}}</p>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
                <div class="horilist">
                    <div class="title-class">
                        <span class="uppercase-m-title">Их борлуулагдсан</span>
                        <span class="left-0 ion-color-text" ui-sref="carlist">Дэлгэрэнгүй >>></span>
                    </div>
                    <ion-scroll direction="x" class="wide-as-needed trend-scroll">
                        <div class="horizontal-item trend-card-container" ng-repeat="car in $root.trendCarData | filter:{id:'!!'}" ng-if="$index % 2 == 0" ng-click="selectCar(car)">
                            <!-- <div class="h-item" ng-if="!$root.trendCarData[$index+1].itempic|isEmpty"> -->
                            <div class="h-item">
                                <!-- <img ng-src="{{$root.imagePath}}{{$root.trendCarData[$index+1].itempic}}" />
                                <span class="trend-item-code">{{car.itemcode}}</span>
                                <p>{{$root.trendCarData[$index+1].modelname}}</p> -->
                                <img ng-src="{{$root.imagePath}}{{car.itempic}}" />
                                <span class="trend-item-code">{{car.itemcode}}</span>
                                <p>{{$root.trendCarData[$index].modelname}}</p>
                            </div>
                        </div>

                    </ion-scroll>
                </div>
                <div class="horilist">
                    <div class="title-class">
                        <span class="uppercase-m-title">Их хүсэлт илгээсэн</span>
                        <span class="left-0 ion-color-text">Дэлгэрэнгүй >>></span>
                    </div>
                    <ion-scroll direction="x" class="wide-as-needed trend-scroll">
                        <div class="horizontal-item trend-card-container" ng-repeat="car in $root.trendCarData  | filter:{modelname:'!!'}" ng-click="selectCar(car)">
                            <!-- <div class="h-item" ng-if="!$root.trendCarData[$index+1].itempic|isEmpty"> -->
                            <div class="h-item">
                                <!-- <img ng-src="{{$root.imagePath}}{{$root.trendCarData[$index+1].itempic}}" />
                                <span class="trend-item-code">{{car.itemcode}}</span>
                                <p>{{$root.trendCarData[$index+1].modelname}}</p> -->
                                <img ng-src="{{$root.imagePath}}{{car.itempic}}" />
                                <span class="trend-item-code">{{car.itemcode}}</span>
                                <p>{{$root.trendCarData[$index].modelname}}</p>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>