.horilist {
  margin-bottom: 20px;
}

.title-class {
  display: flex;
  margin-bottom: 10px;
}

.left-0 {
  margin-left: auto;
}

.horizontal-scroller {
  height: 100px;
  -webkit-overflow-scrolling: touch;
  padding: 15px 15px 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  list-style: none;
}

.uppercase-m-title {
  color: #4b5180;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.horizontal-item {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  white-space: normal;
  margin: 0px 5px;
  text-align: center;
}

.horizontal-item .h-item {
}

.h-item img {
  width: auto;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
  max-width: 90%;
  margin-top: 5px;
}

.h-item p {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #a2a7b5;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

.scroll {
  min-width: 100%;
}

.trend-content {
  height: 100%;
}
.wide-as-needed > .scroll::-webkit-scrollbar {
  display: none;
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar {
  display: none !important;
}
.wide-as-needed > .scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.trend-card-container {
  min-height: 165px;
  background: none;
  /* box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%); */
  height: 100%;
  /* border: 1px solid #e4e4e4; */
}
.trend-scroll > .scroll {
  padding: 20px 0;
}
