.horilist {
  margin-bottom: 20px;
}

.title-class {
  display: flex;
  margin-bottom: 10px;
}

.left-0 {
  margin-left: auto;
}
.uppercase-m-title {
  color: #4b5180;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.horizontal-item {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  white-space: normal;
  margin: 0px 5px;
  text-align: center;
}
.h-item img {
  width: auto;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
  max-width: 90%;
  margin-top: 5px;
}

.h-item p {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #a2a7b5;
  margin: 5px 0;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.trend-content {
  height: 100%;
}
.trend-card-container {
  background: #fff;
  box-shadow: 1px 1px 5px -2px grey !important;
  border-radius: 5px !important;
  margin: 0px 5px;
  line-height: 13px;
  min-height: 17vh !important;
}
.trend-card-container .h-item {
  width: 100px;
}
.trend-scroll {
  overflow: scroll;
  white-space: nowrap;
}
.trend-scroll > .scroll {
  padding: 20px 0;
  /* width: 100%; */
  min-width: 100%;
  display: flex;
}
