.profile-card-tabs > .tabs {
  width: 100% !important;
  left: 0px !important;
}

.profile-card-tabs > .tabs {
  top: 25% !important;
  padding: 0 20px !important;
  border-bottom: none !important;
  position: inherit;
}

.profile-content {
  top: 0px !important;
  height: calc(100% - 200px);
  background-color: #fff;
  padding-top: 20px;
}

.profile-content > .scroll {
  min-height: 0px !important;
}

.profile-avatar {
  background: -moz-linear-gradient(75deg, rgba(162, 209, 54, 1) 0%, rgba(60, 193, 249, 1) 93%);
  background: -webkit-linear-gradient(75deg, rgba(162, 209, 54, 1) 0%, rgba(60, 193, 249, 1) 93%);
  background: linear-gradient(75deg, rgba(162, 209, 54, 1) 0%, rgba(60, 193, 249, 1) 93%);
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  padding-left: 45px;
}

.profile-avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.avatar-base {
  position: relative;
  width: 95px;
  height: 95px;
  padding: 5px;
  border-radius: 50%;
  background: -moz-linear-gradient(75deg, rgba(162, 209, 54, 1) 0%, rgba(60, 193, 249, 1) 93%);
  background: -webkit-linear-gradient(75deg, rgba(162, 209, 54, 1) 0%, rgba(60, 193, 249, 1) 93%);
  background: linear-gradient(75deg, rgba(162, 209, 54, 1) 0%, rgba(60, 193, 249, 1) 93%);
  box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.3);
}
.profilePhoneNumber::-webkit-outer-spin-button,
.profilePhoneNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.profilePhoneNumber {
  -moz-appearance: textfield;
  /* Firefox */
}

.profile-card-front {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  display: grid;
  text-align: center;
  place-items: center;
}

.profile-card-front i {
  position: absolute;
  zoom: 2;
}
.profile-card-front p {
  padding: 6px 0px !important;
  font-size: 16px !important;
}
.profile-card-front img {
  border-radius: 10px !important;
}

.profile-card-back {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  display: grid;
  text-align: center;
  place-items: center;
}

.profile-card-back i {
  position: absolute;
  zoom: 2;
}
.profile-card-back p {
  padding: 6px 0px !important;
  font-size: 16px !important;
}
.profile-card-back img {
  border-radius: 10px !important;
}

.profile-label {
  border: none !important;
  margin-left: 10px;
  font-size: 16px !important;
  width: 100% !important;
}

.profile-label-pass {
  border-bottom: 0;
  justify-content: center;
  padding: 6px 0px 0px 0px !important;
}

.profile-label p {
  color: #a2a7b5 !important;
}

.profile-tab .tab-nav.tabs {
  margin-top: -40px;
  height: 40px !important;
  background: none !important;
}

.profile-tab .tab-title {
  color: #fff !important;
}

.profile-tab .tab-item-active > .tab-title {
  color: #fff !important;
}

.profile-tabs-tab .tab-item.tab-item-active {
  color: #fff !important;
  border-color: #fff !important;
}

#profile-tabs-striped {
  display: block;
}

#profile-tabs-striped .tab-item.activated {
  border-color: #fff !important;
  color: #fff !important;
}
.profile-select {
  border: none;
  padding: 2px 0px 0px 5px;
  background: #fff;
  background-color: #fff;
  color: #4b5180;
  font-weight: bold;
  width: 100% !important;
  max-width: 100% !important;
  font-size: 16px !important;
}

#overlayProfilePicute {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  margin: 0 auto;
}
.overlay-profile-content {
  color: #000;
  font-size: 12px;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-bottom: 50px;
  background: #fff;
  border: 1px solid #acd322;
}
.profile-picture-add-btn {
  border-radius: 50%;
  height: 100%;
  text-align: center;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  background: cadetblue;
}
.profile-ident-pic-container {
  width: 250px;
  border-radius: 10px;
  border: 1px dashed #ccc;
  height: 140px;
  text-align: center;
  font-size: 46px;
  color: #ccc;
  line-height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
}
.profile-ident-container-div {
  border: 0;
  padding: 10px 0px 10px 0px;
  display: block;
}
.form-input-label-profile {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 0px !important;
  padding: 0 40px 15px 40px !important;
  display: block !important;
}
.form-input-label-profile input {
  color: #4b5180 !important;
  background: transparent !important;
  font-weight: bold;
  display: block;
  padding-top: 2px;
  padding-left: 10px;
  height: 34px;
  vertical-align: middle;
  font-size: 18px;
  line-height: 16px;
}
.profile-ref-name-container {
  display: grid;
  margin-left: 20px;
  font-size: 18px;
}
