<ion-view id="loanPages" hide-nav-bar="true">
  <link href="views/loan/property_collateral/collateral.css" rel="stylesheet" />
  <div id="overlayCollateralLoan" ng-click="pCSourceSelectOff()">
    <div class="overlay-pc-content">
      <div class="get-photo-choose">
        <div class="get-camera" ng-click="takePhoto()"><i class="icon ion-camera photo-choose-icon"></i><span class="photo-choose-span">Камер нээх</span></div>
        <div class="get-gallery" ng-click="takePhoto('1')"><i class="icon ion-images photo-choose-icon"></i><span class="photo-choose-span">Зурагнаас сонгох</span></div>
      </div>
      <button class="button btn single-button">Хаах</button>
    </div>
  </div>
  <div ng-repeat="data in [{'title':'Үл хөдлөх хөрөнгийн зээл'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content overflow-scroll="true" class="ion-modified-content has-header collateral-loan-content">
    <div class="magic-container">
      <div class="margin-lr-20">
        <div class="">
          <select class="selection">
            <option selected>Хөрөнгийн төрөл</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <select class="selection">
            <option selected>Аймаг хот</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <select class="selection">
            <option selected>Сум дүүрэг</option>
            <option>Option 2</option>
          </select>
          <select class="selection">
            <option selected>Баг хороо</option>
            <option>Option 2</option>
          </select>
          <select class="selection">
            <option selected>Хотхон</option>
            <option>Option 2</option>
          </select>
          <select class="selection">
            <option selected>Байр</option>
            <option>Option 2</option>
          </select>
          <label class="item item-input collateral-loan-label" style="padding-top: 0px !important;">
            <p>Улсын бүртгэлийн дугаар</p>
            <input type="text" />
          </label>
          <label class="item item-input collateral-loan-label">
            <p>Давхарын байршил</p>
            <input inputmode="numeric" pattern="[0-9]*" type="text" />
          </label>
          <label class="item item-input collateral-loan-label">
            <p>Өрөөний тоо</p>
            <input inputmode="numeric" pattern="[0-9]*" type="text" />
          </label>
          <label class="item item-input collateral-loan-label">
            <p>Талбайн хэмжээ /м.кв/</p>
            <input inputmode="numeric" pattern="[0-9]*" type="text" />
          </label>
          <label class="item item-input collateral-loan-label">
            <p>Зах зээлийн үнэлгээ</p>
            <input inputmode="numeric" pattern="[0-9]*" type="text" />
          </label>
          <div class="item item-input property-coll-label" style="border: 0;margin-top: 1px;background: transparent;">
            <div class="pc-card-front col-50">
              <p style="padding: 6px 0px">Барилгын гаднах зураг</p>
              <div ng-if="$root.collateralLoanData.picture1|isEmpty" style="width: 120px; border-radius: 10px; border: 1px dashed #ccc; height: 75px; text-align: center; font-size: 46px; color: #ccc; line-height: 86px">
              </div>
              <img ng-if="!$root.collateralLoanData.picture1|isEmpty" ng-src="{{$root.collateralLoanData.picture1|guessImageMime}}" height="75px" width="120px" style="border-radius: 10px;" />
              <i class="icon ion-edit ident-icon" ng-click="pCSourceSelectOn(1)"></i>

            </div>
            <div class="pc-card-back col-50" ng-model="identbackpic">
              <p style="padding: 6px 0px">Гэрчилгээний зураг</p>
              <div ng-if="$root.collateralLoanData.picture2|isEmpty" style="width: 120px; border-radius: 10px; border: 1px dashed #ccc; height: 75px; text-align: center; font-size: 46px; color: #ccc; line-height: 86px">
              </div>
              <img ng-if="!$root.collateralLoanData.picture2|isEmpty" ng-src="{{$root.customerProfileData.picture2|guessImageMime}}" height="75px" width="120px" style="border-radius: 10px;" />
              <i class="icon ion-edit ident-icon" ng-click="pCSourceSelectOn(2)"></i>

            </div>
          </div>
        </div>
      </div>
      <button class="button btn single-button" ng-click="saveProperty()">Үргэлжлүүлэх</button>
    </div>
    <!-- <ion-footer class="bottom-footer">
        <div class="bank-container">
          <p>Банк болон ББСБ -ын зээлээр захиалан авах боломжтой</p>
          <img src="img/khanbank-mn.png" />
        </div>

      </ion-footer> -->
  </ion-content>
</ion-view>