<ion-view id="loanPages" hide-nav-bar="true" cache-view="false">
	<link href="views/loan/property_collateral/collateral.css" rel="stylesheet" />
	<div ng-repeat="data in [{'title':'Үл хөдлөх хөрөнгийн зээл'}]" ng-include src="'views/navbar.html'"></div>
	<ion-content overflow-scroll="true" class="ion-modified-content has-header collateral-loan-content">
		<div class="big-container ghostwhite-noscroll-container">
			<div class="magic-container property-loan-container-card">
				<div class="margin-lr-20">
					<div class="">
						<label class="item item-input item-select form-input-label">
							<p class="input-label" style="margin: 0;">Барьцаалах хөрөнгийн төрөл</p>
							<select ng-model="$root.newReqiust.collateralType" class="custom-form-input-select">
								<option ng-repeat="loc in $root.propertyCategory | filter:{id:'!!'}" value="{{loc.id}}">
									{{loc.name}}</option>
							</select>
						</label>
						<label class="item item-input item-select form-input-label">
							<span class="input-label">Орлого нотлох эсэх</span>
							<select ng-model="$root.newReqiust.proveIncome" class="custom-form-input-select">
								<option ng-repeat="loc in $root.isColl | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
									{{loc.name}}</option>
							</select>
						</label>
					</div>
				</div>
			</div>
			<div class="bank-container">
				<p>Танд зээл олгох боломжтой банк, ББСБ-ууд</p>
				<img class="tooltip" ng-repeat="bank in allBankList | filter:{id:'!!'}" ng-if="bank.bank_logo" ng-src="{{$root.imagePath}}{{bank.bank_logo}}" title="{{bank.department_name}}" animation="fade" />

			</div>
			<ion-footer class="">
				<button class="button btn single-button" id="Next" ng-click="saveProperty()">Үргэлжлүүлэх</button>
			</ion-footer>
		</div>
	</ion-content>
</ion-view>