<ion-view hide-nav-bar="true">
  <link href="views/contact/contact.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Холбоо барих'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content overflow-scroll="false" ng-controller="contactCtrl" class="contact-container margin-top-50">
    <div class="contact-detail">
      <div class="list card contact-card">
        <div href="#" class="item item-icon-left">
          <i class="icon fa fa-phone fa-2x"></i>
          <span> +976 9904 2487</br> +976 7277 0001</span>
        </div>
        <div href="#" class="item item-icon-left">
          <i class="icon fa fa-facebook-square fa-2x"></i>
          <span> Facebook - Zeelme </span>
        </div>
        <div href="#" class="item item-icon-left">
          <i class="icon fa fa-envelope-open fa-2x"></i>
          <span> info@digitalcredit.mn</span>
        </div>
        <div href="#" class="item item-icon-left">
          <i class="icon fa fa-edge fa-2x"></i>
          <span> www.zeelme.mn</span>
        </div>
        <div href="#" class="item item-icon-left">
          <i class="icon fa fa-map-marker fa-1x"></i>
          <span>Улаанбаатар хот, Сүхбаатар дүүрэг, 8-р хороо, Амарын гудамж, Лагшан төв, 7 давхар</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>