.contact-container > .scroll {
  height: auto;
}
.contact-detail {
  margin: 20px 20px;
}
.contact-detail p {
  width: 40%;
}
.contact-detail-label {
  padding: 10px 15px;
}
.contact-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  margin-bottom: 10px;
}
.contact-list {
  border: 0 !important;
  margin: 10px;
}
.contact-list i {
  color: #acd322;
}
.contact-list span {
  margin-left: 20px;
}
#map {
  width: 100%;
  height: 100%;
}

.red {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 44px);
  background: red;
}
.green {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 44px);
  background: green;
}
.blue {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 44px);
  background: blue;
}
.slide {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
  /* scroll-snap-destination is not required in this case but could be necessary in some situations */
  -webkit-scroll-snap-destination: 100% 0%;
  -webkit-scroll-snap-points-y: repeat(calc(100vh - 44px));
}
