<ion-view hide-nav-bar="true">
  <link href="views/contact/contact.css" rel="stylesheet" />
  <ion-header-bar align-title="left" class="navbar" style="background: none; top: 0">
    <div class="title ion-color-big-text navbar-back-button" style="background: none">
      <button ng-click="$ionicGoBack()" class="nav-back-button button buttons button-clear header-item" style="left: 10px">
        <i class="ion-chevron-left ion-color-header"></i>
        <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Холбоо барих</span></span>
      </button>
    </div>
    <div class="navbar-right-icon">
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="false" ng-controller="contactCtrl" class="contact-container">
    <div class="contact-detail">
      <div class="list card contact-card">
        <div href="#" class="item item-icon-left">
          <i class="icon fa fa-phone fa-2x"></i>
          <span> <a href="tel:72770001" class="contact-a-tag">+976 7277 0001</a></span>
        </div>
        <div href="#" class="item item-icon-left">
          <i class="icon fa fa-facebook-square fa-2x"></i>
          <span> <a href="fb://facebook.com/OnlineZeelme/" class="contact-a-tag">Facebook - Zeelme</a> </span>
        </div>
        <div href="#" class="item item-icon-left">
          <i class="icon ion-email fa-2x"></i>
          <span> info@digitalcredit.mn</span>
        </div>
        <div href="#" class="item item-icon-left">
          <i class="icon ion-earth fa-2x"></i>
          <span> www.zeelme.mn</span>
        </div>
        <div href="#" class="item item-icon-left">
          <i class="icon fa fa-map-marker fa-1x"></i>
          <span>Улаанбаатар хот, Сүхбаатар дүүрэг, 8-р хороо, Амарын гудамж, Лагшан төв, 7 давхар</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>