<?xml version='1.0' encoding='utf-8'?>
<widget defaultlocale="en-US" id="com.digital.customerN" version="1.1.8"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">
    <name>ZeelMe</name>
    <description>Зээлийн дижитал маркет.</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io"></author>
    <vs:is-from-base-template>true</vs:is-from-base-template>
    <vs:template-name>BlankJS</vs:template-name>
    <vs:toolsetVersion>6.3.1</vs:toolsetVersion>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="windows-target-version" value="10.0" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <icon density="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
    </platform>
    <platform name="ios">
        <icon gap:platform="ios" height="180" src="res/icons/ios/icon-60.png" width="180" />
        <icon gap:platform="ios" height="60" src="res/icons/ios/icon-60.png" width="60" />
        <icon gap:platform="ios" height="120" src="res/icons/ios/icon-60.png" width="120" />
        <icon gap:platform="ios" height="76" src="res/icons/ios/icon-76.png" width="76" />
        <icon gap:platform="ios" height="152" src="res/icons/ios/icon-76.png" width="152" />
        <icon gap:platform="ios" height="40" src="res/icons/ios/icon-40.png" width="40" />
        <icon gap:platform="ios" height="80" src="res/icons/ios/icon-40.png" width="80" />
        <icon gap:platform="ios" height="57" src="res/icons/ios/icon-57.png" width="57" />
        <icon gap:platform="ios" height="114" src="res/icons/ios/icon-57.png" width="114" />
        <icon gap:platform="ios" height="72" src="res/icons/ios/icon-72.png" width="72" />
        <icon gap:platform="ios" height="144" src="res/icons/ios/icon-72.png" width="144" />
        <icon gap:platform="ios" height="29" src="res/icons/ios/icon-small.png" width="29" />
        <icon gap:platform="ios" height="58" src="res/icons/ios/icon-small.png" width="58" />
        <icon gap:platform="ios" height="50" src="res/icons/ios/icon-50.png" width="50" />        
        <icon gap:platform="ios" height="100" src="res/icons/ios/icon-50.png" width="100" />
    </platform>
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <splash density="land-ldpi" src="res/screens/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="res/screens/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="res/screens/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="res/screens/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="res/screens/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="res/screens/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="res/screens/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="res/screens/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="res/screens/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="res/screens/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="res/screens/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="res/screens/android/drawable-port-xxxhdpi-screen.png" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="fullscreen" value="false" />
    <preference name="GradlePluginKotlinEnabled" value="true" />
    <preference name="GradlePluginKotlinCodeStyle" value="official" />
    <preference name="GradlePluginKotlinVersion" value="1.3.50" />
    <preference name="android-targetSdkVersion" value="30" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="prerendered-icon" value="true" />
</widget>
