<ion-view hide-nav-bar="true">
  <div ng-repeat="data in [{'title':'Хэрэглэх заавар'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content ng-controller="introCtrl" id="loginLayout" scroll="false">
    <style>
      .slider-pager .slider-pager-page {
        width: 12px;
        color: #8f8f8f;
        transition: opacity 0.4s ease-in;
        opacity: 1;
      }

      .slider-pager .slider-pager-page.active {
        color: #000;
        width: 12px;
      }
      .intro-body-text {
        text-align: left;
        padding-right: 10%;
        padding-left: 10%;
        white-space: normal;
        width: 100%;
        color: #0a1a3e;
      }
      .intro-title {
        text-align: left;
        font-size: 16px;
        padding-right: 10%;
        padding-left: 10%;
        margin-top: 8%;
        font-weight: bold;
        color: #0a1a3e;
      }
      .slider-button-container {
        display: flex;
        padding-top: 10%;
      }
    </style>
    <ion-slide-box show-pager="true" style="height: 80%; padding-top: 35%" active-slide="$root.activeSlideImage" on-slide-changed="slideChanged(index)">
      <ion-slide ng-repeat="banner in bannerData">
        <h2 class="intro-title">{{banner.text2}}</h2>
        <p class="intro-body-text">{{banner.name}}</p>
        <img ng-src="{{banner.text1|guessImageMime:'img/icons/icon_img.png'}}" style="margin-left: auto; display: block; margin-right: auto; max-width: 80%; height: auto" />
      </ion-slide>
    </ion-slide-box>
    <div class="slider-button-container" ng-if="((bannerData|objLength)!=activeSlideIndex+1)">
      <button class="bottom-first-button" ng-click="nextSlideChanged()">ДАРААХ</button>
      <button class="bottom-second-button" ng-click="endSlideChanged()">АЛГАСАХ</button>
    </div>
    <div ng-if="((bannerData|objLength)==activeSlideIndex+1)">
      <!-- <button ng-click="showlogin()" class="single-button">Нэвтрэх</button> -->
    </div>
  </ion-content>
</ion-view>
