<ion-view hide-nav-bar="true">
  <link href="views/intro/intro.css" rel="stylesheet" />
  <ion-content id="loginLayout" overflow-scroll="true">
    <style>

    </style>
    <ion-header-bar align-title="left" class="navbar" style=" background: none; top: 0">
      <div class="title ion-color-big-text navbar-back-button">
        <button ng-click="$ionicGoBack()" class="nav-back-button button buttons button-clear header-item intro-back-nav" style="left: 10px">
          <i class="ion-chevron-left ion-color-header"></i>
          <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Хэрэглэх заавар</span></span>
        </button>
      </div>
      <div class="navbar-right-icon">
        <!-- <button class="button button-clear icon ion-search cus-header-icon ion-float-right ion-color-brand-green" ui-sref="search"></button> -->
      </div>
    </ion-header-bar>
    <ion-slide-box auto-play="true" slide-interval="2000" does-continue="true" show-pager="true" class="intro-slider" style="padding-top: 20%;visibility: visible;height: 100vh;" active-slide="$root.activeSlideImage" on-slide-changed="slideChanged(index)">
      <ion-slide ng-repeat="banner in bannerData">
        <h2 class="intro-title">{{banner.text2}}</h2>
        <p class="intro-body-text">{{banner.name}}</p>
        <img ng-src="{{banner.text1}}" style="margin-left: auto; display: block; margin-right: auto; max-width: 80%; height: 60%" />
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>