.intro-slider-container {
  height: 100%;
  padding-bottom: 15%;
}
.slider {
  height: 100%;
}
.box {
  height: 100%;
  padding: 30% 10% 20% 10%;
}
.slider-next-button1 {
  bottom: 0px;
  position: absolute;
  left: 50px;
  background: rgb(162, 209, 52);
  background: -moz-linear-gradient(60deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: -webkit-linear-gradient(60deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: linear-gradient(60deg, rgba(162, 209, 52, 1) 50%, rgba(59, 193, 249, 1) 77%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2d134",endColorstr="#3bc1f9",GradientType=1);
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  min-height: 35px !important;
  line-height: 35px !important;
  font-size: 14px !important;
}
.slider-next-button2 {
  background: rgb(162, 209, 54);
  background: -moz-linear-gradient(74deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 94%);
  background: -webkit-linear-gradient(74deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 94%);
  background: linear-gradient(74deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 94%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2d136",endColorstr="#3cc1f9",GradientType=1);
  color: white;
  border-radius: 10px;
  font-size: 14px;
  min-height: 35px !important;
  line-height: 35px !important;
  padding: 0 15px;
}
.slider-pager {
  padding-bottom: 20%;
}
.slider-slides {
  width: auto !important;
}
.intro-slider-img {
  width: 80%;
  padding-top: 10%;
  margin: 0 auto;
  display: flex;
  bottom: 18%;
  position: absolute;
}
.slider-title {
  width: 70%;
  font-size: 24px;
  color: #0a1a3e;
  font-family: "Roboto", sans-serif;
}
.slider-text {
  font-size: 14px;
  color: #0a1a3e;
  font-family: "Roboto", sans-serif;
}
.intro-bottom-btn-container {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
