<ion-view hide-nav-bar="true">
  <link href="views/loan_calc/loan_calc.css" rel="stylesheet" />
  <ion-header-bar align-title="left" class="navbar" style="background: none; top: 0">
    <div class="title ion-color-big-text navbar-back-button" style="background: none">
      <button ng-click="$ionicGoBack()" class="nav-back-button button buttons button-clear header-item" style="left: 10px">
        <i class="ion-chevron-left ion-color-header"></i>
        <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Зээлийн нөхцөл</span></span>
      </button>
    </div>
    <div class="navbar-right-icon">
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="false" class="loan-calc-container">
    <div class="big-container ghostwhite-noscroll-container">
      <div class="magic-container">
        <div class="bg-container">

          <table class="container-table">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Хүү /%/</th>
                <th>Хугацаа /сар/</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in $root.loan_condition | filter:{id:'!!'}">
                <td class="cond-first-col">{{data.subcategoryname}}</td>
                <td>{{data.minfee * 100 | number:'1'}} - {{data.maxfee * 100 | number:'1'}}</td>
                <td>{{data.minloanmonth}} - {{data.maxloanmonth}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ion-footer class="bottom-footer">

      </ion-footer>
    </div>
  </ion-content>
</ion-view>