.supplier-detail-img {
  max-height: 250px;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
.supplier-detail-card {
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  margin: 10px 20px;
}
.supplier-detail-card2 {
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
}
.suppliers-detail-body-p {
  margin: 0 10px;
}
.supplier-detail-first-td {
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
.supplier-detail-first-td i {
  zoom: 2;
}
.supplier-detail-second-td {
  vertical-align: middle;
}
.supplier-detail-table {
  width: 100%;
  font-size: 14px;
}
.supplier-detail-table tr {
  margin: 5px 0;
  display: block;
}
.radio-scroll-container {
  /* padding: 0 20px; */
}
.card-input-element {
  display: none;
}
.card-input {
  border: 1px solid #d5d5d5 !important;
  padding: 25px 15px 20px 15px;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%); */
  margin: 5px;
  min-width: 120px;
  min-height: 100px;
  max-height: 100px;
  /* max-width: 120px; */
  white-space: normal;
  position: relative;
}
.card-input-element:checked + .card-input {
  box-shadow: 0 0 2px 2px #acd322;
}
.card-input i {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #4b5180 !important;
}
.card-input-element:checked + .card-input > i {
  color: #acd322 !important;
}
.supplier-custom-radio-button {
  max-width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.supplier-step2-content {
}
.supplier-step2-scroll-row {
  display: flex;
  padding: 0px !important;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.condition-detail-input {
  border-radius: 5px;
  border: 1px solid #d5d5d5 !important;
  padding: 0px 5px;
}
.tugrug-input-container-supplier input {
  text-align: right !important;
  color: #4b5180 !important;
  font-weight: bold;
  border: 0px !important;
  padding-right: 5px !important;
}
.input-label-supplier {
  position: absolute;
  top: 23%;
  left: 3%;
}
.condition-detail-card {
  border-radius: 5px;
  border: 1px solid #d5d5d5 !important;
  margin: 10px 0;
  position: relative;
  z-index: 99;
  padding: 7px;
}

.condition-detail-card span {
  color: #4b5180 !important;
  font-weight: bold;
  float: right;
  margin-right: 5px;
}
.condition-detail-card-range {
  padding: 0px 20px 5px 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d5d5d5 !important;
  justify-content: space-between;
  align-items: center;
}
.condition-detail-card-range span {
  color: #4b5180 !important;
  font-weight: bold;
}
.condition-detail-card-range input {
  width: 80% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.condition-detail-span {
  padding: 20px;
  text-align: center;
  color: #4b5180 !important;
  font-weight: bold;
}
.slider-container-dtl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-bottom-info {
  justify-content: space-between;
  display: flex;
}
.supplier-step2-btn {
  padding: 15px;
  display: flex;
}

.switch-list-sup li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
  padding: 5px 0px !important;
}
.switch-list-sup li span {
  font-weight: bold;
  background-color: transparent;
  color: #4b5180;
  z-index: 1;
  display: inline-block;
  padding: 0px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
}
.radio-scroll-container {
}
.sup-condition-title {
  width: calc(100% - 40px);
}
.sup-switch-inp {
}
.custom-select-sup {
  display: flex !important;
  justify-content: flex-end !important;
}
.custom-select-sup select {
  height: 34px !important;
  border: 0px !important;
  color: #4b5180 !important;
  font-weight: bold;
  background: #fff !important;
  background-color: #fff !important;
}
.supp-dtl2-content {
  border-radius: 10px;
  padding: 20px;
  margin: 20px 20px 0px 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}
