<ion-view hide-nav-bar="true">
    <link href="views/supplier-detail/supplier-detail.css" rel="stylesheet" />
    <ion-header-bar align-title="left" class="navbar" style="background: none; top: 0">
        <div class="title ion-color-big-text navbar-back-button" style="background: none">
            <button ng-click="$ionicGoBack()" class="nav-back-button button buttons button-clear header-item" style="left: 10px">
                <i class="ion-chevron-left ion-color-header"></i>
                <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Дэлгүүр</span></span>
            </button>
        </div>
        <div class="navbar-right-icon">
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="true" class="ion-modified-content has-header">
        <div class="item item-body supplier-detail-card">
            <img class="full-image supplier-detail-img" ng-src="{{$root.imagePath}}{{selectedSupplierData.supplierpicture}}" />
            <p class="suppliers-detail-body-p">
                {{selectedSupplierData.advantages}}<br />
            <table class="supplier-detail-table">
                <tr>
                    <td class="supplier-detail-first-td"><i class="icon ion-location"></i></td>
                    <td class="supplier-detail-second-td">{{selectedSupplierData.address}}</td>
                </tr>
                <tr>
                    <td class="supplier-detail-first-td"><i class="icon ion-iphone"></i></td>
                    <td class="supplier-detail-second-td">{{selectedSupplierData.phonenumber}}</td>
                </tr>
                <tr>
                    <td class="supplier-detail-first-td"><i class="icon ion-earth" style="zoom: 1.5 !important;width: 28px !important;"></i></td>
                    <td class="supplier-detail-second-td">{{selectedSupplierData.website}}</td>
                </tr>
            </table>
            </p>
        </div>
        <button class="button btn single-button auto-step1-next-btn" id="Next" ng-click="sendRequestFromSupplier()">Хүсэлт илгээх</button>
    </ion-content>
</ion-view>