<ion-view hide-nav-bar="true">
    <link href="views/supplier-detail/supplier-detail.css" rel="stylesheet" />
    <div ng-repeat="data in supplierName" ng-include src="'views/navbar.html'"></div>

    <ion-content overflow-scroll="true" class="ion-modified-content margin-top-50 supplier-step2-content">
        <div class="supp-dtl2-content custom-form-container">
            <span class="term-title padding-left-10 sup-condition-title">Зээлийн нөхцөл</span>
            <div class="radio-scroll-container">
                <div class="row supplier-step2-scroll-row">
                    <div class="supplier-custom-radio-button" ng-repeat="cond in fidteredSupplierConditions | orderBy:'id'" ng-click="selectCondition(cond.id)">
                        <label>
                            <input type="radio" id="captureRad{{cond.id}}" name="product" ng-checked="checkVal" class="card-input-element" value="{{cond.id}}" ng-model="$root.selected" />
                            <div class="panel panel-default card-input">
                                <span class="panel-body">{{cond.name}}</span>
                                <i class="icon ion-checkmark-circled"></i>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="condition-detail-span" ng-show="isConditionSelected">
                {{selectedConditionDetail}}
            </div>
            <label class="item item-input item-stacked-label form-input-label">
                <p class="input-label" style="margin: 0;">Зээлийн хэмжээ</p>
                <input inputmode="numeric" id="loanAmountRequest" pattern="[0-9]*" type="text" placeholder="" name="" class="property-input disabled-loan-amount" ng-model="$root.newReqiust.loanAmount" ng-change="changeLoanAmountSupplier()" ng-blur="getbankDataSup()" thousand-separator select-on-click>
            </label>
            <label class="item item-input item-stacked-label form-input-label" ng-show="isSlideSelected">
                <p class="input-label" style="margin: 0;">Урьдчилгаа төлбөр</p>
                <input inputmode="numeric" pattern="[0-9]*" type="text" placeholder="" name="" ng-model="$root.newReqiust.advancePayment" class="property-input" ng-change="calcLoanAmountSupplier();" ng-blur="getbankDataSup()" thousand-separator select-on-click>
            </label>

            <div class="condition-detail-card-range" ng-show="isSlideSelected">
                <div class="slider-container-dtl">
                    <span>4</span>
                    <input type="range" name="volume" min="4" max="{{maxRange}}" ng-model="$root.selectedMonth" ng-change="selectMonth()">
                    <span>{{maxRange}}</span>
                </div>
                <div class="slider-bottom-info">
                    <div>
                        Зээлийн хугацаа
                    </div>
                    <span>{{selectedConditionMonth}}</span>
                </div>
            </div>
            <div class="condition-detail-card" ng-show="!isSlideSelected">
                Зээлийн хугацаа
                <span>{{selectedConditionMonth}}</span>
            </div>
            <div class="condition-detail-card" ng-show="!isSlideSelected">
                Нэг удаагийн төлөлт
                <span class="">{{selectedConditionAmount|formatNumber}}</span>
            </div>
            <div class="condition-detail-card" ng-show="!isSlideSelected">
                Сарын хүү
                <span class="">{{selectedConditionFee}}</span>
            </div>
            <div class="condition-detail-input tugrug-input custom-select-sup" ng-show="isSlideSelected">
                <span class="input-label-supplier">Зээл авах байршил</span>
                <select class="autoleasing-location-select" ng-model="$root.newReqiust.locationId" ng-change="getbankDataSup();">
                    <option ng-repeat="loc in $root.locationData | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                        {{loc.name}}</option>
                </select>
            </div>
            <div class="condition-detail-input tugrug-input custom-select-sup" ng-show="isSlideSelected">
                <span class="input-label-supplier">Хамтран зээлдэгчтэй эсэх</span>
                <select class="autoleasing-location-select" ng-model="$root.newReqiust.isCoBorrower">
                    <option ng-repeat="loc in $root.isColl | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                        {{loc.name}}</option>
                </select>
            </div>
            <div class="switch-input-container sup-switch-inp">
                <ul class="switch-list-sup">
                    <li>
                        <span class="step2-span step2-term" ng-click="termModalAgreement.show()">Үйлчилгээний нөхцлийг зөвшөөрөх</span>
                        <span>
                            <label class="step2-switch" id="step2isAgree">
                                <input type="checkbox" id="step2-togBtn" ng-true-value="1554263832132" ng-checked="true" ng-false-value="1554263832151" ng-model="$root.newReqiust.serviceAgreementId" />
                                <div class="step2-slider step2-round">
                                    <span id="step2-toggle-on" class="step2-on">Тийм</span>
                                    <span id="step2-toggle-off" class="step2-off active">Үгүй</span>
                                </div>
                            </label>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-padding pulse-animation" id="section07">
            <p class="middle-title agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГАЖ БУЙ БАНК, ББСБ-УУД</p>
            <ion-scroll direction="x" class="wide-scroll-bank-step agree-bank-arrow">
                <div class="bank" ng-repeat="bank in bankListFilter.Agree">
                    <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                    <p>{{bank.department_name}}</p>
                </div>
            </ion-scroll>
        </div>
        <div class="container-padding" id="section07">
            <p class="middle-title not-agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГААГҮЙ БАНК, ББСБ-УУД</p>
            <ion-scroll direction="x" class="wide-scroll-bank-step">
                <div class="bank" ng-repeat="bank in bankListFilter.NotAgree">
                    <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                    <p>{{bank.department_name}}</p>
                </div>
            </ion-scroll>
        </div>
        <div class="supplier-step2-btn">
            <button class="button btn single-button" id="Next" ng-click="step2Sup()">Үргэлжлүүлэх</button>
        </div>
    </ion-content>
</ion-view>
<script id="templates/term-content.html" type="text/ng-template">
  <ion-modal-view class="term-chat-modal">
    <ion-content class="padding bank-chat-content" scroll="false">
        <span class="term-modal-off-text" ng-click="termModalAgreement.hide()"><img style="width: 20px" src="img/x_mark.png" /></span>
        <div class="term-modal-include" ng-include src="'views/term/term-content.html'"></div>
    </ion-content>
  </ion-modal-view>
</script>