.supplier-detail-img {
  max-height: 250px;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
.supplier-detail-card {
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  margin: 10px 20px;
}
.suppliers-detail-body-p {
  margin: 0 10px;
}
.supplier-detail-first-td {
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
.supplier-detail-first-td i {
  zoom: 2;
}
.supplier-detail-second-td {
  vertical-align: middle;
}
.supplier-detail-table {
  width: 100%;
  font-size: 14px;
}
.supplier-detail-table tr {
  margin: 5px 0;
  display: block;
}
.radio-scroll-containe {
  /* padding: 0 20px; */
}
.card-input-element {
  display: none;
}
.card-input {
  padding: 25px 15px 20px 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  margin: 5px;
  /* min-width: 120px; */
  min-height: 100px;
  max-height: 100px;
  /* max-width: 120px; */
  white-space: normal;
}
.card-input-element:checked + .card-input {
  box-shadow: 0 0 2px 2px #acd322;
}

.supplier-custom-radio-button {
  max-width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.supplier-step2-content {
}
.supplier-step2-scroll-row {
  display: flex;
  padding: 0px !important;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.condition-detail-input {
  padding: 13px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  width: calc(100% - 40px);
  margin: 10px 20px;
}
.tugrug-input-container-supplier input {
  text-align: right !important;
  color: #4b5180 !important;
  font-weight: bold;
  border: 0px !important;
  padding-right: 5px !important;
}
.input-label-supplier {
  position: absolute;
  top: 35%;
  left: 5%;
}
.condition-detail-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  width: calc(100% - 40px);
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.condition-detail-card span {
  color: #4b5180 !important;
  font-weight: bold;
}
.condition-detail-card-range {
  padding: 0px 20px 5px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  width: calc(100% - 40px);
  margin: 10px 20px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}
.condition-detail-card-range span {
  color: #4b5180 !important;
  font-weight: bold;
}
.condition-detail-card-range input {
  width: 80% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.condition-detail-span {
  padding: 20px;
  text-align: center;
  color: #4b5180 !important;
  font-weight: bold;
}
.slider-container-dtl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-bottom-info {
  justify-content: space-between;
  display: flex;
}
.supplier-step2-btn {
  padding: 15px;
  display: flex;
}

.switch-list-sup li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
  padding: 5px 0px !important;
}
.switch-list-sup li span {
  font-weight: bold;
  background-color: transparent;
  color: #4b5180;
  z-index: 1;
  display: inline-block;
  padding: 0px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
}
.radio-scroll-container {
  width: calc(100% - 40px);
  margin: 10px 20px;
}
.sup-condition-title {
  width: calc(100% - 40px);
  margin: 10px 20px;
}
.sup-switch-inp {
  width: calc(100% - 40px);
  margin: 10px 20px;
}
