<ion-view hide-nav-bar="true">
    <link href="views/supplier-detail/supplier-detail.css" rel="stylesheet" />
    <div ng-repeat="data in supplierName" ng-include src="'views/navbar.html'"></div>

    <ion-content overflow-scroll="true" class="ion-modified-content margin-top-50 danselect-content">
        <div class="item item-body">
            <img class="full-image supplier-detail-img" ng-src="{{$root.imagePath}}{{selectedSupplierData.supplierpic}}" />
            <p class="suppliers-detail-body-p">
                {{selectedSupplierData.advantages}}<br />
            <div class="suppliers-detail-body-div">
                <i class="icon ion-location"></i><span class="suppliers-detail-icon"> {{selectedSupplierData.address}}</span>
            </div>
            <div class="suppliers-detail-body-div">
                <i class="icon ion-iphone"></i><span class="suppliers-detail-icon"> {{selectedSupplierData.phonenumber}}</span>
            </div>
            <div class="suppliers-detail-body-div">
                <i class="icon ion-earth size-24"></i> <span class="suppliers-detail-icon"> {{selectedSupplierData.website}}</span>
            </div>
            </p>
            <p>
                <a href="#" class="subdued">aaaa</a>
                <a href="#" class="subdued">bbbb</a>
            </p>
        </div>
    </ion-content>
</ion-view>