<ion-view id="loanPages" hide-nav-bar="true">
  <link href="views/sale/sale.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Авто машин'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content class="ion-modified-content margin-top-50">
    <div class="big-container">
      <div class="magic-container" style="margin: 0 20px">
        <p class="loan-tab-title ion-color-text">Бүтээгдэхүүний төрөл сонгох</p>
        <div style="margin: 0 10px">
          <div class="selector-container">
            <span class="title">Дээд үнэ</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Доод үнэ</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Сард төлөх боломжтой дүн</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Зээлийн хугацаа сараар</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Орж ирсэн он</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Үйлдвэрлэсэн он</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Үйлдвэр</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Загвар</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Явсан км</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Өнгө</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Хөдөлгүүр</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Хурдны хайрцаг</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Хөтлөгч</span>
            <select class="search-selection">
              <option disabled selected value></option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="selector-container">
            <span class="title">Жолооны хүрд</span>
            <select class="search-selection">
              <option>Зөв</option>
              <option>Буруу</option>
            </select>
          </div>
        </div>
      </div>
      <ion-footer class="bottom-footer">
        <button class="button btn single-button" id="Next" ui-sref="#">Зураг оруулах</button>
        <button class="button btn single-button" id="Next" ui-sref="#">Зарлах</button>
      </ion-footer>
    </div>
  </ion-content>
</ion-view>
