.btn:hover {
  color: white;
}
.btn:focus {
  color: white;
}
.remove-step {
  display: none;
}
.register-step-1 input {
  background-color: #fff;
  padding: 0 15px 0 20px;
  font-weight: bold;
  color: #4b5180 !important;
  background: #fff;
  text-align-last: right;
}
.register-step-2 input {
  background-color: #fff;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-color: #acd322;
  padding: 0 15px 0 20px;
  font-weight: bold;
  color: #4b5180 !important;
  background: #fff;
  margin: 20px 0;
}
.register-mobile {
  text-align: left !important;
}
.register-confirm {
  text-align: left !important;
}
.reg-show-pass-btn {
  position: absolute;
  right: 5px;
  top: 0px;
  color: #add326;
  min-height: 0px !important;
}
.register-show-pass-btn {
  color: #4b5180;
  z-index: 99;
  top: -40px;
  min-height: 0px !important;
}
.register-if-account {
  margin: 0 auto;
  width: fit-content;
}
.register-content > .scroll {
  height: 100%;
}
.register-step1-container {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  margin: 20% 20px;
}
.register-step1-title {
  text-align: center;
  font-size: 12px !important;
  text-transform: uppercase;
  width: 70%;
  margin: 0 auto;
}
.step-1-text {
  position: relative;
}
.resend-code-btn {
  background: #fff;
  width: 55vw;
  font-size: 10px;
  letter-spacing: 1px !important;
  margin: 10px auto !important;
  display: block !important;
  color: #000;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  min-height: 35px;
  line-height: 35px;
}
.register-label {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #bcbcbc;
  padding: 6px 0 5px 5px;
}
.register-label .input-label {
  font-size: 14px !important;
}
.register-step-1 input[type="text"],
.register-step-1 input[type="password"] {
}
.register-step-1 ul.helper-text {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  line-height: 22px;
  color: red;
}
.register-step-1 ul.helper-text li.valid {
  color: #4b5180 !important;
  font-weight: bold;
}
form.valid input {
  border: 2px solid blue;
}
.valid-pass-helper-container {
  display: contents;
  float: left;
  margin: 10px 0;
}
