.progressbar {
  margin: 50px 0 50px 0;
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #c6c8d4;
}
.progressbar li:before {
  width: 15px;
  height: 15px;
  content: "";
  line-height: 30px;
  border: 2px solid #c6c8d4;
  background-color: #c6c8d4;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  transition: all 0.8s;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #c6c8d4;
  top: 7px;
  left: -50%;
  z-index: -1;
  transition: all 0.8s;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar .step-li-1.active:before {
  border-color: #aad426;
  background-color: #aad426;
  transition: all 0.8s;
}
.progressbar .step-li-2.active:before {
  border-color: #68c9a6;
  background-color: #68c9a6;
  transition: all 0.8s;
}
.progressbar .step-li-2.active:after {
  transition: all 0.8s;
  background: rgb(170, 212, 38);
  background: -moz-linear-gradient(45deg, rgba(170, 212, 38, 1) 15%, rgba(104, 201, 166, 1) 77%);
  background: -webkit-linear-gradient(45deg, rgba(170, 212, 38, 1) 15%, rgba(104, 201, 166, 1) 77%);
  background: linear-gradient(45deg, rgba(170, 212, 38, 1) 15%, rgba(104, 201, 166, 1) 77%);
}
.progressbar .step-li-3.active:before {
  border-color: #41c1f2;
  background-color: #41c1f2;
  transition: all 0.8s;
}
.progressbar .step-li-3.active:after {
  transition: all 0.8s;
  background: rgb(104, 201, 166);
  background: -moz-linear-gradient(45deg, rgba(104, 201, 166, 1) 30%, rgba(65, 193, 242, 1) 77%);
  background: -webkit-linear-gradient(45deg, rgba(104, 201, 166, 1) 30%, rgba(65, 193, 242, 1) 77%);
  background: linear-gradient(45deg, rgba(104, 201, 166, 1) 30%, rgba(65, 193, 242, 1) 77%);
}

.btn {
  background: rgb(162, 209, 52);
  background: -moz-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: -webkit-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2d134",endColorstr="#3bc1f9",GradientType=1);
  color: white;
  width: 70%;
  border-radius: 10px;
}
.btn:hover {
  color: white;
}
.btn:focus {
  color: white;
}
.btn-container {
  /* display: flex; */
  display: block;
  justify-content: center;
  width: 100%;
  bottom: 10%;
  position: absolute;
}
body {
  background-color: #333333;
}
.remove-step {
  display: none;
}
.add-step {
  display: block;
}
/* .register-step-1 {
  padding: 20px 40px;
} */
.register-step-1 {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 60%;
  margin: 0 auto;
}
.register-step-2 {
  padding: 20px 40px;
}
.register-step-1 input {
  background-color: #f8f8fd;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-color: #acd322;
  padding: 0 15px 0 20px;
  font-weight: bold;
  color: #4b5180 !important;
  background: #f8f8fd;
}
.register-step-1 input::-webkit-outer-spin-button,
.register-step-1 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.register-step-1 input {
  -moz-appearance: textfield; /* Firefox */
}
.register-step-2 input::-webkit-outer-spin-button,
.register-step-2 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.register-step-2 input {
  -moz-appearance: textfield; /* Firefox */
}
.register-step-2 input {
  background-color: #f8f8fd;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-color: #acd322;
  padding: 0 15px 0 20px;
  font-weight: bold;
  color: #4b5180 !important;
  background: #f8f8fd;
}
.register-mobile {
  text-align: left !important;
}
.register-mobile::-webkit-outer-spin-button,
.register-mobile::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.register-confirm {
  text-align: left !important;
}
.register-next-button {
  border-color: white;
  min-height: 35px;
  line-height: 35px;
  font-weight: normal;
}
.reg-show-pass-btn {
  position: absolute;
  right: 7px;
  top: 80px;
  color: #add326;
  min-height: 0px !important;
}
.register-if-account {
  margin: 0 auto;
  width: fit-content;
}
.register-content > .scroll {
  height: 100%;
}
