<ion-view id="loanPages" hide-nav-bar="true" cache-view="false">
    <link href="views/other_goods/other_goods.css" rel="stylesheet" />
    <link href="views/loan/business_loan/business_loan.css" rel="stylesheet" />
    <div id="overlayItemPicGoods" ng-click="goodsSourceSelectOff()">
        <div class="overlay-goods-content">
            <div class="get-photo-choose">
                <div class="get-camera" ng-click="takePhoto()"><i class="icon ion-camera photo-choose-icon"></i><span class="photo-choose-span">Камер нээх</span></div>
                <div class="get-gallery" ng-click="takePhoto('1')"><i class="icon ion-images photo-choose-icon"></i><span class="photo-choose-span">Зурагнаас сонгох</span></div>
            </div>
            <button class="button btn single-button">Хаах</button>
        </div>
    </div>
    <ion-header-bar align-title="left" class="navbar" style="background: none; top: 0">
        <div class="title ion-color-big-text navbar-back-button" style="background: none">
            <button ng-click="$ionicGoBack()" class="nav-back-button button buttons button-clear header-item" style="left: 10px">
                <i class="ion-chevron-left ion-color-header"></i>
                <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Бараа бүртгэх</span></span>
            </button>
        </div>
        <div class="navbar-right-icon">
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="ion-modified-content add-goods-content">
        <div class="big-container ghostwhite-noscroll-container">
            <div class="magic-container add-goods-content-card">
                <div class="margin-lr-20">
                    <div class="custom-form-container">
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Барааны төрөл</p>
                            <select ng-model="$root.newCarReq.categoryId" class="custom-form-input-select" ng-change="changeSupCategory($root.newCarReq.categoryId)">
                                <option ng-repeat="cat in supplierCategory track by $index" ng-if="cat.name" value="{{cat.id}}">
                                    {{cat.name}}
                                </option>
                            </select>
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Бараа авах дэлгүүр</p>
                            <select id="shopId" ng-model="$root.newCarReq.shopId" class="custom-form-input-select" ng-change="changeSubVendor($root.newCarReq.shopId)" disabled>
                                <option ng-repeat="supp in allSupplierList track by $index" ng-if="supp.suppliername" value="{{supp.id}}">{{supp.suppliername}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Дэлгүүрийн салбар</p>
                            <select id="subVendorId" ng-model="$root.newCarReq.subVendorId" class="custom-form-input-select" ng-change="changeSubVendor($root.newCarReq.shopId)" disabled>
                                <option ng-repeat="supp in subVendor track by $index" ng-if="supp.suppliername" value="{{supp.id}}">{{supp.suppliername}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Барааны үнэ</p>
                            <input inputmode="numeric" pattern="[0-9]*" type="text" placeholder="" name="" id="itemPriceOtherGoods" ng-model="$root.newCarReq.unitPrice" class="property-input" ng-keyup="hideKeyboard($event)" thousand-separator>
                            <input type="hidden" ng-model="$root.newCarReq.itemid" select-on-click />
                        </label>
                    </div>
                </div>
            </div>
            <ion-footer class="bottom-footer margin-bottom-0">
                <div class="bank-container" ng-click="$root.clickBank()">
                    <p>Танд зээл олгох боломжтой банк, ББСБ-ууд</p>

                    <img ng-repeat="bank in allBankList | filter:{id:'!!'}" ng-if="bank.bank_logo" ng-src="{{$root.imagePath}}{{bank.bank_logo}}" />

                </div>
                <button class="button btn single-button" id="Next" ng-click="addOther()">Хадгалах</button>
            </ion-footer>
        </div>
    </ion-content>
</ion-view>