<ion-view id="loanPages" hide-nav-bar="true">
    <link href="views/other_goods/other_goods.css" rel="stylesheet" />
    <link href="views/loan/business_loan/business_loan.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Хэрэглээний лизинг'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content overflow-scroll="true" class="ion-modified-content margin-top-50 autoleasing-step1-content">
        <div class="big-container ghostwhite-noscroll-container">
            <div class="magic-container">
                <div class="margin-lr-20">
                    <div class="margin-tb-20-40">
                        <div class="addBtnContainer">
                            <button class="button btn single-button" id="Next" ui-sref="addOtherGoods">Бараа
                                нэмэх</button>
                        </div>
                        <div class="item_lists">
                            <ul>
                                <li class="items" ng-repeat="item in $root.otherGoods track by item.itemid">
                                    <ion-checkbox class="other-goods-checkbox" ng-model="isChecked" ng-change="selectCarBasket(item,isChecked)">
                                        <div class="items-list-container">
                                            <img src="{{item.image|guessImageMime}}" />
                                        </div>
                                        <div class="left-text" style="margin-top: 4%;margin-left: 100px;height: 18px;position: absolute;">
                                            <p class="itemname" style="color: #000;font-weight: bold;">{{item.shopname}}</p>
                                            <p class="price">{{item.amount|formatNumber}}₮</p>
                                        </div>
                                    </ion-checkbox>
                                    <div class="other-goods-trash icon ion-ios7-trash-outline" ng-click="otherGoodsDelete(item.itemid)"></div>
                                </li>
                            </ul>
                            <div class="total-price">
                                <span class="total-price-title">Нийт үнэ</span>
                                <span class="total-price-amount">{{sumPrice|formatNumber}} ₮</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ion-footer class="bottom-footer">
                <div class="attention-text">
                    <span>Анхааруулга</span>
                    <span>Үнийн дүнгээс гарсан зөрүүг та нэмж төлж болзошгүй тул та үнийн дүнгээ зөв оруулна уу</span>
                </div>
                <button class="button btn single-button" id="Next" ng-click="nexClivk()">Үргэлжлүүлэх</button>
            </ion-footer>
        </div>
    </ion-content>
</ion-view>