<ion-view id="loanPages" hide-nav-bar="true">
    <link href="views/other_goods/other_goods.css" rel="stylesheet" />
    <link href="views/loan/business_loan/business_loan.css" rel="stylesheet" />
    <!-- <div ng-repeat="data in [{'title':'Хэрэглээний лизинг'}]" ng-include src="'views/navbar.html'"></div> -->

    <ion-header-bar align-title="left" class="navbar" style="background: none">
        <div class="title ion-color-big-text navbar-back-button" style="background: none">
            <button ng-click="backFromOtherGoods()" class="nav-back-button button buttons button-clear header-item" style="left: 10px">
                <i class="ion-chevron-left ion-color-header"></i>
                <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Хэрэглээний лизинг</span></span>
            </button>
        </div>
        <div class="navbar-right-icon">
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="ion-modified-content autoleasing-step1-content">
        <div class="big-container ghostwhite-noscroll-container">
            <div class="magic-container other-goods-content">
                <div class="margin-lr-20">
                    <div class="">
                        <div class="addBtnContainer">
                            <button class="button btn single-button" id="Next" ui-sref="addOtherGoods">Бараа бүртгэх</button>
                        </div>
                        <div class="item_lists">
                            <ul>
                                <li class="items" ng-repeat="item in $root.otherGoods track by item.itemid">
                                    <ion-checkbox class="other-goods-checkbox" ng-model="isChecked" ng-change="selectItemConsumer(item,isChecked)">
                                        <div class="items-list-container">
                                            <img ng-src="{{item.picture1}}" />
                                        </div>
                                        <div class="left-text" style="margin-top: 4%;margin-left: 100px;height: 18px;position: absolute;">
                                            <p class="itemname" style="color: #000;font-weight: bold;" ng-repeat="itemSup in $root.suppliers" ng-if="itemSup.id == item.shopId">{{itemSup.suppliername}}</p>
                                            <p class="price">{{item.unitPrice|formatNumber}}₮</p>
                                        </div>
                                    </ion-checkbox>
                                    <div class="other-goods-trash icon ion-ios7-trash-outline" ng-click="otherGoodsDelete(item.itemid)"></div>
                                </li>
                            </ul>
                            <div class="total-price">
                                <span class="total-price-title">Нийт үнэ</span>
                                <span class="total-price-amount ion-font-weight-bold">{{sumPrice|formatNumber}} ₮</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ion-footer class="bottom-footer">
                <div class="attention-text">
                    <span>Анхааруулга</span>
                    <span>Үнийн дүнгээс гарсан зөрүүг та нэмж төлж болзошгүй тул та үнийн дүнгээ зөв оруулна уу</span>
                </div>
                <div class="bank-container">
                    <p>Танд зээл олнох боломжтой банк, ББСБ-ууд</p>

                    <img ng-repeat="bank in allBankList | filter:{id:'!!'}" ng-if="bank.bank_logo" ng-src="{{$root.imagePath}}{{bank.bank_logo}}" />

                </div>
                <button class="button btn single-button" id="Next" ng-click="nexClivk()">Үргэлжлүүлэх</button>
            </ion-footer>
        </div>
    </ion-content>
</ion-view>