<ion-view id="loanPages" hide-nav-bar="true">
    <link href="views/other_goods/other_goods.css" rel="stylesheet" />
    <link href="views/loan/business_loan/business_loan.css" rel="stylesheet" />
    <ion-header-bar align-title="left" class="navbar" style="background: none; top: 0">
        <div class="title ion-color-big-text navbar-back-button" style="background: none">
            <button ng-click="backFromOtherGoods()" class="nav-back-button button buttons button-clear header-item" style="left: 10px">
                <i class="ion-chevron-left ion-color-header"></i>
                <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Хэрэглээний лизинг</span></span>
            </button>
        </div>
        <div class="navbar-right-icon">
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="ion-modified-content">
        <div class="big-container ghostwhite-noscroll-container">
            <div class="magic-container other-goods-content">
                <div class="margin-lr-20">
                    <div class="goods-row1-container">
                        <span class="goods-row1-text">Та Лизингээр авах барааны төрөл болон дэлгүүрээ сонгоорой.</span>
                        <div class="addBtnContainer">
                            <button class="button btn single-button" id="Next" ui-sref="addOtherGoods">Бараа бүртгэх</button>
                        </div>
                        <div class="item_lists">
                            <ul>
                                <li class="items" ng-repeat="item in $root.otherGoods track by item.itemid">
                                    <ion-checkbox class="other-goods-checkbox" ng-model="isChecked">
                                        <div class="items-list-container">
                                            <div class="other-goods-trash icon ion-ios7-trash-outline" ng-click="otherGoodsDelete(item.itemid)"></div>
                                        </div>
                                        <div class="left-text" style="margin-top: 4%;margin-left: 90px;height: 18px;position: absolute;">
                                            <p class="itemname" style="color: #4b5180 !important;font-weight: bold;" ng-repeat="itemSup in $root.suppliers" ng-if="itemSup.id == item.shopId">{{itemSup.suppliername}}</p>
                                            <p class="price">{{item.unitPrice|formatNumber}}₮</p>
                                        </div>
                                    </ion-checkbox>
                                </li>
                            </ul>
                            <div class="total-price" ng-if="!sumPrice|isEmpty">
                                <span class="total-price-title">Нийт үнэ</span>
                                <span class="total-price-amount ion-font-weight-bold">{{sumPrice|formatNumber}} ₮</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="goods-middle-card" ng-if="$root.showSec">
                <span>Та харилцагч дэлгүүрүүдээс сонгон лизингээр бараа авах хүсэлтээ илгээгээрэй</span>
                <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" ng-if="consumerSuppliers.length" pager-click="clickSlidePager(index)" class="consumer-slider">
                    <ion-slide ng-repeat="bg in consumerSuppliers | filter:{id:'!!'}" class="consumer-ion-slide">
                        <img style="width: 200px;" ng-src="{{$root.imagePath}}{{bg.supplierpic}}" />
                    </ion-slide>
                </ion-slide-box>
            </div>
            <ion-footer class="bottom-footer">
                <div class="bank-container">
                    <p>Танд зээл олгох боломжтой банк, ББСБ-ууд</p>

                    <img ng-repeat="bank in allBankList | filter:{id:'!!'}" ng-if="bank.bank_logo" ng-src="{{$root.imagePath}}{{bank.bank_logo}}" />

                </div>
                <button class="button btn single-button" id="Next" ng-click="nexClivk()">Үргэлжлүүлэх</button>
            </ion-footer>
        </div>
    </ion-content>
</ion-view>
<script id="templates/consumer.html" type="text/ng-template">
    <ion-modal-view class="auto-temp-modal-view">
      <ion-content class="padding bank-chat-content" scroll="false">
        <!-- <span class="term-modal-off-text" ng-click="consumerModal.hide()"><img style="width: 20px" src="img/x_mark.png" /></span> -->
          <div class="templates-modal-include" ng-include src="'views/templates/consumer.html'"></div>
      </ion-content>
    </ion-modal-view>
  </script>