.danselect-card {
  display: inline-block;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  height: auto;
  margin: 20px 20px 0px 20px;
}
.danselect-img {
  margin: auto;
}
.danselect-card-row1 {
  display: flex;
}
.danselect-card-row1 img {
  width: 150px;
}
.danselect-card-row2 {
  text-align: center;
  margin: 30px 15px;
}
.danselect-card-text {
  font-size: 14px;
}
.dan-hand-btn {
  margin: 10px auto 0px auto;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-color: #acd322;
  min-height: 37px;
  line-height: 34px !important;
  font-weight: bold;
  color: #4b5180;
  font-size: 14px;
  width: 44vw;
}
.dan-is-btn {
  font-weight: bold;
  color: #4b5180;
  font-size: 14px;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-color: #acd322;
  margin: 10px auto 0px auto;
  width: 44vw;
  text-align: center;
  min-height: 37px;
  line-height: 34px !important;
}
.dan-is-btn-txt {
  color: #4b5180;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px;
  border-bottom-color: #acd322;
  border-bottom-style: dashed;
  width: fit-content;
  margin: 0 auto;
}
