<ion-view hide-nav-bar="true">
    <link href="views/suppliers-search/suppliers-search.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Дэлгүүр хайх'}]" ng-include src="'views/navbar.html'"></div>
    <div class="navbar-right-icon suppliers-grid-icon">
        <button ng-click="gridChange()" class="changelayoutbutton layout-list" id="changeLayout">
            <i id="buttonIcon" class="custom-grid"></i>
        </button>
    </div>
    <ion-content overflow-scroll="true" class="ion-modified-content margin-top-50">

        <div class="suppliers-search-container">
            <span class="icon ion-search suppliers-search-item"></span>
            <input class="suppliers-search-input" type="text" placeholder="Хайх" ng-model="search.suppliername" ng-change="getSearchDatra()" />
            <span class="icon ion-ios7-settings-strong suppliers-option-item" ng-class="isShowOption ? 'ion-ios7-settings' : 'ion-ios7-settings-strong'" ng-click="showHideOption()"></span>
        </div>

        <div class="wide-as-needed scroll-supplier-x">
            <div class="horizontal-item-supplier-x">
                <span ng-repeat="cat in selectedCats" ng-click="clearSelectedSubCat(cat.id)">x {{cat.name}}</span>
            </div>
        </div>
        <ion-list class="supplier-search-ion-list" id="supplier-search-ion-list">
            <div ng-repeat="(key, value) in suppliersWithCategory | groupBy:'categoryname'" class="supplier-search-repeat">
                <ion-item class="item-stable supplier-search-ion-item" ng-click="toggleGroup(value)" ng-class="{active: isGroupShown(value)}">
                    <i class="icon" ng-class="isGroupShown(value) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    {{key}}
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="product in value" ng-show="isGroupShown(value)" ng-click="selectCat(product.subcategoryid,product.subcategoryname)">
                    - {{product.subcategoryname}}
                </ion-item>
            </div>
        </ion-list>
        <div class="suppliers-category">
            <ul id="glayout">
                <li class="car-detail-column" ng-repeat="car in suppliersList | filter:search.suppliername | groupBy:'suppliername'" ng-click="supplierDetailFromSuppliersSearch(car[0].id)">
                    <div class="suppliers-list-img-container">
                        <img ng-src="{{$root.imagePath}}{{car[0].supplierpic}}" />
                    </div>
                    <span class="suppliers-name">{{car[0].suppliername}}</span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>