<ion-view hide-nav-bar="true">
    <link href="views/suppliers-search/suppliers-search.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Дэлгүүр хайх'}]" ng-include src="'views/navbar.html'"></div>
    <div class="navbar-right-icon suppliers-grid-icon">
        <button ng-click="gridChange()" class="changelayoutbutton layout-list" id="changeLayout">
            <i id="buttonIcon" class="custom-grid"></i>
        </button>
    </div>
    <ion-content overflow-scroll="true" class="ion-modified-content margin-top-50 danselect-content">

        <div class="suppliers-search-container">
            <span class="icon ion-search suppliers-search-item"></span>
            <input class="suppliers-search-input" type="text" placeholder="Хайх" ng-model="search.modelname" ng-change="getSearchDatra()" />
            <span class="icon ion-ios7-settings-strong suppliers-option-item" ng-click="showHideOption()"></span>
        </div>

        <ion-list class="supplier-search-ion-list" id="supplier-search-ion-list">
            <div ng-repeat="(key, value) in suppliersWithCategory | groupBy:'categoryname'" class="supplier-search-repeat">
                <ion-item class="item-stable supplier-search-ion-item" ng-click="toggleGroup(value)" ng-class="{active: isGroupShown(value)}">
                    <i class="icon" ng-class="isGroupShown(value) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    {{key}}
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="product in value" ng-show="isGroupShown(value)">
                    - {{product.subcategoryname}}
                </ion-item>
            </div>
        </ion-list>
        <div class="suppliers-category">
            <ul id="glayout">
                <li class="car-detail-column" ng-repeat="car in consumerSuppliers | filter:search.modelname" ng-if="car.id" ng-click="supplierDetailFromSuppliersSearch(car.id)">
                    <div class="suppliers-list-img-container">
                        <img ng-src="{{$root.imagePath}}{{car.supplierpic}}" />
                    </div>
                    <span class="suppliers-name">{{car.suppliername}}</span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>