.suppliers-category .car-detail-column {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  height: 120px;
  margin: 10px 20px;
  width: calc(100% - 40px);
}

.suppliers-search-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  margin: 20px;
  padding: 5px;
  position: relative;
  display: flex;
}
.suppliers-category .car-detail-grid {
  display: inline-grid;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 29%);
  margin: 10px 0px 5px 20px;
  width: calc(50% - 30px);
  min-width: calc(50% - 30px);
  max-width: calc(50% - 30px);
  min-height: 140px;
  max-height: 140px;
}

.car-detail-grid .suppliers-list-img-container {
  min-height: 120px;
  max-height: 120px;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.car-detail-grid .suppliers-list-img-container img {
  max-width: 100%;
  border-radius: 3px;
  margin: 0 auto;
  width: auto;
  height: 80%;
}

.car-detail-column .suppliers-list-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.car-detail-column .suppliers-list-img-container img {
  border-radius: 3px;
  margin: 0 auto;
  width: auto;
  height: 100%;
  max-width: 140px;
  max-height: 100px;
  min-width: 140px;
}
.changelayoutbutton {
  background: none;
  border: none;
}
.suppliers-grid-icon {
  z-index: 99;
  padding: 5px;
}
.supplier-search-ion-item {
  border: 0 !important;
  border-bottom: 2px #ececec solid !important;
  background-color: #fff !important;
  font-size: 14px !important;
  padding: 10px 20px !important;
}

.supplier-search-ion-item i {
  color: #acd322 !important;
}
.suppliers-option-item {
  position: absolute;
  color: #acd322 !important;
  margin: 5px 10px;
  zoom: 1.5;
  right: 0;
}
.supplier-search-ion-list {
  width: calc(100% - 40px);
  display: none;
  margin: 20px 20px 0px 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
}
.item-accordion {
  border: 0px !important;
  padding: 10px 40px;
  font-size: 14px !important;
}
.supplier-search-repeat {
}
.scroll-supplier-x {
  width: 90%;
  margin: 0 auto;
}
.horizontal-item-supplier-x span {
  background: #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
  margin: 5px;
  color: #4b5180 !important;
  font-weight: bold;
  display: inline-block;
}
.remove-mark-search {
  color: #fff !important;
}

.car-detail-column > .suppliers-list-img-container > .suppliers-name-search {
  font-size: 12px;
  font-weight: bold;
  color: #4b5180 !important;
  margin-left: 20px;
}
.car-detail-grid > .suppliers-list-img-container > .suppliers-name-search {
  font-size: 12px;
  font-weight: bold;
  color: #4b5180 !important;
}
/* ewdreed bga toggle */
.active-ion-list {
  display: block !important;
}
