.suppliers-category .car-detail-column {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  height: 120px;
  margin: 10px 20px;
}

.suppliers-category .car-detail-grid {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 29%);
  margin: 5px 0px 10px 20px;
  width: calc(50% - 30px);
  min-width: calc(50% - 30px);
  max-width: calc(50% - 30px);
}

.car-detail-grid .suppliers-list-img-container {
  min-height: 120px;
  max-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.car-detail-grid .suppliers-list-img-container img {
  max-width: 100%;
  border-radius: 3px;
  margin: 0 auto;
  width: auto;
}

.car-detail-column .suppliers-list-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 50%;
  min-width: 50%;
}
.car-detail-column .suppliers-list-img-container img {
  max-width: 100%;
  border-radius: 3px;
  margin: 0 auto;
  width: auto;
  height: 100%;
}
.changelayoutbutton {
  background: none;
  border: none;
}
.suppliers-grid-icon {
  z-index: 99;
  padding: 5px;
}
ul {
  list-style: none;
}
ul#category-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0;
}

ul#category-tabs li {
  display: block;
  position: relative;
  margin: 0;
  border-bottom: 1px #ececec solid;
  padding: 10px 18px;
}
ul.sub-category-tabs li {
  padding: 2px !important;
}
ul.sub-category-tabs li {
  border-bottom: 0px !important;
}

ul#category-tabs li a {
  color: #333;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 12px;
  text-decoration: none;
}

ul#category-tabs li a i {
  top: 12px;
  right: 18px;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 2px;
  color: #acd322;
}
