<link href="views/home/home.css" rel="stylesheet" />
<ion-view ng-if="!$root.showBanner" view-title="Зээлийн маркет">
    <div>
        <ion-tabs class="home-tabs tabs-top home-card-tab" id="homeTabsId" delegate-handle="myHeaderTabHandle">
            <!-- Tab 1 -->
            <ion-tab title="Зээлийн маркет">
                <ion-nav-view class="ghostwhite">
                    <ion-content overflow-scroll="true" class="padding scroll-content ionic-scroll has-header home-tab-2-content">

                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('auto','autoleasing-1', 'active', '16082024283142')">
                            <i class="icon ion-model-s"></i>
                            <span class="home-product-name">Автолизинг</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('consumer','otherGoods','active', '16082024252191')">
                            <i class="icon ion-cash"></i>
                            <span class="home-product-name">Хэрэглээний лизинг</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('autoColl','car_coll2','active', '16082024252301')">
                            <i class="icon ion-model-s"></i>
                            <span class="home-product-name">Автомашин барьцаалсан зээл</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <!-- <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('preLoan','pre_loan','active')">
                            <i class="icon ion-ios7-paper"></i>
                            <span class="home-product-name">Зээлийн эрхээ шалгах</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div> -->
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('estate','property_collateral_danselect','active', '16082024283512')">
                            <i class="icon ion-ios7-home"></i>
                            <span class="home-product-name">Үл хөдлөх барьцаалсан зээл</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('eco','eco','active', '16082024252192')">
                            <i class="icon ion-leaf"></i>
                            <span class="home-product-name">Ногоон зээл</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('building','building','active', '16082024283632')">
                            <i class="icon ion-ios7-home"></i>
                            <span class="home-product-name">Орон сууцны зээл</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('card','card','active', '16082024283628')">
                            <i class="icon ion-card"></i>
                            <span class="home-product-name">Кредит карт</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('salary','salary','active', '16082024283627')">
                            <i class="icon ion-ios7-lightbulb"></i>
                            <span class="home-product-name">Цалингийн зээл</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('money','money','notactive')">
                            <i class="icon ion-cash"></i>
                            <span class="home-product-name">Бэлэн мөнгө авах</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('divide','divide','notactive')">
                            <i class="icon ion-arrow-graph-up-right"></i>
                            <span class="home-product-name">Бараа авах хүүгүй зээл</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('smallBusiness','dan_page','notactive')">
                            <i class="icon ion-bag"></i>
                            <span class="home-product-name">Бичил бизнесийн зээл</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="home-card-icon-left home-tab-1-card" ng-click="goLoanPage('business','dan_page','notactive')">
                            <i class="icon ion-ios7-box"></i>
                            <span class="home-product-name">Бизнесийн зээл</span>
                            <i class="card-arrow-icon ion-ios7-arrow-forward"></i>
                        </div>
                        <div class="none-div">
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Барааны маркет">
                <ion-nav-view class="ghostwhite">
                    <ion-content overflow-scroll="true" style="height: 80%;margin: 0 10px;" class="">
                        <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" ng-if="dcSuppliers.length" show-pager="false" class="home-tab-2-slide-box" delegate-handle="suppliersDelegate">
                            <ion-slide ng-repeat="bg in dcSuppliers | filter:{id:'!!'}" ng-click="supplierDetailFromHome(bg.id)">
                                <div class="home-tab2-slider home-tab2-ion-slide card home-card home-card-1">
                                    <img style="width: 200px;max-height: 150px;" ng-src="{{$root.imagePath}}{{bg.supplierpicture}}" />
                                </div>

                            </ion-slide>
                        </ion-slide-box>


                        <div class="home-card-container">
                            <div class="card home-card home-card-2" ui-sref="suppliers">
                                <div class="item card-body item-text-wrap small-box">
                                    <div class="ion-text-bold"><span>Дэлгүүр</span></div>
                                    <div class="home-card-small-text">
                                        <span>Та бараагаа хүүгүй зээл, лизингээр авах боломжтой</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card home-card home-card-3" ui-sref="purchase-inst">
                                <div class="item card-body item-text-wrap small-box">
                                    <div class="ion-text-bold"><span>Бараа авах заавар</span></div>
                                    <div class="home-card-small-text">
                                        <span>Та бараа авах заавартай танилцаарай</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home-card-container">
                            <div class="card home-card home-card-4" ng-click="callComingSoon()">
                                <div class=" item card-body item-text-wrap small-box">
                                    <div class="ion-text-bold"><span>Онцлох</span></div>
                                    <div class="home-card-small-text">
                                        <span>Та онцгой барааг яг одоо хүүгүй зээл, лизингээр аваарай</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card home-card home-card-5" ng-click="callComingSoon()">
                                <div class="item card-body item-text-wrap small-box">
                                    <div class="ion-text-bold"><span>Тренд</span></div>
                                    <div class="home-card-small-text">
                                        <span>Та хамгийн шинэлэгийг хүүгүй зээл, лизингээр аваарай</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </ion-content>
                </ion-nav-view>
            </ion-tab>

            <!-- Tab 2 -->
        </ion-tabs>
    </div>
</ion-view>

<div ng-if="showBanner" hide-nav-bar="true">
    <ion-view>
        <ion-content id="loginLayout" scroll="false" style="top: 0;">
            <style>
                .slider-pager .slider-pager-page.active {
                    color: #000;
                    width: 12px;
                }

                .intro-body-text {
                    text-align: left;
                    padding-right: 10%;
                    padding-left: 10%;
                    white-space: normal;
                    width: 100%;
                    color: #0a1a3e;
                }

                .intro-title {
                    text-align: left;
                    font-size: 16px;
                    padding-right: 10%;
                    padding-left: 10%;
                    margin-top: 8%;
                    font-weight: bold;
                    color: #0a1a3e;
                }

                .slider-button-container {
                    display: flex;
                    padding-top: 10%;
                }

                .intro-not-show {
                    padding-left: 15px !important;
                    background-color: #f8f8fe !important;
                    color: #a2a7b5 !important;
                    font-size: 14px !important;
                    border: 0px !important;
                    margin: 0 20vw !important;
                }

                .intro-not-show>.checkbox {
                    left: unset !important;
                    right: 15px !important;
                    padding: 10px 7px !important;
                }

                .intro-not-show>.checkbox>.checkbox-icon {
                    width: 25px !important;
                    height: 25px !important;
                }

                .intro-not-show>.checkbox>.checkbox input:after,
                .checkbox-icon:after {
                    color: #fff !important;
                }

                .intro-not-show>.checkbox>.checkbox input:checked:before,
                .checkbox input:checked+.checkbox-icon:before {
                    background-color: #acd322 !important;
                    border-color: #acd322 !important;
                }

                .intro-not-show>.checkbox>.checkbox-icon::before {
                    border-radius: 5px !important;
                }
            </style>
            <ion-slide-box auto-play="true" slide-interval="2000" style="height: 80%; padding-top: 20%" on-slide-changed="slideChanged(index)">
                <ion-slide ng-repeat="banner in bannerData">
                    <h2 class="intro-title">{{banner.text2}}</h2>
                    <p class="intro-body-text">{{banner.name}}</p>
                    <img ng-src="{{banner.text1}}" style="display: block;max-width: 80%;height: auto;margin: 50px auto;" />
                </ion-slide>
            </ion-slide-box>
            <div class="slider-button-container" ng-if="((bannerData|objLength)!=activeSlideIndex+1)">
                <button class="bottom-first-button" ng-click="endSlideChanged()">АЛГАСАХ</button>
                <button class="bottom-second-button" ng-click="nextSlideChanged()">ДАРААХ</button>
            </div>
            <div ng-if="((bannerData|objLength)==activeSlideIndex+1)">
                <button ng-click="hideIntro()" class="button btn single-button">Үргэлжлүүлэх</button>
                <ion-checkbox class="intro-not-show" ng-model="isBanneNotShowChecked.checked" ng-change="isNotShow()">
                    <span>Дахин харуулахгүй</span>
                </ion-checkbox>
            </div>
        </ion-content>
    </ion-view>
</div>