.home-card-container {
  width: 100%;
  display: flex;
}
.home-card-1 {
  color: #fff;
  background-size: cover;
  /* background: url(../../img/lines/home-rect-line.png) repeat, rgb(125, 204, 123); 
  background: url(../../img/lines/home-rect-line.png) repeat, -moz-linear-gradient(49deg, rgba(89, 199, 194, 1) 0%, rgba(61, 192, 250, 1) 45%); 
  background: url(../../img/lines/home-rect-line.png) repeat, -webkit-linear-gradient(49deg, rgba(89, 199, 194, 1) 0%, rgba(61, 192, 250, 1) 45%); 
  background: url(../../img/lines/home-rect-line.png) repeat, linear-gradient(49deg, rgba(89, 199, 194, 1) 0%, rgba(61, 192, 250, 1) 45%);  */
  background: transparent !important;
  background: transparent !important;
  background: transparent !important;
  background: transparent !important;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  image-rendering: pixelated;
}
.home-card-2 {
  color: #fff;
  height: 135px;
  background: rgb(125, 204, 123);
  background: -moz-linear-gradient(15deg, rgba(125, 204, 123, 1) 0%, rgba(86, 197, 200, 1) 80%);
  background: -webkit-linear-gradient(15deg, rgba(125, 204, 123, 1) 0%, rgba(86, 197, 200, 1) 80%);
  background: linear-gradient(15deg, rgba(125, 204, 123, 1) 0%, rgba(86, 197, 200, 1) 80%);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  image-rendering: pixelated;
}
.home-card-3 {
  color: #fff;
  height: 135px;
  background-image: rgb(109, 200, 152);
  background-image: -moz-linear-gradient(15deg, rgba(109, 200, 152, 1) 0%, rgba(69, 195, 229, 1) 80%);
  background-image: -webkit-linear-gradient(15deg, rgba(109, 200, 152, 1) 0%, rgba(69, 195, 229, 1) 80%);
  background-image: linear-gradient(15deg, rgba(109, 200, 152, 1) 0%, rgba(69, 195, 229, 1) 80%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  image-rendering: pixelated;
}
.home-card-4 {
  color: #fff;
  height: 135px;
  background-image: rgb(161, 209, 54);
  background-image: -moz-linear-gradient(22deg, rgba(161, 209, 54, 1) 0%, rgba(121, 203, 131, 1) 55%);
  background-image: -webkit-linear-gradient(22deg, rgba(161, 209, 54, 1) 0%, rgba(121, 203, 131, 1) 55%);
  background-image: linear-gradient(22deg, rgba(161, 209, 54, 1) 8%, rgba(121, 203, 131, 1) 99%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  image-rendering: pixelated;
}
.home-card-5 {
  color: #fff;
  height: 135px;
  background-image: rgb(145, 206, 88);
  background-image: -moz-linear-gradient(22deg, rgba(145, 206, 88, 1) 0%, rgba(105, 201, 162, 1) 55%);
  background-image: -webkit-linear-gradient(22deg, rgba(145, 206, 88, 1) 0%, rgba(105, 201, 162, 1) 55%);
  background-image: linear-gradient(22deg, rgba(145, 206, 88, 1) 24%, rgba(105, 201, 162, 1) 113%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#91ce58",endColorstr="#69c9a2",GradientType=1); */
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  image-rendering: pixelated;
}
.home-card-1-first-row {
  margin-bottom: 50px;
}
.home-card-small-text {
  font-size: 12px;
  line-height: initial;
  margin-top: 10px;
}
.home-card {
  width: 100%;
  height: 150px;
}
.loan-card-1 {
  background: url(../../img/lines/home-bigcard-cover-line-1.png), #3cc1fa;
  color: #fff;
  height: 110px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  image-rendering: pixelated;
}
.loan-card-2 {
  background: url(../../img/lines/home-bigcard-cover-line-1.png), #3cc1fa;
  color: #fff;
  height: 110px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  image-rendering: pixelated;
}
.loan-card-3 {
  background: url(../../img/lines/home-bigcard-cover-line-1.png), linear-gradient(-160deg, #42c2ee, #68c8a5);
  color: #fff;
  height: 110px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  image-rendering: pixelated;
}
.loan-card-4 {
  background: url(../../img/lines/home-bigcard-cover-line-1.png), linear-gradient(-160deg, #56c5c7, #87cd68);
  color: #fff;
  height: 110px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  image-rendering: pixelated;
}
.loan-card-5 {
  background: url(../../img/lines/home-bigcard-cover-line-1.png), linear-gradient(-120deg, #74ca8c, #a7d22a);
  color: #fff;
  height: 110px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  image-rendering: pixelated;
}
.loan-card-text {
  text-align: right;
  word-break: break-word;
  font-size: 14px;
  line-height: initial;
}
.card-body {
  display: grid;
}
.card-body i {
  float: right;
}
.home-tab-2-content {
  height: 80%;
}
.home-tab-2-content > .scroll {
  min-height: 0px !important;
  margin: 0 20px;
  /* display: inline-block !important; */
}
.small-box {
  background: none;
  color: #fff;
  position: relative;
  height: 100%;
}
.card {
  box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.3);
  background-color: #acd322;
  border-radius: 10px !important;
}
.loan-tab-title {
  padding: 10px 13px;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.home-tab2-slider {
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  height: auto;
  margin: 10px auto;
  width: calc(95% - 0px);
  display: grid;
  /* border: 2px solid #acd322; */
  /* border-radius: 10px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(#f8f8fe, #f8f8fe), linear-gradient(#3cc1fa, #acd322); */
}
.home-tab2-ion-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 150px;
}
.home-tab2-ion-slide img {
}
