.bottom-border-input-text input {
  background: none;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-color: yellowgreen;
  /* padding: 0 15px 0 20px; */
  text-align: left !important;
  font-weight: bold;
  color: #4b5180 !important;
  text-align-last: center;
  padding: 20px;
  font-size: 20px;
  width: 44vw;
  margin: auto;
}
.ghostwhite-noscroll-container {
  background-color: ghostwhite;
  height: 100%;
}
.toggle input:checked + .track .handle {
  -webkit-transform: translate3d(30px, 0, 0);
  transform: translate3d(30px, 0, 0);
  background-color: #fff;
  color: #000;
}
.toggle.toggle-assertive input:checked + .track {
  border-color: #cecdcd;
  background-color: #cecdcd;
}
.bg-container {
  border-radius: 10px;
  padding: 20px 20px 10px 20px;
  margin: 0px 20px 0px 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* step 3 */
.bank-list-container {
  display: flex;
  position: relative;
  float: left;
  margin-top: 3px;
  font-size: 14px;
  font-weight: 900;
  color: #4b5180;
}
.bank-list-container img {
  width: 35px;
  height: 35px;
}
.switch-list .item {
  border-bottom: 0px;
  padding: 12px 0px 15px 50px;
  border-color: #ddd;
  border: none;
  background-color: #fff;
  color: #c6c8d4;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  font-size: 16px;
  width: 100%;
}
.bank-middle-title {
  margin-top: -5px;
  font-size: 14px;
  font-weight: 900;
  color: #4b5180;
  margin-left: 8px;
}
.bank-desc-green {
  margin-left: 42px;
  color: #acd322 !important;
  font-size: 13px !important;
  bottom: 0px;
}
.bank-desc-red {
  margin-left: 42px;
  color: #f7574c !important;
  font-size: 13px !important;
  bottom: 0px;
}
.switch-list li {
  border-bottom: 1px solid #d5d5d5;
}
.switch-list button {
  background: none;
  border: none;
  color: #c6c8d4;
  z-index: 1;
  display: inline-block;
  font-size: 12px;
  margin-top: 20px;
}
.checkbox input,
.checkbox-icon {
  position: relative;
  width: 25px;
  height: 25px;
  display: block;
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}
.checkbox input:before,
.checkbox-icon:before {
  display: table;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background: #fff;
  content: " ";
  -webkit-transition: background-color 20ms ease-in-out;
  transition: background-color 20ms ease-in-out;
}
.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background: #fff;
  border-color: #acd322;
}
#keypad {
  margin: auto;
  width: 100%;
  height: 95%;
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
  background: rgb(159, 209, 58);
  background: -moz-linear-gradient(24deg, rgba(159, 209, 58, 1) 7%, rgba(63, 194, 243, 1) 100%);
  background: -webkit-linear-gradient(24deg, rgba(159, 209, 58, 1) 7%, rgba(63, 194, 243, 1) 100%);
  background: linear-gradient(24deg, rgba(159, 209, 58, 1) 7%, rgba(63, 194, 243, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9fd13a",endColorstr="#3fc2f3",GradientType=1);
}

#keypad tr td {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid red;
  font-size: 18px;
  font-weight: bold;
  width: 40px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  padding: 0 10px !important;
}

.display {
  width: 130px;
  margin: 10px auto auto auto;
}
.backspace ::before {
  content: "\2190";
}
.input-container {
  padding-top: 20px;
}
.input-container span {
  padding: 9px 8px 8px 8px;
  font-weight: bold;
  min-width: 50px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  color: #b2b2b2;
  right: 0;
  text-align: right;
}
.items {
  margin: 20px 0 20px 0;
}
.items li {
  margin: 10px 0;
}
.items .item-detail {
  display: flex;
  padding: 10px;
  height: auto;
  background-color: #e5e5e575;
  /* border-radius: 5px; */
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}
.items .desc {
  width: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
}
.items .item-img {
  display: flex;
  position: relative;
  float: left;
  width: 170px;
}
.items img {
  max-height: 60px;
}
.items .desc span {
  font-size: 12px;
  color: gray;
}
.items .item-title {
  font-weight: 500;
  margin: 0;
  font-weight: bold;
  font-size: 70%;
}
.items .item-price {
  margin: 0;
  font-weight: bold;
}
.autoleas-step3-content {
  height: 96% !important;
  position: relative !important;
}
.autoleasing-step2-content {
  /* height: 88%; */
}
.step3-bankList-checkbox-container {
  padding-left: 15px !important;
  background-color: #fff !important;
  color: #a2a7b5 !important;
  font-size: 14px !important;
}
.step3-bankList-checkbox-container > .checkbox > .checkbox-icon {
  width: 25px !important;
  height: 25px !important;
}
.step3-bankList-checkbox-container > .checkbox > .checkbox input:after,
.checkbox-icon:after {
  color: #fff !important;
}
.step3-bankList-checkbox-container > .checkbox > .checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background-color: #acd322 !important;
  border-color: #acd322 !important;
}
.step3-bankList-checkbox-container > .checkbox > .checkbox-icon::before {
  border-radius: 5px !important;
}
.step3-bankList-checkbox-container > .item-content {
  padding-left: 40px;
}
.auto-step1-next-btn {
  margin-top: 20px !important;
}
.header-title-step3 {
  text-transform: uppercase;
  color: red !important;
  text-align: center;
  font-size: 11px;
}
.dan-container {
  text-align: center;
  /* padding: 20px; */
}
.step-bottom-footer {
  margin-bottom: 30px !important;
}

#overlayProfilePicuteRequest {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  margin: 0 auto;
}

.overlay-profile-content-request {
  color: #000;
  font-size: 12px;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-bottom: 50px;
  background: #fff;
  border: 1px solid #acd322;
}
.ident-pic-border {
  width: 85%;
  border-radius: 10px;
  border: 1px dashed #ccc;
  height: 150px;
  text-align: center;
  font-size: 60px;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
}
.ident-pic-container {
  width: 100%;
}
.ident-pic-label span {
  text-align: center;
  font-weight: bold;
  color: #4b5180;
  display: block;
  margin-bottom: 10px;
}
.ident-card-front {
  margin-bottom: 15px;
}

.ident-card-back {
  margin: 15px 0;
}
.ident-pic-middle-text {
  font-weight: normal !important;
  width: 85% !important;
  margin: 10px auto !important;
}
.step5-mid-title {
  margin: 5px auto !important;
  width: 100% !important;
  line-height: 12px !important;
  display: block !important;
  text-align: right !important;
}
.step2-valid-text-bold {
  font-weight: bold !important;
}
.unavailable-banks {
  display: flex;
  align-items: center;
}
.unavailable-banks span {
  margin-left: 10px;
}
