<ion-view id="loanPages" hide-nav-bar="true">
    <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Автомашины лизинг'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content overflow-scroll="true" class="ion-modified-content margin-top-50 autoleasing-step1-content">
        <div class="big-container ghostwhite-noscroll-container">
            <div class="magic-container step1-card-content">
                <div class="progressbar-container">
                    <ul id="progress-bar" class="progressbar">
                        <li class="active step-li-1"></li>
                        <li class="step-li-22"></li>
                        <li class="step-li-3"></li>
                        <li class="step-li-4"></li>
                    </ul>
                </div>
                <div class="bottom-border-input-text step1-code-input-container">
                    <p class="big-middle-title auto-step1-title">ТА АВАХ АВТОМАШИНЫХАА КОДЫГ ОРУУЛНА УУ?</p>
                    <input type="text" placeholder="DCC0001" name="carCode" class="step1-car-code ion-text-upper" ng-model="$root.newReqiust.itemcode" ng-keyup="getCarDatasIdEnterkey($event,$root.newReqiust.itemcode)" select-on-click />
                </div>
                <div class="step1-scan-qr-container">
                    <div class="qr-btn-container">
                        <button class="button qr-button" id="qr" ng-click="showQRreader()">
                            <span class="filter">
                                <i class="ion-qr-scanner qr-ico"></i>
                                QR уншуулах
                            </span>
                        </button>
                    </div>
                    <button class="button btn single-button auto-step1-next-btn" id="Next" ng-click="getCarDatasId($root.newReqiust.itemcode)">Үргэлжлүүлэх</button>
                </div>
            </div>
            <ion-footer class="bottom-footer">
                <div class="bank-container">
                    <p>Танд зээл олнох боломжтой банк, ББСБ-ууд</p>

                    <img ng-repeat="bank in allBankList | filter:{id:'!!'}" ng-if="bank.bank_logo" ng-src="{{$root.imagePath}}{{bank.bank_logo}}" />

                </div>
            </ion-footer>
        </div>
    </ion-content>
</ion-view>