<ion-view id="loanPages" hide-nav-bar="true">
    <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
    <!-- <div ng-repeat="data in [{'title':'Иргэний мэдээлэл'}]" ng-include src="'views/navbar.html'"></div> -->
    <ion-header-bar align-title="left" class="navbar" style="background: none; top: 0">
        <div class="title ion-color-big-text navbar-back-button" style="background: none">
            <button ng-click="backFromStep4()" class="nav-back-button button buttons button-clear header-item" style="left: 10px">
                <i class="ion-chevron-left ion-color-header"></i>
                <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Иргэний мэдээлэл</span></span>
            </button>
        </div>
        <div class="navbar-right-icon">
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="ion-modified-content has-header autoleas-step3-content">
        <div class="big-container">
            <div class="magic-container">
                <div class="bg-container">
                    <div class="money-input custom-form-container">
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Овог</p>
                            <div id="lastNameErrorDan" class="profile-input-name-error">Та овогоо крилл үсгээр оруулна уу</div>
                            <input type="text" id="customerLastNameDan" placeholder="" name="" class=" ng-pristine ng-untouched ng-valid ng-valid-pattern mask bg-fff" ng-model="$root.danCustomerData.lastname" ng-change="replaceCyrAuto($root.danCustomerData.lastname)" ng-keyup="hideKeyboard($event)" ng-disabled="$root.lastNameDanDisable" select-on-click />
                        </label>
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Нэр</p>
                            <input type="text" id="customerFirstNameDan" placeholder="" name="" class=" ng-pristine ng-untouched ng-valid ng-valid-pattern mask bg-fff" ng-model="$root.danCustomerData.firstname" ng-change="replaceCyr2Auto($root.danCustomerData.firstname)" ng-keyup="hideKeyboard($event)" ng-disabled="$root.firstNameDanDisable" select-on-click />
                            <div id="firstNameErrorDan" class="profile-input-name-error">Та нэрээ крилл үсгээр оруулна уу</div>
                        </label>
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Регистр</p>
                            <input type="text" id="step4UniqueIdentifier" placeholder="" name="" class="ng-pristine ng-untouched ng-valid ng-valid-pattern mask bg-fff" ng-model="$root.danCustomerData.uniqueidentifier" ng-keyup="hideKeyboard($event)" ng-disabled="$root.uniqueIdentifierDanDisable" select-on-click />
                        </label>
                        <!-- <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">И-мэйл хаяг</p>
                            <input type="text" placeholder="" name="" class="ng-pristine ng-untouched ng-valid ng-valid-pattern mask bg-fff" ng-model="$root.danCustomerData.email" ng-keyup="hideKeyboard($event)" select-on-click />
                        </label> -->
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Утасны дугаар</p>
                            <input inputmode="numeric" pattern="[0-9]*" maxlength="8" type="text" placeholder="" name="" class="ng-pristine ng-untouched ng-valid ng-valid-pattern mask bg-fff" ng-model="$root.danCustomerData.mobilenumber" ng-keyup="hideKeyboard($event)" select-on-click />
                        </label>
                        <label class="item item-input item-select form-input-label" ng-if="!$root.isSupLoan">
                            <p class="input-label" style="margin: 0;">Гэрлэсэн эсэх</p>
                            <select class="custom-form-input-select" ng-model="$root.danCustomerData.ismarried" ng-options="c.id as c.name for c in familtStatData | filter:{id:'!!'}" ng-init="$root.danCustomerData.ismarried = $root.danCustomerData.ismarried"></select>
                        </label>
                        <label class="item item-input item-select form-input-label" ng-if="!$root.isSupLoan">
                            <p class="input-label" style="margin: 0;">МИК-ийн зээлтэй эсэх</p>
                            <select class="custom-form-input-select" ng-model="$root.danCustomerData.mikmortgagecondition" ng-options="c.id as c.name for c in mortgageData | filter:{id:'!!'}" ng-init="$root.danCustomerData.mikmortgagecondition = $root.danCustomerData.mikmortgagecondition"></select>
                        </label>
                        <label class="item item-input item-select form-input-label" ng-if="!$root.isSupLoan">
                            <p class="input-label" style="margin: 0;">Ажилласан жил</p>
                            <select class="custom-form-input-select" ng-model="$root.danCustomerData.experienceperiodid" ng-options="c.id as c.name for c in experiencePeriodData | filter:{id:'!!'}" ng-init="$root.danCustomerData.experienceperiodid = $root.danCustomerData.experienceperiodid"></select>
                        </label>
                        <label class="item item-input item-select form-input-label" ng-if="$root.isSupLoan">
                            <p class="input-label" style="margin: 0;">Боловсролын зэрэг</p>
                            <select ng-model="$root.newReqiust.educationid" class="custom-form-input-select" ng-init="$root.danCustomerData.educationid = $root.danCustomerData.educationid">
                                <option ng-repeat="loc in $root.educationData | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="container-padding pulse-animation" id="section07">
                    <p class="middle-title agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГАЖ БУЙ БАНК, ББСБ-УУД</p>
                    <ion-scroll direction="x" class="wide-scroll-bank-step agree-bank-arrow">
                        <div class="bank" ng-repeat="bank in bankListFilter.Agree">
                            <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                            <p>{{bank.department_name}}</p>
                        </div>
                    </ion-scroll>
                </div>
                <div class="container-padding" id="section07">
                    <p class="middle-title not-agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГААГҮЙ БАНК, ББСБ-УУД</p>
                    <ion-scroll direction="x" class="wide-scroll-bank-step">
                        <div class="bank" ng-repeat="bank in bankListFilter.NotAgree">
                            <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                            <p>{{bank.department_name}}</p>
                        </div>
                    </ion-scroll>
                </div>
            </div>
            <ion-footer class="bottom-footer step-bottom-footer">
                <button class="button btn single-button" id="Next" ng-click="goStep5ORIdent()">Үргэлжлүүлэх</button>
            </ion-footer>
        </div>
    </ion-content>
</ion-view>