<ion-view id="loanPages" hide-nav-bar="true">
    <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Банк сонгох'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content overflow-scroll="true" class="ion-modified-content has-header autoleas-step3-content">
        <div class="big-container">
            <div class="magic-container">
                <div class="bg-container">
                    <div style="margin-top: 10px; margin-bottom: 55px">
                        <ul id="progress-bar" class="progressbar">
                            <li class="active step-li-1"></li>
                            <li class="active step-li-2"></li>
                            <li class="active step-li-3"></li>
                            <li class="step-li-44"></li>
                        </ul>
                    </div>
                    <div class="bank-list">
                        <p class="middle-title ion-color-big-text">Анхан шатны шалгуур хангасан банкууд</p>
                        <ul class="switch-list">
                            <li ng-repeat="bank in bankListFilter.Agree | filter:{id:'!!'}">
                                <ion-checkbox ng-model="bank.checked" class="step3-bankList-checkbox-container">
                                    <div class="bank-list-container">
                                        <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                                    </div>
                                    <span class="bank-middle-title">{{bank.department_name}}</span>
                                    <p class="bank-desc-green">Тэнцсэн банк</p>
                                </ion-checkbox>
                                <button class="right-btn" ng-click="selectBankInfo(bank)">Дэлгэрэнгүй</button>
                            </li>
                        </ul>
                    </div>
                    <!-- Shalguur hangaagui bankuud -->
                    <div class="bank-list">
                        <p class="middle-title ion-color-big-text" style="margin-top: 50px">Анхан шатны шалгуур хангаагүй банкууд</p>
                        <ul class="switch-list">
                            <li ng-repeat="bank in bankListFilter.NotAgree">
                                <ion-checkbox>
                                    <div class="bank-list-container">
                                        <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                                    </div>
                                    <span class="bank-middle-title">{{bank.department_name}}</span>
                                    <p class="bank-desc-red">Тэнцээгүй банк</p>
                                </ion-checkbox>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ion-footer class="bottom-footer">
                <button class="button btn single-button" id="Next" ui-sref="autoleasing-4">Үргэлжлүүлэх</button>
            </ion-footer>
        </div>
    </ion-content>
</ion-view>