<ion-view id="loanPages" hide-nav-bar="true">
    <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
    <ion-header-bar align-title="left" class="navbar" style="background: none;top: 0">
        <div class="title ion-color-big-text navbar-back-button" style="background: none; ">
            <button ng-click="backFromStep1()" class="nav-back-button button buttons button-clear header-item" style="left: 10px">
                <i class="ion-chevron-left ion-color-header"></i>
                <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Автомашины лизинг</span></span>
            </button>
        </div>
        <div class="navbar-right-icon">
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="ion-modified-content margin-top-50 autoleasing-step1-content">
        <div class="big-container ghostwhite-noscroll-container">
            <div class="magic-container">
                <div class="bg-container">
                    <div class="money-input custom-form-container">
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Автомашинаа сонгосон эсэх</p>
                            <select ng-model="$root.newReqiust.choose" class="custom-form-input-select" ng-change="selectCarChoose($root.newReqiust.choose)">
                                <option value="1">
                                    0001.MN -с сонгосон
                                </option>
                                <option ng-repeat="loc in $root.isColl | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}
                                </option>
                            </select>
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Авах автомашины төрөл</p>
                            <select ng-model="$root.carProduct.categoryId" class="custom-form-input-select" ng-change="getCarFactoryCategoryAuto(carProduct.categoryId)">
                                <option ng-repeat="loc in $root.carCategory | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}
                                </option>
                            </select>
                        </label>
                        <label class="item item-input item-select form-input-label" ng-if="isSelected0001=='yes'">
                            <p class="input-label" style="margin: 0;">Автомашины төлөв</p>
                            <select ng-model="$root.carProduct.productTypeId" class="custom-form-input-select">
                                <option ng-repeat="loc in $root.carNumberTaken | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}
                                </option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label form-input-label" ng-if="isSelected0001=='0001'">
                            <p class="input-label" style="margin: 0;">Автомашины код</p>
                            <input inputmode="numeric" pattern="[0-9]*" id="step1CarCode" type="text" placeholder="00000000" name="carCode" class="" ng-model="$root.carProduct.itemCode" ng-keyup="hideKeyboard($event)" select-on-click />
                        </label>
                        <label class="item item-input item-select form-input-label" ng-if="isSelected0001=='0001'||isSelected0001=='yes'">
                            <p class="input-label" style="margin: 0;">Үйлдвэр</p>
                            <select id="brandSelect" ng-model="$root.carProduct.factoryId" class="custom-form-input-select" disabled ng-change="getCarModelDataAuto(carProduct.factoryId)">
                                <option ng-repeat="com in factoryData track by $index" ng-if="com.name" value="{{com.id}}">
                                    {{com.name}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-select form-input-label" ng-if="isSelected0001=='0001'||isSelected0001=='yes'">
                            <p class="input-label" style="margin: 0;">Марк</p>
                            <select id="modelSelect" ng-model="$root.carProduct.modelId" class="custom-form-input-select" disabled>
                                <option ng-repeat="com in modelData track by $index" ng-if="com.name" value="{{com.id}}">
                                    {{com.name}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label form-input-label" ng-if="isSelected0001=='0001'||isSelected0001=='yes'">
                            <p class="input-label" style="margin: 0;">Орж ирсэн он</p>
                            <input inputmode="numeric" pattern="[0-9]*" id="entryYear" type="text" placeholder="0000" class="ng-pristine ng-untouched ng-valid ng-valid-pattern mask bg-fff" ng-model="$root.carProduct.yearEntryMongolia" ng-keyup="hideKeyboard($event)" select-on-click />
                        </label>
                        <label class="item item-input item-stacked-label form-input-label" ng-if="isSelected0001=='0001'||isSelected0001=='yes'">
                            <p class="input-label" style="margin: 0;">Үйлдвэрлэсэн он</p>
                            <input inputmode="numeric" pattern="[0-9]*" id="prodYear" type="text" placeholder="0000" class="ng-pristine ng-untouched ng-valid ng-valid-pattern mask bg-fff" ng-model="$root.carProduct.yearProduction" ng-keyup="hideKeyboard($event)" select-on-click />
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <span class="input-label">Орлого нотлох эсэх</span>
                            <select ng-model="$root.newReqiust.proveIncome" class="custom-form-input-select">
                                <option ng-repeat="loc in $root.isColl | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}</option>
                            </select>
                        </label>
                        <button class="button btn single-button auto-step1-next-btn" id="Next" ng-click="goStep2AutoLeasing()">Үргэлжлүүлэх</button>

                    </div>
                </div>
            </div>
            <ion-footer class="bottom-footer">
                <div class="bank-container">
                    <p>Танд зээл олгох боломжтой банк, ББСБ-ууд</p>

                    <img class="tooltip" ng-repeat="bank in allBankList | filter:{id:'!!'}" ng-if="bank.bank_logo" ng-src="{{$root.imagePath}}{{bank.bank_logo}}" title="{{bank.department_name}}" animation="fade" />

                </div>
            </ion-footer>
        </div>
    </ion-content>

</ion-view>
<script id="templates/auto.html" type="text/ng-template">
  <ion-modal-view class="auto-temp-modal-view">
    <ion-content class="padding bank-chat-content" scroll="false">
        <!-- <span class="term-modal-off-text" ng-click="autoModal.hide()"><img style="width: 20px" src="img/x_mark.png" /></span> -->
        <div class="templates-modal-include" ng-include src="'views/templates/auto.html'"></div>
    </ion-content>
  </ion-modal-view>
</script>