<div class="list term-list" ng-controller="termCtrl">
    <div class="card term-card">
        <ion-scroll direction="y" class="term-scroll">
            <span class="term-title">НЭГ. ЕРӨНХИЙ ЗААЛТ</span>
            <span class="term-body">Зээлийн маркет платформын хэрэглэгчдэд зориулсан zeelme.mn веб болон zeelme аппликейшн цаашид нийтэд нь систем гэх нь “Дижитал кредит” ХХК-ийн өмч бөгөөд Энэхүү үйлчилгээний нөхцөл нь уг системээр үйлчлүүлэх этгээд онлайнаар зээлийн хүсэлтээ сонгосон банк санхүүгийн байгууллагад илгээх, зээл авахтай холбоотой үүсэх харилцааг зохицуулахад оршино.</span>
            <ul class="term-body-ul">
                <li class="term-body-li">1.1 Хэрэглэгч нь 18 нас хүрсэн Монгол улсын иргэн, хуулийн этгээд байна.</li>
                <li class="term-body-li">1.2 Хэрэглэгч нь үйлчилгээний нөхцөлийг хүлээн зөвшөөрч баталгаажуулсанаар:</li>
                <li class="term-body-li">1.3 Cистемээр дамжуулан зээл авахтай холбоотой үйлчилгээ авах эрх үүснэ.</li>
                <li class="term-body-li">1.4 Өөрийн үйлчлүүлэхээр сонгосон хуулийн этгээдэд зээлийн хүсэлтийн болон бусад мэдээллийг дамжуулах;</li>
                <li class="term-body-li">1.5 Зээл олгохоор хүсэлт илгээсэн банк, санхүүгийн байгууллагад Зээлийн мэдээллийн сангаас лавлагаа авахыг зөвшөөрнө.</li>
            </ul>

            <span class="term-title">ХОЁР. ХЭРЭГЛЭГЧ НЬ ДИЖИТАЛ КРЕДИТ ХХК-Д ДАРААХ ЗӨВШӨӨРӨЛ, ЭРХИЙГ ОЛГОНО</span>
            <ul class="term-body-ul">
                <li class="term-body-li">2.1 Хэрэглэгчийн үйлчилгээ авахыг хүссэн этгээдэд холбогдох мэдээллийг илгээх;</li>
                <li class="term-body-li">2.2 Зээл хүсэлт илгээхтэй холбоотой үүсэх мэдээллийг эрсдэлгүй, тасалдалгүй хадгалах;</li>
                <li class="term-body-li">2.3 Хэрэглэгчийн зөвшөөрлөөр ХУР, ДАН системээр дамжуулан Төрийн цахим мэдээллийн санд хандаж хэрэглэгчийн мэдээллийг холбогдох хуулийн этгээдэд үнэн бодитоор илгээх;</li>
                <li class="term-body-li">2.4 Хэрэглэгчийн хувийн мэдээлэл дээр үндэслэн хиймэл оюун ухааны тусламжтайгаар дүн шинжилгээ хийж холбогдох хуулийн этгээдэд илгээх;</li>
                <li class="term-body-li">2.5 Хэрэглэгчийн зөвшөөрлөөр бүтээгдэхүүн үйлчилгээ үзүүлэгч этгээдүүдийн бүтээгдэхүүний мэдээллийг ирүүлэх.</li>
                <li class="term-body-li">2.6 Хэрэглэгч нь Zeelme аппликейшнтэй хамтран ажилладаг банк, санхүүгийн байгууллагууд, Тухайлбал: Дарь финанс ББСБ, Нөмөр кредит ББСБ, БСБ финанс ББСБ, Транс капитал ББСБ-д өөрийн зээлийн хүсэлт, түүнтэй холбоотой мэдээллийг илгээхийг хүлээн зөвшөөрөх.</li>
            </ul>

            <span class="term-title">ГУРАВ. ХЭРЭГЛЭГЧИЙН ЗӨВШӨӨРЛӨӨР МЭДЭЭЛЛИЙГ АШИГЛАХ</span>
            <ul class="term-body-ul">
                <li class="term-body-li">3.1 Зээлийн хүсэлтийг дамжуулах, системд бүртгүүлэх, ашиглах, системээр дамжих бүх төрлийн бүтээгдэхүүн үйлчилгээг үзүүлэх;</li>
                <li class="term-body-li">3.2 Дижитал кредит ХХК-ны хамтран ажиллагч этгээдийн мэдээлэл үйлчилгээ авахад боломжит байршлийг харуулах зорилгоор байршлийн мэдээллийг авах;</li>
                <li class="term-body-li">3.3 Зээлдүүлэгч байгууллагын зээлийн үйлчилгээний нөхцөл, хэмжээг тооцох;</li>
                <li class="term-body-li">3.4 Хэрэгцээтэй зар, мэдэгдэл хүргүүлэх, хамтран ажиллагч гуравдагч этгээдийн зар мэдээллийг дамжуулах;</li>
                <li class="term-body-li">3.5 Бүтээгдэхүүн үйлчилгээний эрсдэлийг үнэлэх, санхүүгийн болон мэдээллийн аюулгүй байдлыг хангах, хяналт тавих, сайжруулах;</li>
                <li class="term-body-li">3.6 Дижитал кредит ХХК болон түүний хамтран ажиллагч гуравдагч этгээдийн бүтээгдэхүүн үйлчилгээний сэтгэл ханамжийн судалгаа, тандалт хийх;</li>
                <li class="term-body-li">3.7 Хуулиар тогтоосон аливаа шаардлагга биелүүлэх, нийцлийг хангах;</li>
                <li class="term-body-li">3.8 Хуулиар хориглоогүй бусад зорилгоор.</li>
            </ul>

            <span class="term-title">ДӨРӨВ. ХЭРЭГЛЭГЧИЙН ЭРХ, ҮҮРЭГ</span>
            <ul class="term-body-ul">
                <li class="term-body-li">4.1 Хэрэглэгч нь зөвхөн өөрийн нотлогдохуйц, баталгаат мэдээллийг системд оруулах;</li>
                <li class="term-body-li">4.2 Хэрэглэгч нь системд оруулсан мэдээллээ өөрчлөлт орох бүрт шинэчлэх;</li>
                <li class="term-body-li">4.3 Нэвтрэх нэр, нууц үгийг бусдад задруулахгүй байх;</li>
                <li class="term-body-li">4.4 Үйлчилгээний эрхээ түр хаалгах, сэргээлгэх, цуцлах;</li>
                <li class="term-body-li">4.5 Хэрэв хэрэглэгч нь хуулийн этгээдийг төлөөлөн системийг ашиглаж байгаа бол танд тухайн хуулийн этгээдийг төлөөлөх эрх олгогдсон бөгөөд тухайн хуулийн этгээд энэхүү нөхцлийг мөн хүлээн зөвшөөрсөнд тооцох тул хэрэглэгчийн хийсэналиваа үйлдлийн үр дагавар, үүрэг хариуцлагыг та болон тухайн хуулийн этгээд хүлээхээр баталгаажуулж байгаа болно.</li>
                <li class="term-body-li">4.6 Хэрэглэгч нь Zeelme аппликейшнтэй хамтран ажилладаг банк, санхүүгийн байгууллагууд, Тухайлбал: Дарь финанс ББСБ, Нөмөр кредит ББСБ, БСБ финанс ББСБ, Транс капитал ББСБ-д өөрийн зээлийн хүсэлт илгээх, үйлчилгээ авахдаа тухайн байгууллагын үйлчлигээний нөхцлийг хүлээн зөвшөөрснөөр үйлчилгээ авах</li>
            </ul>

            <span class="term-title">ТАВ. ДИЖИТАЛ КРЕДИТ ХХК-НИЙ ЭРХ , ҮҮРЭГ</span>
            <ul class="term-body-ul">
                <li class="term-body-li">5.1 Хэрэглэгчийн мэдээллийг энэхүү үйлчилгээний нөхцөлд зааснаас бусад тохиолдолд бусдад дамжуулахгүй байх үүрэгтэй;</li>
                <li class="term-body-li">5.2 Хэрэглэгчийн хувийн мэдээллийг хадгалах, хамгаалах үүрэгтэй;</li>
                <li class="term-body-li">5.3 Хуульд заасан шаардлагын дагуу эрх бүхий этгээдийн шаардсан хэмжээгээр хязгаарлан гаргаж өгөх үүрэгтэй;</li>
                <li class="term-body-li">5.4 Хамтран ажиллагч байгууллагын зар сурталчилгааг байршуулах, санал болгох эрхтэй;</li>
                <li class="term-body-li">5.5 Хэрэглэгч илгээхийг зөвшөөрсөн хуулийн этгээдэд хэрэглэгчийн хувийн мэдээллийг дамжуулах эрхтэй.</li>
            </ul>

            <span class="term-title">ЗУРГАА. БУСАД НӨХЦӨЛ</span>
            <ul class="term-body-ul">
                <li class="term-body-li">6.1 Энэхүү үйлчилгээний нөхцөлийг Монгол улсын хууль тогтоомжийн дагуу тайлбарлаж, зохицуулагдана.</li>
                <li class="term-body-li">6.2 Системийг ашиглахтай холбоотойгоор үүссэн аливаа маргааныг эвийн журмаар шийдвэрлэхийг эрмэлзэх бөгөөд тийнхүү шийдвэрлэх боломжгүй тохиолдолд Монгол улсын шүүхээр шийдвэрлүүлнэ.</li>
                <li class="term-body-li">6.3 Дижитал кредит ХХК нь систем хэрэглэгч өөрийн хүсэлтийн дагуу сонгон зээлийн хүсэлтээ илгээсэн зээл олгогчийн өмнөөс ямар нэгэн хариуцлага хүлээхгүй бөгөөд зээл олгох баталгааг гаргахгүй.</li>
            </ul>
        </ion-scroll>
    </div>
</div>