.term-content {
  margin-bottom: 50px;
  background: #f8f8fe;
  bottom: 0px;
}
.term-list {
  height: 100% !important;
}
.term-card {
  padding: 0px 20px 0px 20px;
  height: 60vh;
  background-color: #fff !important;
  margin: 70px 20px 10px 20px !important;
}

#term-content > .scroll {
  height: 170px;
  background: rgb(134, 205, 109);
  background: url(/www/img/lines/home-small-line.png), -moz-linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  background: url(/www/img/lines/home-small-line.png), -webkit-linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  background: url(/www/img/lines/home-small-line.png), linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#86cd6d",endColorstr="#3fc1f3",GradientType=1);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
}
.term-back i {
  color: #fff !important;
}
.term-back span {
  color: #fff !important;
}
.term-scroll {
  height: 100%;
}
.term-scroll .scroll-bar {
  display: none;
}
.term-title {
  font-weight: bold;
  color: #4b5180 !important;
  display: block;
  margin: 10px 0px;
}
.term-body {
  padding: 10px 0;
  display: block;
}
.term-body-li {
  padding: 10px 0;
}
.term-button-container {
  display: flex;
  margin-top: 30px;
}
