<ion-view id="loanPages" hide-nav-bar="true">
    <link href="views/carlist/carlist.css" rel="stylesheet" />
    <ion-header-bar align-title="left" class="navbar">
        <div class="title ion-color-big-text navbar-back-button">
            <button ng-click="$ionicGoBack()" class="nav-back-button button buttons button-clear header-item car-back-nav" style="left: 10px">
                <i class="ion-chevron-left ion-color-header"></i>
                <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px)"><span>Автомашин</span></span>
            </button>
        </div>
        <div class="navbar-right-icon">
            <button ng-click="grid()" class="changelayoutbutton layout-list" id="changeLayout">
                <i id="buttonIcon" class="custom-grid"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="ion-modified-content carlist-content">
        <div class="big-container">
            <div class="magic-container margin-lr-20">
                <div class="cars">
                    <ul id="glayout">
                        <li class="car-detail-column" ng-repeat="car in carListData" ng-if="car.modelname" ng-click="selectCar(car)">
                            <div class="car-img"><img ng-src="{{car.itempic|guessImageMime}}" /></div>
                            <div id="car-dtl" class="desc">
                                <p class="car-title ion-color-big-text">{{car.modelname}}</p>
                                <span>{{car.productyear}}/{{car.entryyear}}</span>
                                <span>Да хүрээ</span>
                                <p class="car-price ion-color-big-text">{{car.price|formatNumber}}₮</p>
                                <span>{{car.itemcode}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <ion-footer class="bottom-footer"></ion-footer>
        </div>
    </ion-content>
</ion-view>