.basket-content {
  height: 100%;
}
.basket-content > .scroll {
  height: 100%;
}
.basket-item-count {
  position: absolute;
  left: 60%;
  top: 30%;
  color: #000 !important;
  font-weight: bold;
}
.basket-item-left-text {
  float: left;
  align-content: center;
  display: grid;
}
.basket-item-left-text h2 {
  font-size: 12px;
  font-weight: bold;
}
.basket-item-left-text p {
  font-size: 12px;
  color: #a2a7b5;
}
.basket-item-right-text {
  float: right;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.basket-item-right-text h2 {
  font-size: 12px;
  font-weight: bold;
}
.basket-item-right-text p {
  font-size: 12px;
  color: #a2a7b5;
}
.basket-total-price {
  font-weight: bold;
  padding: 0 10%;
  width: 100%;
  bottom: 23%;
  position: absolute;
}
.total-price-title {
  float: left;
}
.total-price-amount {
  float: right;
  font-size: 18px;
}
.basket-btn-container {
  display: flex;
  padding-top: 50px;
  width: 100%;
  padding: 0 20px;
  bottom: 15%;
  position: absolute;
}
.basket-content > .scroll {
  padding-bottom: 100px !important;
}
.basket-content label {
  border-color: #a2a7b5 !important;
}
.item-content img {
  border-radius: 5px;
  top: 20% !important;
}
.basket-content .checkbox {
  position: absolute;
  top: 35% !important;
  right: 0px !important;
  left: 0px !important;
  z-index: 3;
}
.basket-check {
  background: none;
  position: absolute;
  border: none;
  width: 36px;
  margin: auto;
}
.card-list-swiper .item .item-content.activated {
  background: #fff;
  border: none;
}
.card-list-swiper .custom-class {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.card-list-swiper .custom-class .checkbox input {
  left: -50px !important;
}
.card-list-swiper .item-complex .item-content,
.card-list-swiper .item-radio .item-content {
  position: relative;
  z-index: 2;
  padding: 15px;
  border: none;
  background-color: white;
}
.card-list-swiper .item-checkbox {
  padding-left: 0px;
}
.card-list-swiper .item-avatar {
  padding-left: 35px;
  min-height: 35px;
}
.card-list-swiper .item-options {
  position: absolute;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  right: 0;
  z-index: 1;
  top: 10px;
  bottom: 10px;
  height: auto;
  background: linear-gradient(90deg, rgba(148, 207, 79, 1) 29%, rgb(63 193 245) 100%);
}
.card-list-swiper .button.button-light {
  background: none;
  color: #fff;
}
.card-list-swiper .button.button-light.activated {
  background: none;
  color: #fff;
}

.basket-check > .checkbox > .checkbox-icon {
  width: 25px !important;
  height: 25px !important;
}
.basket-check > .checkbox > .checkbox input:after,
.checkbox-icon:after {
  color: #fff !important;
}
.basket-check > .checkbox > .checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background-color: #acd322 !important;
  border-color: #acd322 !important;
}
.basket-check > .checkbox > .checkbox-icon::before {
  border-radius: 5px !important;
}
.basket-detail-container {
  display: flex !important;
}
.basket-img {
  image-rendering: pixelated;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}
.basket-right-border {
  width: 5px;
  background: #acd322;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
