<ion-view ng-app="car_collateral.Ctrl" hide-nav-bar="true">
    <link href="views/loan/car_collateral/car_collateral.css" rel="stylesheet" />
    <ion-content id="car-collateral2" overflow-scroll="true" class="car-col-content">
        <!-- <ion-content id="car-collateral2" scroll="true" class="car-col-content margin-top-50"> -->
        <div class="car-col-step2-back" ng-repeat="data in [{'title':'Хүсэлт илгээх'}]" ng-include src="'views/navbar.html'"></div>
        <div class="list car-collateral-list" ng-controller="car_collateralCtrl">
            <div class="card car-step2-card money-input">
                <span class="step2-card-span">Зээлийн хүсэлтийн мэдээлэл</span>
                <!-- <label class="item item-input step2-input-container">
                    <p class="step2-card-p">Зээлийн хэмжээ</p>
                    <input type="tel" ng-model="$root.newCarReq.requestAmount" placeholder="Зээлийн хэмжээ" name="requestAmount" class="car-step2-input" format-input />
                </label> -->
                <div class="tugrug-input car-coll-step2-loan-amount">
                    <span class="title car-coll-step2-title">Зээлийн хэмжээ</span>
                    <div class="tugrug-input-container">
                        <span class="input-tugrug-icon">₮</span>
                        <input inputmode="numeric" pattern="[0-9]*" type="text" placeholder="" name="" class="input-tugrug-type ng-pristine ng-untouched ng-valid ng-valid-pattern mask" ng-model="$root.carCollateralRequestData.loanAmount" format-input />
                    </div>
                </div>
                <label class="item item-input step2-loam-month">
                    <p>Хугацаа сараар</p>
                    <select class="car-col-step2-select" ng-model="$root.carCollateralRequestData.loanMonth">
                        <option ng-repeat="month in $root.monthData | filter:{id:'!!'}" ng-if="month.name" value="{{month.number1}}">{{month.name}}</option>
                    </select>
                </label>
                <label class="item item-input step2-loam-month">
                    <p>Зээл авах байршил</p>
                    <select class="car-col-step2-select" ng-model="$root.carCollateralRequestData.locationId">
                        <option ng-repeat="loc in $root.locationData | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">{{loc.name}}</option>
                    </select>
                </label>
                <div class="switch-input-container car-coll-switch">
                    <ul class="switch-list">
                        <li>
                            Үйлчилгээний нөхцлийг зөвшөөрөх
                            <span>
                                <label class="step2-switch" id="step2isAgree">
                                    <input type="checkbox" id="step2-togBtn" ng-true-value="1554263832132" ng-false-value="1554263832151" ng-model="$root.carCollateralRequestData.serviceAgreementId" ng-change="changeEvent($root.carCollateralRequestData.serviceAgreementId)" />
                                    <div class="step2-slider step2-round">
                                        <span id="step2-toggle-on" class="step2-on">Тийм</span>
                                        <span id="step2-toggle-off" class="step2-off active">Үгүй</span>
                                    </div>
                                </label>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- <label class="item item-input profile-label">
                    <p>Зээлийн хүү (сараар)</p>
                    <input class="loanFee-car-col" type="tel" placeholder="-" name="loanFee" ng-model="$root.newCarReq.loanFee" format-input />
                </label> -->
                <!-- <label class="item item-input step2-description-field">
                    <p>Тайлбар</p>
                    <textarea type="text" placeholder="..." name="description" ng-model="$root.newCarReq.description"></textarea>
                </label> -->
            </div>
            <span class="step2-bank-span"> Боломжит банк санхүү</span>
            <div class="step2-bank-container">
                <div class="col" ng-repeat="bank in defualtbank | filter:{id:'!!'}">
                    <img src="{{$root.imagePath}}{{bank.banklogo}}" width="25px" height="25px" />
                    <p style="text-align: center;">{{bank.departmentname}}</p>
                </div>
            </div>
            <button class="button btn single-button" id="Next" ng-click="saveCarCollRequestData()">Үргэлжлүүлэх</button>
        </div>
    </ion-content>
</ion-view>