<ion-view ng-app="car_collateral.Ctrl" hide-nav-bar="true">
    <link href="views/loan/car_collateral/car_collateral.css" rel="stylesheet" />
    <ion-content id="car-collateral2" overflow-scroll="true" class="car-col-content">
        <!-- <ion-content id="car-collateral2" scroll="true" class="car-col-content margin-top-50"> -->
        <div class="car-col-step2-back" ng-repeat="data in [{'title':'Хүсэлт илгээх'}]" ng-include src="'views/navbar.html'"></div>
        <!-- <ion-header-bar align-title="left" class="navbar car-col-step2-back" style="background: none; top: 0">
            <div class="title ion-color-big-text navbar-back-button" style="background: none">
                <button class="nav-back-button button buttons button-clear header-item" style="left: 10px">
                    <i class="ion-chevron-left ion-color-header"></i>
                    <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Хүсэлт илгээх</span></span>
                </button>
            </div>
            <div class="navbar-right-icon">
            </div>
        </ion-header-bar> -->
        <div class="list car-collateral-list" ng-controller="car_collateralCtrl">
            <div class="card car-step2-card money-input custom-form-container">
                <span class="step2-card-span">Зээлийн хүсэлтийн мэдээлэл</span>
                <label class="item item-input item-stacked-label form-input-label">
                    <p class="input-label" style="margin: 0;">Зээлийн хэмжээ</p>
                    <input inputmode="numeric" pattern="[0-9]*" type="text" placeholder="" name="" class="property-input disabled-loan-amount" ng-model="$root.carCollateralRequestData.loanAmount" ng-keyup="hideKeyboard($event)" ng-blur="getbankDataCarColl()" thousand-separator select-on-click>
                </label>
                <label class="item item-input item-stacked-label form-input-label">
                    <p class="input-label" style="margin: 0;">Зээлийн хугацаа(сараар)</p>
                    <input inputmode="numeric" pattern="[0-9]*" id="monthInput" type="text" placeholder="" name="" ng-model="$root.carCollateralRequestData.loanMonth" class="property-input" ng-blur="getbankDataCarColl()" ng-keyup="hideKeyboard($event)" select-on-click>
                </label>
                <div class="vxx-title-container"><span class="vxx-title">Тухайн зээлийн хугацаа хамгийн ихдээ <span class="step2-valid-text-bold">{{$root.maxMonth}}</span> сар байна</span></div>
                <label class="item item-input item-select form-input-label">
                    <p class="input-label" style="margin: 0;">Зээл авах байршил</p>
                    <select ng-model="$root.carCollateralRequestData.locationId" class="custom-form-input-select" ng-change="getbankDataCarColl()">
                        <option ng-repeat="loc in $root.locationData | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                            {{loc.name}}
                        </option>
                    </select>
                </label>
                <div class="switch-input-container car-coll-switch">
                    <ul class="switch-list">
                        <li>
                            <span class="step2-span step2-term" ng-click="termModalAgreement.show()">Үйлчилгээний нөхцлийг зөвшөөрөх</span>
                            <span>
                                <label class="step2-switch" id="step2isAgree">
                                    <input type="checkbox" id="step2-togBtn" ng-true-value="1554263832132" ng-false-value="1554263832151" ng-checked="true" ng-model="$root.carCollateralRequestData.serviceAgreementId" ng-change="" />
                                    <div class="step2-slider step2-round">
                                        <span id="step2-toggle-on" class="step2-on">Тийм</span>
                                        <span id="step2-toggle-off" class="step2-off active">Үгүй</span>
                                    </div>
                                </label>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container-padding pulse-animation" id="section07">
                <p class="middle-title agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГАЖ БУЙ БАНК, ББСБ-УУД</p>
                <ion-scroll direction="x" class="wide-scroll-bank-step agree-bank-arrow">
                    <div class="bank" ng-repeat="bank in bankListFilter.Agree">
                        <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                        <p>{{bank.department_name}}</p>
                    </div>
                </ion-scroll>
            </div>
            <div class="container-padding" id="section07">
                <p class="middle-title not-agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГААГҮЙ БАНК, ББСБ-УУД</p>
                <ion-scroll direction="x" class="wide-scroll-bank-step">
                    <div class="bank" ng-repeat="bank in bankListFilter.NotAgree">
                        <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                        <p>{{bank.department_name}}</p>
                    </div>
                </ion-scroll>
            </div>
            <button class="button btn single-button" id="Next" ng-click="saveCarCollRequestData()">Үргэлжлүүлэх</button>
        </div>
    </ion-content>
</ion-view>
<script id="templates/autoColl.html" type="text/ng-template">
  <ion-modal-view class="auto-temp-modal-view">
    <ion-content class="padding bank-chat-content" scroll="false">
        <!-- <span class="term-modal-off-text" ng-click="autoCollModal.hide()"><img style="width: 20px" src="img/x_mark.png" /></span> -->
        <div class="templates-modal-include" ng-include src="'views/templates/autoColl.html'"></div>
    </ion-content>
  </ion-modal-view>
</script>
<script id="templates/term-content.html" type="text/ng-template">
  <ion-modal-view class="term-chat-modal">
    <ion-content class="padding bank-chat-content" scroll="false">
        <span class="term-modal-off-text" ng-click="termModalAgreement.hide()"><img style="width: 20px" src="img/x_mark.png" /></span>
        <div class="term-modal-include" ng-include src="'views/term/term-content.html'"></div>
    </ion-content>
  </ion-modal-view>
</script>