<ion-view id="loanPages" hide-nav-bar="true" cache-view="false">
    <link href="views/loan/car_collateral/car_collateral.css" rel="stylesheet" />
    <div id="overlay" ng-click="sourceSelectOff()">
        <div class="overlay-content">
            <div class="get-photo-choose">
                <div class="get-camera" ng-click="takePhoto()"><i class="icon ion-camera photo-choose-icon"></i><span class="photo-choose-span">Камер нээх</span></div>
                <div class="get-gallery" ng-click="takePhoto('1')"><i class="icon ion-images photo-choose-icon"></i><span class="photo-choose-span">Зурагнаас сонгох</span></div>
            </div>
            <button class="button btn single-button">Хаах</button>
        </div>
    </div>
    <div ng-repeat="data in [{'title':'Автомашин барьцаалсан зээл'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content overflow-scroll="true" class="ion-modified-content has-header car-collateral-content">
        <div class="big-container ghostwhite-noscroll-container">
            <div class="magic-container">
                <div class="bg-container car-collateral-contant-card">
                    <div class="money-input custom-form-container">
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Барьцаалах автомашины төрөл</p>
                            <select ng-model="$root.carDetailData.carCategoryId" style="background-color: transparent" ng-change="getCarFactoryCategory(carDetailData.carCategoryId)" class="custom-form-input-select">
                                <option ng-repeat="com in $root.carCategory track by $index" ng-if="com.name" value="{{com.id}}">
                                    {{com.name}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Автомашины өмчлөл</p>
                            <select ng-model="$root.carDetailData.ownershipTypeId" style="background-color: transparent" class="custom-form-input-select">
                                <option ng-repeat="com in $root.ownershipSelect track by $index" ng-if="com.name" value="{{com.id}}">
                                    {{com.name}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label form-input-label" id="regLabel" ng-click="slideTo('regLabel')">
                            <span class="input-label">Автомашины улсын дугаар</span>
                            <input type="text" id="nationalNumber" class="nationalNumberPicker bg-fff" placeholder="0000УАА" name="nationalNumber" ng-model="$root.carDetailData.nationalNumber" readonly />
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Үйлдвэр</p>
                            <select id="brandSelect" ng-model="$root.carDetailData.brandId" style="background-color: transparent" disabled ng-change="getCarModelData(carDetailData.brandId)" class="custom-form-input-select">
                                <option ng-repeat="com in factoryData track by $index" ng-if="com.name" value="{{com.id}}">
                                    {{com.name}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Марк</p>
                            <select id="modelSelect" ng-model="$root.carDetailData.markId" style="background-color: transparent" disabled class="custom-form-input-select">
                                <option ng-repeat="model in modelData track by $index" ng-if="model.name" value="{{model.id}}">
                                    {{model.name}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label form-input-label" id="productYearPickerLabel" ng-click="slideTo('productYearPickerLabel')">
                            <span class="input-label">Үйлдвэрлэсэн он</span>
                            <input inputmode="numeric" class="productYearPicker bg-fff" pattern="[0-9]*" type="text" id="productYear" placeholder="2020" name="productYear" ng-model="$root.carDetailData.manufacturedYearId" next-focus-elem ng-keyup="hideKeyboard($event)" readonly />
                        </label>
                        <label class="item item-input item-stacked-label form-input-label" id="cameYearPickerLabel" ng-click="slideTo('cameYearPickerLabel')">
                            <span class="input-label">Орж ирсэн он</span>
                            <input inputmode="numeric" class="cameYearPicker bg-fff" pattern="[0-9]*" maxlength="4" type="text" id="entryYear" placeholder="2020" name="entryYear" ng-model="$root.carDetailData.cameYearId" next-focus-elem ng-keyup="hideKeyboard($event)" readonly />
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <span class="input-label">Орлого баталгаажих эсэх</span>
                            <select ng-model="$root.newReqiust.proveIncome" class="custom-form-input-select" ng-change="incomeConfirm(newReqiust.proveIncome)">
                                <option ng-repeat="loc in $root.proveIncomeData | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="bank-container">
                <p>Танд зээл олгох боломжтой банк, ББСБ-ууд</p>
                <img class="tooltip" ng-repeat="bank in allBankList | filter:{id:'!!'}" ng-if="bank.bank_logo" ng-src="{{$root.imagePath}}{{bank.bank_logo}}" title="{{bank.department_name}}" animation="fade" />

            </div>
            <ion-footer class="bottom-footer" style="margin-bottom: 20px;">
                <button class="button btn single-button" id="Next" ng-click="saveCarCol()">Үргэлжлүүлэх</button>
            </ion-footer>
        </div>
        </div>

    </ion-content>
</ion-view>