.item-select:after {
  right: 5px !important;
}
.car-img img {
  width: 100% !important;
  height: 88px;
  border-radius: 10px;
}
.car-collateral-img-list {
  border: 0px;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  background: none;
  padding-bottom: 0px !important;
}
.bottom-bank-container img {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}
.bottom-bank-container span {
  letter-spacing: -0.5px;
}
.step2-bank-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.step2-bank-container p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.car-collateral-content {
  height: calc(100% - 50px);
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  margin: 0 auto;
}
.overlay-content {
  color: #000;
  font-size: 12px;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-bottom: 50px;
  background: #fff;
  border: 1px solid #acd322;
}
.car-coll-img-p {
  color: #a2a7b5;
  text-align: center;
  padding-top: 2px;
}
.car-collateral-contant-card {
  border-radius: 10px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}
.wrap-text-car-col {
  white-space: pre-wrap !important;
  text-align: center;
}
.car-coll-img-row {
  padding: 0 !important;
}
.car-coll-img-row img {
  width: 100% !important;
}
#nationalNumber {
  background-color: #fff !important;
}
.car-coll-file-container {
  border: 1px dashed #ccc;
  box-shadow: none !important;
  background-color: transparent !important;
  margin-bottom: 10px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.car-coll-selected-img {
  width: 40px !important;
  height: 80% !important;
  border-radius: 8px !important;
  top: 5px !important;
  left: 7px !important;
}
