.car-col-content {
  margin-bottom: 50px;
  background: #f8f8fe;
  bottom: 0px;
}
.car-collateral-list {
  height: 100% !important;
}

.car-collateral-label {
  width: 100%;
  border-left: none;
  border-right: none;
  background: none;
  padding: 5px;
  border-bottom-width: 1px;
  border-color: #ccc;
  border-top-width: 0px;
}
.car-collateral-label p {
  color: #606060 !important;
  margin: 5px 0;
}
.car-collateral-label input {
  text-align: right;
  padding-right: 0px !important;
  color: #4b5180 !important;
  font-weight: bold;
  width: 30%;
  position: absolute;
  right: 0;
  background-color: #fff !important;
}
.item-select:after {
  right: 5px !important;
}
.car-img img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
.car-collateral-img-list {
  border: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background: none;
}
.bottom-bank-container img {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}
.bottom-bank-container span {
  letter-spacing: -0.5px;
}
.car-step2-card {
  padding: 10px;
  margin: 20px 15px 0px 15px;
  height: 300px;
  background-color: #fff !important;
  margin: 70px 20px 10px 20px !important;
}
.car-coll-step2-loan-amount {
  margin: 15px !important;
}
.car-step2-card select {
  width: auto;
  margin: 0 12px 0 auto;
  float: right;
  border: none;
  border-color: #d5d5d5;
  border-radius: 5px;
  padding: 7px 0px 7px 30px;
  color: #606060;
  text-align-last: right;
  background-color: #fff;
  position: absolute;
  right: 0;
}
.car-step2-input {
  text-align: left !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
  padding: 0 10px 0 35px !important;
}
.step2-card-span {
  color: #4b5180;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  font-weight: bold;
  padding: 10px 0px 0px 15px;
}
.step2-loam-month {
  border: 1px solid #d5d5d5 !important;
  border-radius: 5px;
  margin: 15px !important;
  padding: 15px 5px 15px 0px !important;
}
.step2-loam-month p {
  position: absolute;
  padding-left: 30px;
}
.step2-loam-month i {
  font-size: 1.3em !important;
  padding: 10px !important;
}
.step2-bank-container {
  padding: 0 10px;
  left: 0;
  display: flex !important;
  /* position: absolute; */
}
.step2-bank-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.step2-bank-container p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.step2-bank-span {
  color: #4b5180;
  padding-left: 20px !important;
}
.step2-description-field {
  display: block !important;
}
.step2-description-field textarea {
  min-height: 100px;
}
.car-coll-step2-title {
  color: #606060 !important;
}
.bank-logo-container {
  display: flex;
  position: relative;
  float: left;
}
.ml-42 {
  margin-left: 42px;
  margin-top: -5px;
}
.logo-size {
  width: 35px;
  height: 35px;
}
.car-step3-card {
  background-color: #fff !important;
  margin: 10px 20px 10px 20px !important;
}
.car-step3-card label {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
.car-step3-card .item.item-input input {
  padding-right: 24px !important;
  width: 100px;
  position: absolute;
  right: 0;
}
.step3-container .scroll {
  height: 100% !important;
}
.bank-desc-green {
  color: #acd322 !important;
}
.step3-checkbox-container > .item-content {
  padding-left: 35px;
}
.checkbox input:checked + .checkbox-icon::after {
  border-radius: 5px !important;
}
.checkbox input[type="checkbox"]:checked + i:after {
  content: "\2713";
  transform: rotate(0);
  top: 0% !important;
  left: 20% !important;
  border: none !important;
  display: flex;
  text-align: center;
  color: #acd322;
}
#car-collateral2 > .scroll {
  height: 170px;
  background: rgb(134, 205, 109);
  background: url(/www/img/lines/home-small-line.png), -moz-linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  background: url(/www/img/lines/home-small-line.png), -webkit-linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  background: url(/www/img/lines/home-small-line.png), linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#86cd6d",endColorstr="#3fc1f3",GradientType=1);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
}
.step3-btn-container {
  bottom: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.car-col-step3-label {
  line-height: 20px !important;
}
.loanFee-car-col {
  padding-right: 24px !important;
  width: 30vw;
  position: absolute;
  right: 0;
}
.car-collateral-content {
  height: 100%;
}
.car-col-step2-back ion-header-bar {
  background: transparent !important;
}
.car-col-step2-back i {
  color: #fff !important;
}

.car-col-step2-back span {
  color: #fff !important;
}
.step3-checkbox-container {
  padding-left: 15px !important;
  background-color: #fff !important;
  color: #a2a7b5 !important;
  font-size: 14px !important;
}
.step3-checkbox-container > .checkbox > .checkbox-icon {
  width: 25px !important;
  height: 25px !important;
}
.step3-checkbox-container > .checkbox > .checkbox input:after,
.checkbox-icon:after {
  color: #fff !important;
}
.step3-checkbox-container > .checkbox > .checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background-color: #acd322 !important;
  border-color: #acd322 !important;
}
.step3-checkbox-container > .checkbox > .checkbox-icon::before {
  border-radius: 5px !important;
}
.step3-bank-dtl-container {
  padding-top: 2px;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  margin: 0 auto;
}
.overlay-content {
  color: #000;
  font-size: 12px;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-bottom: 50px;
  background: #fff;
  border: 1px solid #acd322;
}
.car-coll-img-p {
  color: #a2a7b5;
  text-align: center;
  padding-top: 2px;
}
.car-coll-switch {
  margin-left: 15px;
}
.car-collateral-contant-card {
  background-color: #fff;
  padding: 15px 0px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  margin: 10px 20px;
}
.car-coll-req {
  color: red;
}
.wrap-text-car-col {
  white-space: pre-wrap !important;
  text-align: center;
}
.car-coll-img-row {
  padding: 0 !important;
}
.item-info-dan li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a2a7b5;
  border-bottom: 1px solid #cccbcb78;
  margin: 8px 0 8px 0 !important;
  padding: 5px;
}
.item-info-dan li span {
  background-color: transparent;
  color: #4b5180;
  z-index: 1;
  display: inline-block;
  padding: 3px 8px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
