<ion-view ng-app="notif_detail.Ctrl" hide-nav-bar="true">
    <link href="views/notif/notif_detail/notif_detail.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Дэлгэрэнгүй'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content overflow-scroll="true" class="notif-detail-content margin-top-50 content-margin-bottom">
        <div ng-controller="notif_detailCtrl" class="notif-detail-container">
            <div class="list">

                <div class="item item-thumbnail-right">
                    <img src="img/logo.png" />
                    <h2 class="ion-font-weight-bold notif-tab2-h2">Харилцагчийн кредит скоринг гэж юу вэ?</h2>
                    <p>2020-11-20</p>
                </div>

                <div class="item item-body">
                    <!-- <img class="full-image" src="img/logo.png" /> -->
                    <p>
                        ...
                    </p>
                    <p>
                        ...
                    </p>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>