<ion-view ng-app="notif_detail.Ctrl" hide-nav-bar="true">
    <link href="views/notif/notif_detail/notif_detail.css" rel="stylesheet" />
    <ion-header-bar align-title="left" class="navbar" style="background: none; top: 0">
        <div class="title ion-color-big-text navbar-back-button" style="background: none">
            <button ng-click="$ionicGoBack()" class="nav-back-button button buttons button-clear header-item" style="left: 10px">
                <i class="ion-chevron-left ion-color-header"></i>
                <span class="navbar-back-text ion-color-header" style="transform: translate3d(0px, 0px, 0px);"><span>Дэлгэрэнгүй</span></span>
            </button>
        </div>
        <div class="navbar-right-icon">
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="notif-detail-content content-margin-bottom">
        <div ng-controller="notif_detailCtrl" class="notif-detail-container">
            <div class="list">

                <div class="item item-thumbnail-right">
                    <img src="img/logo.png" />
                    <h2 class="ion-font-weight-bold notif-tab2-h2">Харилцагчийн кредит скоринг гэж юу вэ?</h2>
                    <p>2020-11-20</p>
                </div>

                <div class="item item-body">
                    <!-- <img class="full-image" src="img/logo.png" /> -->
                    <p>
                        ...
                    </p>
                    <p>
                        ...
                    </p>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>