<ion-view hide-nav-bar="true">
    <link href="views/suppliers/suppliers.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Дэлгүүрүүд'}]" ng-include src="'views/navbar.html'"></div>

    <ion-content overflow-scroll="true" class="ion-modified-content margin-top-50">

        <div class="suppliers-search-container" ng-click="goSearchPage()">
            <span class="icon ion-search suppliers-search-item"></span>
            <input class="suppliers-search-input" type="text" placeholder="Хайх" disabled />
        </div>
        <div class="title-class-suppliers">
            <span class="uppercase-m-title suppliers-title">Шинэ</span>
            <span class="left-0 ion-color-text suppliers-more" ng-click="seeAllNewOrSpecial('Шинэ')">Бүгдийг харах <i class="icon ion-chevron-right"></i></span>
        </div>
        <div class="suppliers-list-container">
            <ion-scroll direction="x" class="wide-as-needed suppliers-scroll">
                <div class="horizontal-item-suppliers suppliers-card-container" ng-repeat="car in dcSuppliers | orderBy:'-createddate' | limitTo:5" ng-click="supplierDetailFromSuppliers(car.id)">
                    <div class="h-item">
                        <img ng-src="{{$root.imagePath}}{{car.supplierpic}}" />
                        <span class="suppliers-name">{{car.suppliername}}</span>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <div class="title-class-suppliers">
            <span class="uppercase-m-title suppliers-title">Онцлох</span>
            <span class="left-0 ion-color-text suppliers-more" ng-click="seeAllNewOrSpecial('Онцлох')">Бүгдийг харах <i class="icon ion-chevron-right"></i></span>
        </div>
        <div class="suppliers-list-container">
            <ion-scroll direction="x" class="wide-as-needed suppliers-scroll">
                <div class="horizontal-item-suppliers suppliers-card-container" ng-repeat="car in dcSuppliers | filter:{isspecial:1} | orderBy:'-createddate' | limitTo:7" ng-click="supplierDetailFromSuppliers(car.id)">
                    <div class=" h-item">
                        <img ng-src="{{$root.imagePath}}{{car.supplierpic}}" />
                        <span class="suppliers-name">{{car.suppliername}}</span>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <div class="title-class-suppliers">
            <span class="uppercase-m-title suppliers-title">Бүх дэлгүүр</span>
            <span class="left-0 ion-color-text suppliers-more" ng-click="seeAllNewOrSpecial()">Бүгдийг харах <i class="icon ion-chevron-right"></i></span>
        </div>
        <div class="suppliers-list-container">
            <ion-scroll direction="x" class="wide-as-needed suppliers-scroll">
                <div class="horizontal-item-suppliers suppliers-card-container" ng-repeat="car in dcSuppliers | orderBy:'-createddate'" ng-click="supplierDetailFromSuppliers(car.id)">
                    <div class=" h-item">
                        <img ng-src="{{$root.imagePath}}{{car.supplierpic}}" />
                        <span class="suppliers-name">{{car.suppliername}}</span>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>