<ion-header-bar align-title="left" class="navbar">
  <div class="title ion-color-big-text navbar-back-button">
    <button ng-click="$ionicGoBack()" class="nav-back-button button buttons button-clear header-item car-back-nav">
      <i class="ion-chevron-left ion-color-header"></i>
      <span class="navbar-back-text ion-color-header"><span>{{data.title}}</span></span>
    </button>
  </div>
  <div class="navbar-right-icon">
    <!-- <button class="button button-clear icon ion-search cus-header-icon ion-float-right ion-color-brand-green" ui-sref="search"></button> -->
  </div>
</ion-header-bar>