<link href="views/templates/templates.css" rel="stylesheet" />
<div class="list templates-list">
    <div class="card templates-card">
        <ion-scroll direction="y" class="templates-scroll">
            <!-- <span class="templates-title">Зээлийн маркетийг сонгож буй<span>Танд баярлалаа</span></span>-->
            <span class="templates-sub-title-dan-is"> “Дан” танилт нэвтрэлтийн нэгдсэн систем нь цахим орчинд бүхий л төрлийн цахим үйлчилгээг авахад тухайн иргэнийг таньж баталгаажуулах боломжийг бүрдүүлэх, хувийн хэвшил болон төрийн үйлчилгээний өөр хоорондоо харилцан хамааралгүй системүүдтэй нягт уялдаатай ажиллах боломжтой платформ бүхий систем юм.<br>Хэрэглэгч та “Дан” танилт нэвтрэлтийн нэгдсэн системийг 1 удаа ашиглан нэвтэрснээр тус системд холбогдсон бүх төрлийн системүүд рүү нэвтрэх эрхтэй болно.
            </span>
            <button class="button btn single-button auto-template-btn" id="Next" ng-click="danIsModal.hide()">Хаах</button>
        </ion-scroll>
    </div>
</div>