<link href="views/templates/templates.css" rel="stylesheet" />
<div class="list templates-list">
    <div class="card templates-card">
        <ion-scroll direction="y" class="templates-scroll">
            <span class="templates-sub-title-dan-is"> E-Mongolia нь төрийн үйлчилгээний нэгдсэн систем бөгөөд Та зээл авахад шаардлагатай материалыг уг системээр дамжуулан илгээснээр цаг хугацаа, зардалаа хэмнэх юм. Банк, ББСБ-аас зээл авахад шаарддаг материалуудаа Та онлайнаар хүргүүлэх боломжыг E-Mongolia олгож байгаа болно. Амжилт хүсье
            </span>
            <button class="button btn single-button auto-template-btn" id="Next" ng-click="danIsModal.hide()">Хаах</button>
        </ion-scroll>
    </div>
</div>