<ion-view hide-nav-bar="true" cache-view="false">
    <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
    <link href="views/loan/danselect/danselect.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Иргэний мэдээлэл'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content overflow-scroll="true" class="ion-modified-content has-header">
        <div class="big-container">
            <div class="magic-container">
                <div class="bg-container">
                    <div class="dan-container">
                        <div class="danselect-card-row1">
                            <img class="danselect-img" style=" width: 150px; " src="img/emongolia.svg" />
                        </div>
                        <div class="danselect-card-row2">
                            <span class="danselect-card-text">Та E-mongolia систем ашиглан зээл авахад шаарддаг материалаа яг одоо цахимаар өгснөөр <span class="dan-select-title-span">ЦАГ ХУГАЦАА, МӨНГӨӨ</span> хэмнэх болно.</span>
                            <div class="dan-is-btn-txt" ng-click="danIsModal.show()">E-Mongolia гэж юу вэ?</div>
                        </div>
                        <button class="button btn single-button" ng-click="gotoDanLoginAutoIncome();">Мэдээлэл татах</button>
                        <div class="dan-hand-btn" ng-click="danHand()">Гараар бөглөх</div>
                    </div>
                </div>
                <div class="container-padding pulse-animation" id="section07">
                    <p class="middle-title agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГАЖ БУЙ БАНК, ББСБ-УУД</p>
                    <ion-scroll direction="x" class="wide-scroll-bank-step agree-bank-arrow">
                        <div class="bank" ng-repeat="bank in bankListFilter.Agree">
                            <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                            <p>{{bank.department_name}}</p>
                        </div>
                    </ion-scroll>
                </div>
                <div class="container-padding" id="section07">
                    <p class="middle-title not-agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГААГҮЙ БАНК, ББСБ-УУД</p>
                    <ion-scroll direction="x" class="wide-scroll-bank-step">
                        <div class="bank" ng-repeat="bank in bankListFilter.NotAgree">
                            <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                            <p>{{bank.department_name}}</p>
                        </div>
                    </ion-scroll>
                </div>
            </div>
            <ion-footer class="bottom-footer" style="margin-bottom: 50px;">
            </ion-footer>
        </div>
    </ion-content>
</ion-view>
<script id="templates/danIs.html" type="text/ng-template">
  <ion-modal-view class="auto-temp-modal-view">
    <ion-content class="padding bank-chat-content" scroll="false">
        <div class="templates-modal-include" ng-include src="'views/templates/danIs.html'"></div>
    </ion-content>
  </ion-modal-view>
</script>