<ion-modal-view id="profileKeyContainer" class="reg-num-modal">
    <ion-content scroll="false" class="padding overlay-profile-reg-select-content">
        <div id="keypadReg" cellpadding="5" cellspacing="3">
            <div class="row keyboard-row-1">
                <div class="col keyboard-title keyboard-title-left" ng-click="cancelRegNums()">Хаах</div>
                <div class="col keyboard-title keyboard-title-right" ng-click="saveRegNums()">Хадгалах</div>
            </div>
            <div class="row keypad-row">
                <div class="col keypad-col" ng-click="addCode('1')">1</div>
                <div class="col keypad-col" ng-click="addCode('2')">2</div>
                <div class="col keypad-col" ng-click="addCode('3')">3</div>
            </div>
            <div class="row keypad-row">
                <div class="col keypad-col" ng-click="addCode('4')">4</div>
                <div class="col keypad-col" ng-click="addCode('5')">5</div>
                <div class="col keypad-col" ng-click="addCode('6')">6</div>
            </div>
            <div class="row keypad-row">
                <div class="col keypad-col" ng-click="addCode('7')">7</div>
                <div class="col keypad-col" ng-click="addCode('8')">8</div>
                <div class="col keypad-col" ng-click="addCode('9')">9</div>
            </div>
            <div class="row keypad-row">
                <div class="col keypad-col" ng-click="emptyCode()">C</div>
                <div class="col keypad-col" ng-click="addCode('0')">0</div>
                <div class="col keypad-col" ng-click="clearD()"><i class="ion-arrow-left-c"></i></div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>