.auto-temp-modal-view {
  background: transparent !important;
}
.templates-card {
  padding: 0px 20px;
  height: fit-content;
  background-color: #fff !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
  position: absolute;
  top: 48%;
  left: calc(50% - 40px);
  transform: translate(-50%, -50%);
  width: 90%;
}

.templates-scroll {
  height: 100%;
  padding: 10px 0px;
}
.templates-scroll .scroll-bar {
  display: none;
}
.templates-modal-off-text {
  right: 6%;
  position: absolute;
  top: 2%;
  zoom: 1.2;
  z-index: 99;
}
.templates-title {
  width: 100%;
  display: grid;
  text-align: center;
  margin: 0px auto;
}
.templates-sub-title {
  width: 70%;
  margin: auto;
  font-weight: bold;
  text-align: center;
  display: block;
}
.templates-content {
  border: 1px solid #acd322;
  border-radius: 10px;
  margin: 30px 10px;
}
.templates-content-ul {
  display: flex;
  padding: 10px 10px 0px 10px;
}
.templates-content-ul span {
  align-self: center;
  padding-left: 10px;
}
.click-here {
  color: #acd322;
  font-weight: bold;
}
.bank-container-template {
  padding: 15px;
  text-align: center;
}
.bank-container-template img {
  margin-right: 10px;
  height: 30px;
  border-radius: 10%;
  min-width: 30px;
  max-width: 60px;
  padding: 2px;
}

.bank-container-template p {
  text-transform: uppercase;
  color: #515151;
  font-size: 11px;
  line-height: normal;
}
.auto-template-btn {
  margin: 20px auto !important;
  height: 35px;
}
.auto-template-bank-title {
  font-weight: bold;
}
.dan-select-title-span {
  /* color: #acd322 !important; */
  color: #4b5180 !important;
  font-weight: bold;
}
.templates-sub-title-dan-is {
  width: 90%;
  margin: auto;
  font-weight: bold;
  text-align: center;
  display: block;
}
.templates-list {
  position: relative;
  height: 100vh;
}
.property-checkbox-container > .checkbox > .checkbox-icon {
  width: 25px !important;
  height: 25px !important;
}
.property-checkbox-container > .checkbox > .checkbox input:after,
.checkbox-icon:after {
  color: #fff !important;
}
.property-checkbox-container > .checkbox > .checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background-color: #acd322 !important;
  border-color: #acd322 !important;
}
.property-checkbox-container > .checkbox > .checkbox-icon::before {
  border-radius: 5px !important;
}
.dan-li {
  margin: 0 !important;
}
.property-category {
  color: #4b5180;
  font-weight: bold !important;
}
.property-dan-card {
  padding: 0px 20px 10px 20px;
  height: 50vh;
  background-color: #fff !important;
  margin: 70px 20px 10px 20px !important;
  background-color: #fff !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
  position: absolute;
  top: 48%;
  left: calc(50% - 40px);
  transform: translate(-50%, -50%);
  width: 90%;
  display: grid;
}
.property-dan-title {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #4b5180 !important;
  width: 80%;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  padding: 10px;
}
.property-dan-select {
  border: none !important;
  margin: 2px 0 !important;
}
.property-dan-select .radio-icon {
  border: 1px solid #acd322;
  width: 100% !important;
  color: #acd322;
  border-radius: 10px !important;
}
.property-dan-select .radio-icon::before {
  float: right;
}
.property-address {
  font-size: 10px !important;
  white-space: break-spaces !important;
}
.property-dan-select .item-content {
  padding-right: 0px !important;
  background: #fff !important;
}
.register-property-hand {
  font-weight: bold;
  color: #4b5180;
  font-size: 14px;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-color: #acd322;
  margin: 0px auto 0px auto;
  width: 55vw;
  text-align: center;
  min-height: 37px;
  line-height: 34px !important;
  align-self: center;
}
.photobanner {
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  animation: bannermove 15s linear infinite;
}
@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-40%, 0);
  }
}
