<ion-view id="preLoan" hide-footer-bar="true" hide-nav-bar="true" cache-view="false">
    <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />

    <div ng-repeat="data in [{'title':'Хүсэлт илгээх'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content overflow-scroll="true" class="ion-modified-content has-header autoleasing-step2-content">
        <div class="big-container">
            <div class="magic-container">
                <div class="bg-container">
                    <div class="money-input custom-form-container">
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Зээлийн хэмжээ</p>
                            <input inputmode="numeric" id="loanAmountRequest" pattern="[0-9]*" type="text" placeholder="" name="" class="property-input disabled-loan-amount" ng-model="$root.newReqiust.loanAmount" ng-blur="getbankDataPreLoan()" format-input thousand-separator select-on-click>
                        </label>
                        <div ng-if="!$root.collTrueStep2" class="vxx-title-container"><span class="vxx-title">Тухайн зээлийн урьдчилгаа багадаа <br /> {{$root.displayMinPayment|formatNumber}} байна</span></div>
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Урьдчилгаа төлбөр</p>
                            <input inputmode="numeric" pattern="[0-9]*" type="text" placeholder="" name="" id="sendRequestAdvancePayment" ng-model="$root.newReqiust.advancePayment" class="property-input" ng-change="calcLoanAmountPreLoan();" ng-blur="getbankDataPreLoan()" thousand-separator select-on-click>
                        </label>
                        <div ng-if="!$root.collTrueStep2" class="vxx-title-container">
                            <span class="vxx-title">Тухайн зээлийн урьдчилгаа багадаа <br />
                                <span class="step2-valid-text-bold">{{$root.displayMinPayment|formatNumber}}</span> байна
                            </span>
                        </div>
                        <div class="vxx-title-container"><span class="vxx-title">Тухайн зээлийн хугацаа хамгийн ихдээ {{$root.maxMonth}} сар байна</span></div>
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Зээлийн хугацаа(сараар)</p>
                            <input type="tel" placeholder="" id="step2loanMonth" name="" ng-model="$root.newReqiust.loanMonth" class="property-input" ng-blur="getbankDataPreLoan()" ng-keyup="hideKeyboard($event)" select-on-click>
                        </label>
                        <div class="vxx-title-container"><span class="vxx-title">Тухайн зээлийн хугацаа хамгийн ихдээ <span class="step2-valid-text-bold">{{$root.maxMonth}}</span> сар байна</span></div>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Зээл авах байршил</p>
                            <select ng-model="$root.newReqiust.locationId" class="custom-form-input-select" ng-change="getbankDataPreLoan()">
                                <option ng-repeat="loc in $root.locationData | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}
                                </option>
                            </select>
                        </label>
                        <div class="switch-input-container">
                            <ul class="switch-list">
                                <li>
                                    <span class="step2-span step2-term" ng-click="termModalAgreement.show()">Үйлчилгээний нөхцлийг зөвшөөрөх</span>
                                    <span>
                                        <label class="step2-switch" id="step2isAgree">
                                            <input type="checkbox" id="step2-togBtn" ng-true-value="1554263832132" ng-checked="true" ng-false-value="1554263832151" ng-model="$root.newReqiust.serviceAgreementId" />
                                            <div class="step2-slider step2-round">
                                                <span id="step2-toggle-on" class="step2-on">Тийм</span>
                                                <span id="step2-toggle-off" class="step2-off active">Үгүй</span>
                                            </div>
                                        </label>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-padding pulse-animation" id="section07">
                <p class="middle-title agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГАЖ БУЙ БАНК, ББСБ-УУД</p>
                <ion-scroll direction="x" class="wide-scroll-bank-step agree-bank-arrow">
                    <div class="bank" ng-repeat="bank in bankListFilter.Agree">
                        <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                        <p>{{bank.department_name}}</p>
                    </div>
                </ion-scroll>
            </div>
            <div class="container-padding" id="section07">
                <p class="middle-title not-agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГААГҮЙ БАНК, ББСБ-УУД</p>
                <ion-scroll direction="x" class="wide-scroll-bank-step">
                    <div class="bank" ng-repeat="bank in bankListFilter.NotAgree">
                        <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                        <p>{{bank.department_name}}</p>
                    </div>
                </ion-scroll>
            </div>
        </div>
        <button class="button btn single-button" id="Next" ng-click="goStep3PreLoan()">ҮРГЭЛЖЛҮҮЛЭХ</button><br />
        </div>
        <ion-footer class="bottom-footer">
        </ion-footer>
        </div>
    </ion-content>
</ion-view>
<script id="templates/term-content.html" type="text/ng-template">
  <ion-modal-view class="term-chat-modal">
    <ion-content class="padding bank-chat-content" scroll="false">
        <span class="term-modal-off-text" ng-click="termModalAgreement.hide()"><img style="width: 20px" src="img/x_mark.png" /></span>
        <div class="term-modal-include" ng-include src="'views/term/term-content.html'"></div>
    </ion-content>
  </ion-modal-view>
</script>
<script id="templates/preloan.html" type="text/ng-template">
  <ion-modal-view class="auto-temp-modal-view">
    <ion-content class="padding bank-chat-content" scroll="false">
        <div class="templates-modal-include" ng-include src="'views/templates/preloan.html'"></div>
    </ion-content>
  </ion-modal-view>
</script>