<ion-view hide-nav-bar="true">
    <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Ногоон зээл'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content overflow-scroll="false" ng-controller="ecoCtrl" class="eco-container margin-top-50">
        <div class="big-container">
            <div class="magic-container">
                <div class="bg-container">
                    <div class="custom-form-container">
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Барааны төрөл</p>
                            <select ng-model="$root.newReqiust.typeId" class="custom-form-input-select" ng-change="changeSupSubCategory($root.newReqiust.typeId);getbankDataEco();">
                                <option ng-repeat="loc in $root.ecoProductType | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Нийлүүлэгч</p>
                            <select id="shopId" ng-model="$root.newReqiust.vendorId" class="custom-form-input-select" ng-change="getbankDataEco();">
                                <option ng-repeat="loc in $root.allSupplierList | filter:{id:'!!'}" ng-if="loc.suppliername" value="{{loc.id}}">
                                    {{loc.suppliername}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Зээлийн хэмжээ</p>
                            <input inputmode="numeric" id="loanAmountRequest" pattern="[0-9]*" type="text" placeholder="" name="" class="property-input disabled-loan-amount" ng-model="$root.newReqiust.getLoanAmount" ng-blur="getbankDataEco()" thousand-separator select-on-click>
                        </label>
                        <label class="item item-input item-stacked-label form-input-label">
                            <p class="input-label" style="margin: 0;">Хугацаа (сараар)</p>
                            <input type="tel" placeholder="" id="step2loanMonth" name="" ng-model="$root.newReqiust.loanMonth" class="property-input" ng-blur="getbankDataEco()" ng-keyup="hideKeyboard($event)" select-on-click>
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Хамтран зээлдэгчтэй эсэх</p>
                            <select ng-model="$root.newReqiust.isCoBorrower" class="custom-form-input-select" ng-change="getbankDataEco()">
                                <option ng-repeat="loc in $root.isColl | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}
                                </option>
                            </select>
                        </label>
                        <label class="item item-input item-select form-input-label">
                            <p class="input-label" style="margin: 0;">Байршил</p>
                            <select ng-model="$root.newReqiust.locationId" class="custom-form-input-select" ng-change="getbankDataEco()">
                                <option ng-repeat="loc in $root.locationData | filter:{id:'!!'}" ng-if="loc.name" value="{{loc.id}}">
                                    {{loc.name}}
                                </option>
                            </select>
                        </label>

                        <div class="switch-input-container">
                            <ul class="switch-list">
                                <li>
                                    <span class="step2-span step2-term" ng-click="termModalAgreement.show()">Үйлчилгээний нөхцлийг зөвшөөрөх</span>
                                    <span>
                                        <label class="step2-switch" id="step2isAgree">
                                            <input type="checkbox" id="step2-togBtn" ng-true-value="1554263832132" ng-checked="true" ng-false-value="1554263832151" ng-model="$root.newReqiust.serviceAgreementId" />
                                            <div class="step2-slider step2-round">
                                                <span id="step2-toggle-on" class="step2-on">Тийм</span>
                                                <span id="step2-toggle-off" class="step2-off active">Үгүй</span>
                                            </div>
                                        </label>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container-padding pulse-animation" id="section07">
                    <p class="middle-title agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГАЖ БУЙ БАНК, ББСБ-УУД</p>
                    <ion-scroll id="photoBanner" direction="x" class="wide-scroll-bank-step agree-bank-arrow">
                        <div class="bank" ng-repeat="bank in bankListFilter.Agree">
                            <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                            <p>{{bank.department_name}}</p>
                        </div>
                    </ion-scroll>
                </div>
                <div class="container-padding" id="section07">
                    <p class="middle-title not-agree-banks">ТА ЗЭЭЛИЙН ШАЛГУУРЫГ НЬ ХАНГААГҮЙ БАНК, ББСБ-УУД</p>
                    <ion-scroll direction="x" class="wide-scroll-bank-step">
                        <div class="bank" ng-repeat="bank in bankListFilter.NotAgree">
                            <img ng-src="{{bank.bank_logo|guessImageMime}}" />
                            <p>{{bank.department_name}}</p>
                        </div>
                    </ion-scroll>
                </div>
                <button class="button btn single-button" id="Next" ng-click="ecoStep2()">ҮРГЭЛЖЛҮҮЛЭХ</button><br />
            </div>
            <div class="none-div">
            </div>
        </div>
    </ion-content>
</ion-view>
<script id="templates/term-content.html" type="text/ng-template">
  <ion-modal-view class="term-chat-modal">
    <ion-content class="padding bank-chat-content" scroll="false">
        <span class="term-modal-off-text" ng-click="termModalAgreement.hide()"><img style="width: 20px" src="img/x_mark.png" /></span>
        <div class="term-modal-include" ng-include src="'views/term/term-content.html'"></div>
    </ion-content>
  </ion-modal-view>
</script>