<ion-view ng-app="request_detail.Ctrl" class="request-detail-view" hide-nav-bar="true">
  <link href="views/request-list/request-detail/request_detail.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Зээлийн хүсэлт'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content overflow-scroll="true" class="request-detail-content margin-top-50">
    <div class="list" ng-controller="request_detailCtrl">
      <div class="request-detail-container">
        <span class="bant-detail-title request-middle-title"> Банкны санал</span>
        <div class="bank-detail">
          <label class="item item-input bank-detail-label">
            <p>Банк</p>
            <input type="text" placeholder="Банк" name="bank" ng-model="$root.selectedMapBankDTL.departmentname" disabled />
          </label>
          <label class="item item-input bank-detail-label">
            <p>Төлөв</p>
            <input type="text" placeholder="Төлөв" name="fee" ng-model="$root.selectedMapBankDTL.wfmstatusname" disabled />
          </label>
          <label class="item item-input bank-detail-label">
            <p>Хүү</p>
            <input type="text" placeholder="Хүү" name="fee" ng-model="$root.selectedMapBankDTL.loanfeetext" disabled />
          </label>
          <label class="item item-input bank-detail-label">
            <p>Хугацаа</p>
            <input type="text" placeholder="Хугацаа" name="month" ng-model="$root.selectedMapBankDTL.loanmonth" disabled />
          </label>
          <label class="item item-input bank-detail-label">
            <p>Зээлийн хэмжээ</p>
            <input type="text" placeholder="Зээлийн хэмжээ" name="price" ng-model="$root.selectedMapBankDTL.loanamount" disabled format-input />
          </label>
          <ion-checkbox class="detail-checkbox" ng-model="isConfirm.checked" ng-disabled="isConfirmCheck" ng-click="checkIsConfirmed()">
            <span>Батлагдсан зээлийг зөвшөөрөх эсэх</span>
          </ion-checkbox>
        </div>
      </div>
      <span class="bank-chat-title request-middle-title"> Зурвас</span>
      <div class="bank-chat-container" ng-click="modal.show();getChatHistory()">
        <div class="bank-chat-income">
          <span class="income-chat-body">{{bankFirstChat}}</span>
          <span class="income-chat-time">{{bankFirstChatDate}}</span>
        </div>
      </div>
      <div class="detail-btn-container">
        <button class="button bottom-first-button" ng-click="showPopupDTL('Хүсэлт цуцлах','decline')" ng-disabled="!isConfirm.checked">ЦУЦЛАХ</button>
        <button class="button bottom-second-button" ng-click="showPopupDTL('Зөвшөөрөл илгээх','confirm')" ng-disabled="!isConfirm.checked">ЗӨВШӨӨРӨХ</button>
      </div><br />
    </div>
  </ion-content>
</ion-view>
<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view class="bank-chat-modal">
    <ion-header-bar class="bar bar-header">
      <h1 class="title">Зурвас</h1>
      <button class="button button-clear bank-chat-hide-btn" ng-click="modal.hide()"><i class="ion-close-round"></i></button>
    </ion-header-bar>
    <ion-content class="padding bank-chat-content">
      <div class="list modal-chat-body">
        <div class="bank-chat-income" ng-repeat="chatBank in chatHistory | filter:{dim2:'2'}">
          <div class="bank-chat-body">
            <img width="20px" ng-src="{{$root.imagePath}}{{$root.selectedMapBankDTL.banklogo}}" />
            <span class="income-chat-body">{{chatBank.text1}}</span>
          </div>
          <span class="income-chat-time">{{chatBank.createddate}}</span>
        </div>
        <div class="bank-chat-send" ng-repeat="chat in chatHistory | filter:{dim2:'1'}">
          <span class="send-chat-body">{{chat.text1}}</span>
          <span class="send-chat-time">{{chat.createddate}}</span>
        </div>
      </div>
    </ion-content>
    <ion-footer class="bank-chat-footer">
      <form class="msger-inputarea">
        <textarea type="text" ng-model="$root.sendChatData.text1" class="msger-input" placeholder="Банкинд зурвас илгээх..."></textarea>
        <button type="submit" class="msger-send-btn" ng-click="sendChat()"><i class="ion-paper-airplane"></i></button>
      </form>
    </ion-footer>
  </ion-modal-view>
</script>