<ion-tabs class="tabs-icon-top tabs-bottom tabs-standard home-tab" delegate-handle="footerTabHandle">
  <ion-tab title="Нүүр" ui-sref="home" icon-on="custom-home-fill" icon-off="custom-home-line">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Банк" ui-sref="requestList" icon-on="custom-bank-fill" icon-off="custom-bank-line">
    <ion-nav-view name="bank-tab"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab title="Сагс" ui-sref="basket" icon-on="custom-cart-fill" icon-off="custom-cart-line">
    <ion-nav-view name="basket-tab"></ion-nav-view>
  </ion-tab> -->
  <ion-tab title="Профайл" ng-click="stateGoFromProfile()" icon-on="custom-fingerprint" icon-off="custom-fingerprint">
    <ion-nav-view name="qr-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>