<ion-header-bar></ion-header-bar>
<div class="bar bar-header cus-header-right-icon">
  <button class="button button-icon header-icon" style="position: fixed; left: 10px">
    <i class="icon custom-menu"></i>
  </button>
  <div class="title cus-header-title ion-color-big-text" style="margin-left: 10px">
    <span class="ion-text-bold">Зээлийн маркетsss</span>
  </div>
  <div class="cus-header-right-icon" style="right: 20px; position: fixed">
    <button class="button button-clear ion-float-right ion-color-brand-green" ui-sref="search" style="margin-right: 10px">
      <i class="icon custom-search-green"></i>
    </button>
    <button class="button button-clear ion-float-right ion-color-brand-green" ui-sref="sign">
      <i class="icon custom-bell-green">
        <span class="notify-badge"></span>
      </i>
    </button>
  </div>
</div>
</ion-header-bar>