.pr-btn-container {
  /* display: flex; */
  display: block;
  justify-content: center;
  width: 100%;
  bottom: 10%;
  position: absolute;
}
body {
  background-color: #333333;
}
.pr-remove-step {
  display: none;
}
.pr-add-step {
  display: block;
}
/* .register-step-1 {
    padding: 20px 40px;
  } */
.pr-register-step-1 {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 60%;
  margin: 0 auto;
}
.pr-register-step-2 {
  padding: 40% 15%;
}
.pr-register-step-1 input {
  background-color: #f8f8fd;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-color: #acd322;
  padding: 0 15px 0 20px;
  font-weight: bold;
  color: #4b5180 !important;
  background: #f8f8fd;
}
.pr-register-step-1 input::-webkit-outer-spin-button,
.pr-register-step-1 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pr-register-step-1 input {
  -moz-appearance: textfield; /* Firefox */
}
.pr-register-step-2 input::-webkit-outer-spin-button,
.pr-register-step-2 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pr-register-step-2 input {
  -moz-appearance: textfield; /* Firefox */
}
.pr-register-step-2 input {
  background-color: #f8f8fd;
  border-bottom: 1px solid !important;
  border-radius: 10px !important;
  border-color: #acd322 !important;
  padding: 0 15px 0 20px;
  font-weight: bold;
  color: #4b5180 !important;
  background: #f8f8fd;
  border: 0;
  height: 34px;
}
.pr-register-mobile {
  text-align: left !important;
}
.pr-register-mobile::-webkit-outer-spin-button,
.pr-register-mobile::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pr-step-1-text {
  margin: 20px auto;
  position: relative;
}
.reg-show-pass-btn {
  position: absolute;
  right: 5px;
  top: 25px;
  color: #000;
  min-height: 0px !important;
}
