<ion-view hide-nav-bar="true">
    <link href="views/reset_password/reset_password.css" rel="stylesheet" />
    <div ng-repeat="data in [{'title':'Буцах'}]" ng-include src="'views/navbar.html'"></div>
    <ion-content overflow-scroll="true" class="ion-modified-content margin-top-50 danselect-content">
        <div class="reset-step1-container">
            <div id="reset-step-1" class="reset-step-1">
                <p class="big-middle-title reset-step1-title">Та утасны дугаараа оруулна уу?</p>
                <label class="item item-input item-stacked-label reset-label reset-label-number">
                    <input inputmode="numeric" pattern="[0-9]*" type="text" placeholder="**********" name="mobileNumber" class="register-mobile" ng-model="$root.customerData.userName" select-on-click />
                </label>
            </div>
            <div id="reset-step-2" class="reset-step-2 remove-step">
                <div class="step-1-text">
                    <p ng-if="!$root.isEmail" class="big-middle-title">Таны {{customerData.userName}} дугаарт илгээсэн 6 оронтой кодыг оруулж баталгаажуулна уу.</p>
                    <p ng-if="$root.isEmail" class="big-middle-title">Таны {{$root.userEmail}} и-мэйл хаягруу илгээсэн 6 оронтой кодыг оруулж баталгаажуулна уу.</p>
                </div>
                <label class="item item-input item-stacked-label reset-label">
                    <span class="input-label">Баталгаажуулах код</span>
                    <input inputmode="numeric" pattern="[0-9]*" type="text" placeholder="**********" name="mobileNumber" id="confirmationCode" ng-model="$root.smsCode" class="register-confirm" select-on-click />
                </label>
                <label class="item item-input item-stacked-label reset-label">
                    <span class="input-label">Шинэ нууц үг</span>
                    <input type="{{inputType}}" placeholder="Нууц үг" name="password" class="register-password" ng-model="$root.customerNewPassword.passwordHash" select-on-click />
                </label>
                <button class="button button-icon reset-show-pass-btn" style="zoom: 1" ng-click="hideShowPasswordReset()">
                    <i class="ion-eye" id="eye-icon-reset"></i>
                </button>
            </div>
            <div class="btn-container">
                <button class="button btn single-button reset-step1-btn" id="Next" ng-show="isStep1" ng-click="sendSmsCodeReset()">Үргэлжлүүлэх</button>
                <button class="button resend-code-btn" id="resendBtn" ng-show="isStep2" ng-click="resendCode()" disabled>Дахин код илгээх</button>
                <button class="button btn single-button" ng-disabled="disabledBtn" ng-click="resetPassword()" ng-show="isStep2">Сэргээх</button>
            </div>
        </div>
    </ion-content>
</ion-view>