<ion-view hide-nav-bar="true">
    <link href="views/reset_password/reset_password.css" rel="stylesheet" />
    <ion-content scroll="false" ng-controller="reset_passwordCtrl" class="gray-background">
        <div class="pr-container">
            <div class="row">
                <div class="col">
                    <ul id="pr-progress-bar" class="pr-progressbar">
                        <li class="active pr-step-li-1"></li>
                        <li class="active pr-step-li-2"></li>
                        <li class="pr-step-li-3"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="pr-register-step-1" class="pr-register-step-1">
            <div class="pr-step-1-text">
                <p class="ion-color-big-text">Та утасны дугаараа оруулна уу</p>
            </div>
            <div class="pr-step-1-text">
                <input inputmode="numeric" pattern="[0-9]*" type="text" maxlength="8" placeholder="Утасны дугаар" name="mobileNumber" class="pr-register-mobile" ng-model="$root.customerNewPassword.userName" />
            </div>
        </div>
        <div id="pr-register-step-2" class="pr-register-step-2 pr-remove-step">
            <div class="pr-step-1-text">
                <p class="ion-color-text">Хуучин нууц үгээ оруунла уу.</p>
                <input type="password" name="oldPassword" id="oldPassword" class="old-password" ng-model="$root.customerNewPassword.oldPassword" />
                <button class="button button-icon reg-show-pass-btn" style="zoom: 1" ng-click="hideShowPassword('oldPassword')">
                    <i class="ion-eye" id="oldPassword-eye-icon"></i>
                </button>
            </div>
            <div class="pr-step-1-text">
                <p class="ion-color-text">Шинэ нууц үгээ оруулна уу.</p>
                <input type="password" name="newPassword" id="newPassword" class="new-password" ng-model="$root.customerNewPassword.passwordHash" />
                <button class="button button-icon reg-show-pass-btn" style="zoom: 1" ng-click="hideShowPassword('newPassword')">
                    <i class="ion-eye" id="newPassword-eye-icon"></i>
                </button>
            </div>
            <div class="pr-step-1-text">
                <p class="ion-color-text">Шинэ нууц үгээ давтан оруулна уу.</p>
                <input type="password" name="confirmNewPass" id="confirmNewPass" class="confirm-new-password" ng-model="$root.customerNewPassword.confirmPasswordHash" />
                <button class="button button-icon reg-show-pass-btn" style="zoom: 1" ng-click="hideShowPassword('confirmNewPass')">
                    <i class="ion-eye" id="confirmNewPass-eye-icon"></i>
                </button>
            </div>
        </div>
        <div class="pr-btn-container">
            <button class="button btn single-button" id="continueNewPassword" ng-click="checkMobileNumber()">Үргэлжлүүлэх</button>
            <button class="button btn single-button" id="saveNewPassword" ng-click="saveNewPassword()">Хадгалах</button>
            <button class="button btn single-button" id="backTo" ng-click="goBack()">Буцах</button>
        </div>
    </ion-content>
</ion-view>