<ion-view id="loanPages" hide-nav-bar="true">
  <link href="views/loan/business_loan/business_loan.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Бизнесийн зээл'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content overflow-scroll="true" class="ion-modified-content has-header business-loan-content">
    <div class="magic-container" style="height: 100%;">
      <div class="margin-lr-20" style="height: 60%;">
        <div class="margin-tb-20-40">
          <span class="ion-color-text">Бизнесийн танилцуулга</span>
        </div>
        <div class="">
          <select class="selection">
            <option selected>Эргэлтийн хөрөнгө</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <select class="selection">
            <option selected>Орлого баталгаажуулах баримт</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
      </div>
      <!-- **APP STORE UPDATE START** -->
      <!-- <div class="bank-container">
        <p>Танд зээл олгох боломжтой банк, ББСБ-ууд</p>
        <img ng-repeat="bank in allBankList | filter:{id:'!!'}" ng-src="{{bank.bank_logo|guessImageMime}}" />
      </div> -->
      <!-- **APP STORE UPDATE END** -->
      <button class="button btn single-button" ng-click="saveBusinessLoan()">Үргэлжлүүлэх</button>
    </div>
  </ion-content>
</ion-view>