<ion-view id="loanPages" hide-nav-bar="true">
  <link href="views/loan/business_loan/business_loan.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Бизнесийн зээл'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content overflow-scroll="true" class="ion-modified-content has-header business-loan-content">
    <div class="big-container ghostwhite-noscroll-container">
      <div class="magic-container">
        <div class="margin-lr-20">
          <div class="margin-tb-20-40">
            <span class="ion-color-text">Танилцуулга</span>
          </div>
          <div class="">
            <select class="selection">
              <option selected>Зориулалт</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <select class="selection">
              <option selected>Орлого баталгаажуулах баримт</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <select class="selection">
              <option selected>Барьцаа хөрөнгө</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
        </div>
      </div>
      <ion-footer class="bottom-footer">
        <div class="bank-container">
          <p>Банк болон ББСБ -ын зээлээр захиалан авах боломжтой</p>
          <img src="img/khanbank-mn.png" />
        </div>
        <button class="button btn single-button" id="Next" ui-sref="">Үргэлжлүүлэх</button>
      </ion-footer>
    </div>
  </ion-content>
</ion-view>