<!-- Нийтийн орон сууц -->
<!-- <label class="item item-input item-stacked-label property-label" ng-if="$root.propertyIsDan">
    <span class="input-label">Хөрөнгийн дэд төрөл</span>
    <input id="propertySubCategory" ng-model="$root.propertyData.assetName" type="text" placeholder="0" class="property-input" disabled>
</label>
<label class="item item-input item-stacked-label property-label">
    <span class="input-label">Талбайн хэмжээ /м2/</span>
    <input id="squareSize" ng-model="$root.propertyData.squareSize" type="number" placeholder="0" class="property-input" ng-disabled="$root.propertyIsDan">
</label>
<label class="item item-input item-stacked-label property-label" ng-if="$root.propertyIsDan">
    <span class="input-label">Хаяг</span>
    <textarea rows="4" cols="10" ng-model="$root.propertyData.address" placeholder="-" class="property-input" ng-disabled="$root.propertyIsDan">
	</textarea>
</label> -->
<label class="item item-input item-stacked-label property-label" ng-if="!$root.propertyIsDan">
    <span class="input-label">Өрөөний тоо</span>
    <input id="roomCount" ng-model="$root.propertyData.roomCount" type="number" placeholder="0" class="property-input" select-on-click>
</label>
<label class="item item-input item-stacked-label property-label" ng-if="!$root.propertyIsDan">
    <span class="input-label">Давхарын байршил</span>
    <input id="floorCount" ng-model="$root.propertyData.floorCount" type="number" placeholder="0" class="property-input" select-on-click>
</label>
<label class="item item-input item-select property-label" ng-if="!$root.propertyIsDan">
    <p class="input-label" style="margin: 0;">Хот/аймаг</p>
    <select style="background-color: transparent" ng-model="$root.propertyData.line1" class="property-select" ng-change="getDistrictData(propertyData.line1)">
        <option ng-repeat="com in provinceData" ng-if="com.name" value="{{com.id}}">{{com.name}}</option>
    </select>
</label>
<label class="item item-input item-select property-label" ng-if="!$root.propertyIsDan">
    <p class="input-label" style="margin: 0;">Дүүрэг/сум</p>
    <select id="districtSelect" style="background-color: transparent" ng-model="$root.propertyData.line2" class="property-select" ng-change="getStreetData(propertyData.line2)" disabled>
        <option ng-repeat="com in districtData | orderBy:'name'" ng-if="com.name" value="{{com.id}}">{{com.name}}</option>
    </select>
</label>
<label class="item item-input item-select property-label" ng-if="!$root.propertyIsDan">
    <p class="input-label" style="margin: 0;">Хороо/баг</p>
    <select id="streetSelect" style="background-color: transparent" ng-model="$root.propertyData.line3" class="property-select" disabled>
        <option ng-repeat="com in streetData | orderBy:'name'" ng-if="com.name" value="{{com.id}}">{{com.name}}</option>
    </select>
</label>
<div class="item item-input property-coll-label" style="border: 0;margin-top: 1px;background: transparent;">
    <div class="row property-img-row">
        <div class="col col-50 car-img" ng-click="pCSourceSelectOn('itemPic')">
            <div ng-if="!$root.propertyData.itemPic" width="100px" height="75px" style="border-radius: 10px; border: 1px dashed #ccc; height: 88px; text-align: center; font-size: 46px; color: #ccc; line-height: 86px">
                +
            </div>
            <img ng-if="$root.propertyData.itemPic" ng-src="{{'data:image/png;base64,'+$root.propertyData.itemPic}}" width="100px" height="75px" />
            <p class="car-coll-img-p">Гаднах зураг</p>
        </div>
        <div class="col col-50 car-img" ng-click="pCSourceSelectOn('itemPic2')">
            <div ng-if="!$root.propertyData.itemPic2" width="100px" height="75px" style="border-radius: 10px; border: 1px dashed #ccc; height: 88px; text-align: center; font-size: 46px; color: #ccc; line-height: 86px">
                +
            </div>
            <img ng-if="$root.propertyData.itemPic2" ng-src="{{'data:image/png;base64,'+$root.propertyData.itemPic2}}" width="100px" height="75px" />
            <p class="car-coll-img-p">Орчны зураг</p>
        </div>
    </div>
    <div class="row property-img-row">
        <div class="col col-50 car-img" ng-click="pCSourceSelectOn('itemPic3')">
            <div ng-if="!$root.propertyData.itemPic3" width="100px" height="75px" style="border-radius: 10px; border: 1px dashed #ccc; height: 88px; text-align: center; font-size: 46px; color: #ccc; line-height: 86px">
                +
            </div>
            <img ng-if="$root.propertyData.itemPic3" ng-src="{{'data:image/png;base64,'+$root.propertyData.itemPic3}}" width="100px" height="75px" />
            <p class="car-coll-img-p">Бусад зураг 1</p>
        </div>
        <div class="col col-50 car-img" ng-click="pCSourceSelectOn('itemPic4')">
            <div ng-if="!$root.propertyData.itemPic4" width="100px" height="75px" style="border-radius: 10px; border: 1px dashed #ccc; height: 88px; text-align: center; font-size: 46px; color: #ccc; line-height: 86px">
                +
            </div>
            <img ng-if="$root.propertyData.itemPic4" ng-src="{{'data:image/png;base64,'+$root.propertyData.itemPic4}}" width="100px" height="75px" />
            <p class="car-coll-img-p">Бусад зураг 2</p>
        </div>
    </div>
    <div class="row property-img-row">
        <div class="col col-50 car-img" ng-click="pCSourceSelectOn('itemPic5')">
            <div ng-if="!$root.propertyData.itemPic5" width="100px" height="75px" style="border-radius: 10px; border: 1px dashed #ccc; height: 88px; text-align: center; font-size: 46px; color: #ccc; line-height: 86px">
                +
            </div>
            <img ng-if="$root.propertyData.itemPic5" ng-src="{{'data:image/png;base64,'+$root.propertyData.itemPic5}}" width="100px" height="75px" />
            <p class="car-coll-img-p">Бусад зураг 3</p>
        </div>
        <div class="col col-50 car-img" ng-click="pCSourceSelectOn('itemPic6')">
            <div ng-if="!$root.propertyData.itemPic6" width="100px" height="75px" style="border-radius: 10px; border: 1px dashed #ccc; height: 88px; text-align: center; font-size: 46px; color: #ccc; line-height: 86px">
                +
            </div>
            <img ng-if="$root.propertyData.itemPic6" ng-src="{{'data:image/png;base64,'+$root.propertyData.itemPic6}}" width="100px" height="75px" />
            <p class="car-coll-img-p">Бусад зураг 4</p>
        </div>
    </div>
</div>