<ion-view id="qr" title="QR">
    <link href="views/qr/qr.css" rel="stylesheet" />
    <ion-header-bar align-title="left">
        <div class="bar bar-header cus-header-right-icon">
            <button class="button button-icon icon ion-navicon header-icon ion-color-big-text" style="position: fixed; left: 0px"></button>
            <div class="title cus-header-title ion-color-big-text">
                <span class="ion-text-bold">Зээлийн маркет</span>
            </div>
            <div class="cus-header-right-icon" style="right: 0px; position: fixed">
                <button class="button button-clear icon cus-header-icon ion-float-right ion-color-brand-green" ui-sref="search">
                    <i class="icon custom-home-line"></i>
                </button>
                <button class="button button-icon header-icon ion-float-right ion-color-brand-green header-bell-icon" ui-sref="sign">
                    <i class="fa fa-bell"></i>
                </button>
            </div>
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="ion-modified-content has-header qr-content">
        <!-- <div class="big-container ghostwhite-noscroll-container"> -->
        <div class="big-container">
            <div class="magic-container qr-tab margin-lr-20">
                <div class="qr-tab-menu-container">
                    <button class="tab-btn active qr-tab-title">Бүтээгдэхүүний</button>
                    <button class="tab-btn margin-l-5 qr-tab-title" ui-sref="profile">Харилцагчийн</button>
                </div>
                <div class="tab-view">
                    <div class="qr-image" ng-click="showQRreader()">
                        <img src="img/qr.png" />
                    </div>
                </div>
                <div class="margin-top-50">
                    <p class="ion-color-text">Таны QR уншуулсан бараа</p>
                    <div class="qr-cars qr" ng-if="!($root.selectedCarData.modelname|isEmpty)">
                        <ul>
                            <li class="car-detail" ui-sref="car-info">
                                <div class="car-img"><img ng-src="{{$root.imagePath}}{{$root.selectedCarData.itempic}}" /></div>
                                <div id="car-dtl" class="desc">
                                    <p class="car-title">{{$root.selectedCarData.modelname}}</p>
                                    <p class="car-price">{{$root.selectedCarData.price|formatNumber}}₮</p>
                                    <span ng-if="$rootScope.selectedCarData.text10 == 102">{{$root.selectedCarData.productyear}}/{{$root.selectedCarData.entryyear}}</span>
                                    <span>{{$root.selectedCarData.itemcode}}</span>
                                    <!-- <span>Да хүрээ</span> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ion-footer class="bottom-footer" ng-if="!($root.selectedCarData.modelname|isEmpty)">
                <button class="button btn single-button" id="Next" ng-click="addtoBasket()">Сагсанд нэмэх</button>
                <button class="button btn margin-top-20 single-button" id="Next" ui-sref="car-info">Дэлгэрэнгүй харах</button>
            </ion-footer>
        </div>
    </ion-content>
</ion-view>