<ion-view hide-nav-bar="true">
  <link href="views/loan_success/loan_success.css" rel="stylesheet" />
  <ion-content overflow-scroll="true" class="loan_success-content">
    <div ng-controller="loan_successCtrl" class="success-container">
      <div class="col">
        <div class="row">
          <svg class="checkmark_success" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
          </svg>
        </div>
        <div class="row"><span class="row-2-text ion-text-upper">Амжилттай илгээгдлээ.</span></div>
        <div class="row success-btm-text">
          <span class="row-5-text">{{$root.success_msg}}</span>
        </div>
        <div class="row success-bank-list" ng-repeat="bank in selectedBankSuccess | unique : 'id'" ng-if="bank.checked">
          <img ng-src="{{$root.imagePath}}{{bank.bank_logo}}" width="35px" height="35px" />
          <span>{{bank.department_name}}</span>
        </div>
        <!-- <div class="row success-row-container"><span class="row-4-text ion-text-upper">Баярлалаа</span></div> -->
        <div class="row success-btn-container">
          <button class="button btn single-button" ng-click="goBankMenu()">БАНК ЦЭС РҮҮ ОЧИХ</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>