.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #acd322;
  fill: #f8f8fd;
  animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.success-container {
  top: 10vh;
  height: 100%;
  position: absolute;
}
.checkmark_success {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #acd322;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #fff;
  animation: fill 0.2s ease-in-out 0.3s forwards, scale 0.2s ease-in-out 0.2s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #fff;
  }
}
.row-2-text {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  color: #acd322;
}
.success-bank-list {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px !important;
}
.success-bank-list img {
  margin: 0 auto;
}
.success-bank-list span {
  color: #a2a7b5;
}
.row-4-text {
  text-align: center;
  margin: 0 auto;
  color: #acd322;
}
.row-5-text {
  text-align: center;
  color: #a2a7b5;
}
.loan_success-content {
  /* height: 100%; */
}
.success-btn-container {
  padding-top: 100px !important;
}
.success-btm-text {
  width: 80%;
  margin: 20px auto !important;
}
.success-row-container {
  margin-top: 15px !important;
}
