@font-face {
  font-family: "Nunito";
  src: url("../lib/fonts/Nunito/Nunito-Light.ttf") format("truetype");
}

* {
  font-family: "Nunito", sans-serif !important;
}
i {
  font-family: "FontAwesome", sans-serif !important;
}
.cus-header-icon {
  color: #000 !important;
  padding: 0 5px !important;
}

.cus-header-title {
  left: 35px !important;
}

.cus-header-right-icon {
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ion-text-upper {
  text-transform: uppercase;
}

.ion-color-brand-green {
  color: #acd322 !important;
}

.ion-color-brand-blue {
  color: #3cc1fa !important;
}

.ion-color-icon {
  color: #b1bfda !important;
}

.ion-color-header {
  color: #606060 !important;
}

.ion-color-big-text {
  color: #4b5180 !important;
}

.ion-color-text {
  color: #a2a7b5 !important;
}

.ion-text-bold {
  font-weight: bold;
  font-size: 20px;
}

.ion-float-left {
  float: left;
}

.ion-float-right {
  float: right;
  text-align: right;
}

.home-card-tab > .tabs {
  height: 40px !important;
  width: fit-content !important;
  left: 20px;
  background: none;
}

.tab-item .icon {
  display: block;
  margin: 0.25rem auto 0 auto;
  height: 25px;
  width: 25px;
  font-size: 32px;
}

.tabs-top.tabs-striped .tab-item.tab-item-active {
  border-color: #add321;
}

.tab-item-active > .tab-title {
  color: #acd322 !important;
  font-weight: bold !important;
}

.tab-button-color-gray {
  color: #b1bfda !important;
}

.tabs-top.tabs-striped .tab-item:active {
  border-color: #acd322;
  color: #acd322 !important;
}

.tab-item .tab-item-active {
  border-width: 0px 0px 2px 0px !important;
  border-style: solid;
}

.tab-item.tab-item-active {
  border-bottom: 1px solid;
  color: #acd322 !important;
}

.tab-title {
  color: #a2a7b5;
}

.home-tab .tabs {
  width: 100% !important;
  top: 0;
  left: 0;
  height: 55px !important;
  background: #f8f8fe;
  border: none;
}

.home-tab .tabs a {
  border: unset;
}

.button {
  border: none;
  /* font-family: "Nunito", sans-serif !important; */
}

.btn {
  background: rgb(162, 209, 52);
  background: -moz-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: -webkit-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#a2d134", endColorstr="#3bc1f9", GradientType=1);
  color: white;
  width: 100%;
  border-radius: 10px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  min-height: 35px;
  line-height: 35px;
}

.btn:hover {
  color: white;
}

.btn:focus {
  color: white;
}

.ionic-button-color {
  background: rgb(162, 209, 52) !important;
  background: -moz-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  background: -webkit-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  background: linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  color: #fff;
}

.margin-lr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.ghostwhite {
  background-color: #f8f8fe;
}

/* CHIMDEE CJ GLOBAL */

h4 {
  font-size: 14px;
  font-weight: 400;
  color: #7d7d7d;
  margin-bottom: 20px;
  margin-top: 10px;
}

.ion-modified-content {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
}

.big-container {
  display: flex;
  flex-direction: column;
  height: auto !important;
  margin-bottom: 44px !important;
}

.magic-container {
  flex: 1 0 auto;
}

.bottom-footer {
  margin-bottom: 100px;
  flex-shrink: 0;
  background: none;
}

.bottom-first-button {
  background: rgb(147, 207, 81);
  background: -moz-linear-gradient(86deg, rgba(147, 207, 81, 1) 21%, rgba(100, 199, 174, 1) 90%);
  background: -webkit-linear-gradient(86deg, rgba(147, 207, 81, 1) 21%, rgba(100, 199, 174, 1) 90%);
  background: linear-gradient(86deg, rgba(147, 207, 81, 1) 21%, rgba(100, 199, 174, 1) 90%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#93cf51", endColorstr="#64c7ae", GradientType=1);
  color: white;
  border-radius: 10px;
  width: 140px;
  height: 35px;
  margin: 0 auto;
  border: 0px !important;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 10px !important;
  letter-spacing: 1px !important;
  min-height: 35px;
  line-height: 35px;
}

.bottom-second-button {
  background: rgb(86, 197, 198);
  background: -moz-linear-gradient(119deg, rgba(86, 197, 198, 1) 55%, rgba(61, 192, 250, 1) 100%);
  background: -webkit-linear-gradient(119deg, rgba(86, 197, 198, 1) 55%, rgba(61, 192, 250, 1) 100%);
  background: linear-gradient(119deg, rgba(86, 197, 198, 1) 55%, rgba(61, 192, 250, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#56c5c6", endColorstr="#3dc0fa", GradientType=1);
  color: white;
  border-radius: 10px;
  width: 140px;
  height: 35px;
  margin: 0 auto;
  border: 0px !important;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 10px !important;
  letter-spacing: 1px !important;
  min-height: 35px;
  line-height: 35px;
}

.ion-select-gen {
  right: 0;
  position: absolute;
  margin-right: 25px;
  border: none !important;
}

.tabs-striped .tab-item.activated {
  border-color: #acd322 !important;
  color: #acd322 !important;
}

.navbar {
  background: #f8f8fe;
}

.navbar-back-button {
  left: 0 !important;
  top: 5px !important;
}

.navbar-back-text {
  font-weight: bold;
}

.navbar-right-icon {
  right: 10px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-50 {
  margin-top: 40px;
}

.bar .button.button-clear.icon:before {
  font-size: 28px !important;
}

.bar .button.button-icon {
  font-size: 22px !important;
}

.header-bell-icon {
  padding-right: 15px !important;
}

.custom-cart-line {
  background: url(../lib/icon/shopping-cart-2-line.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-cart-fill {
  background: url(../lib/icon/shopping-cart-2-fill.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-home-line {
  background: url(../lib/icon/home-2-line.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-home-fill {
  background: url(../lib/icon/home-2-fill.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-qr-line {
  background: url(../lib/icon/qr-code-line.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-qr-fill {
  background: url(../lib/icon/qr-code-fill.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-bank-line {
  background: url(../lib/icon/bank-line.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-bank-fill {
  background: url(../lib/icon/bank-fill.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-search-green {
  display: block;
  background: url(../lib/icon/search-line.svg) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-position: center;
}

.custom-bell-green {
  display: block;
  background: url(../lib/icon/notification-2-fill.svg) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-position: center;
}

.custom-credit-card {
  background: url(../lib/icon/credit-card.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-dashboard-line {
  background: url(../lib/icon/dashboard-line.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}

.custom-menu {
  display: block;
  background: url(../lib/icon/menu-fill.svg) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-position: center;
}
.custom-fingerprint {
  display: block;
  background: url(../lib/icon/fingerprint-line.svg) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-position: center;
}

.notify-badge {
  position: absolute;
  right: 2px;
  border: 1px solid #fff;
  top: 5px;
  background: red;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 1px 1px;
  font-size: 5px;
  height: 10px;
  width: 10px;
}

.bar-header.has-tabs-top {
  background-color: #f8f8fd;
}

.gray-background {
  background-color: #f8f8fd;
}

.home-card-tab .tab-item {
  margin-right: 20px;
  text-overflow: inherit !important ;
  width: fit-content !important;
  overflow: initial !important;
}

.single-button {
  background: rgb(162, 209, 54);
  background: -moz-linear-gradient(90deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 75%);
  background: -webkit-linear-gradient(90deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 75%);
  background: linear-gradient(90deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 75%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#a2d136", endColorstr="#3cc1f9", GradientType=1);
  width: 44vw;
  font-size: 10px;
  letter-spacing: 1px !important;
  margin: 10px auto !important;
  display: block !important;
}

.nav-back-btn {
  color: #fff !important;
  padding-left: 15px;
}

.ion-chevron-left:before {
  padding-right: 10px !important;
}

.bank-container {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  margin: 10px 20px;
}

.bank-container img {
  margin-right: 10px;
  height: 30px;
  border-radius: 10%;
  min-width: 30px;
  max-width: 60px;
  padding: 2px;
}

.bank-container p {
  text-transform: uppercase;
  color: #515151;
  font-size: 11px;
  line-height: normal;
}

.bar .buttons-left span {
  position: absolute;
  top: 10px;
  left: 15px;
  margin-right: 5px;
}

.bar .title.title-left {
  position: absolute;
  left: 35px;
  /* left: 10px; */
  top: -2px;
  color: #4b5180;
  font-weight: bold;
}

.card,
.list-inset {
  overflow: hidden;
  margin: 10px 10px;
  border-radius: 12px;
  background-color: #fff;
}

.bar.bar-stable {
  border-color: #f8f8fe;
  border: none;
  background-color: #f8f8fe;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  color: #f8f8fe;
}

.bar {
  border: none;
  background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  background-position: bottom;
  background-size: 100% 0px;
  background-repeat: no-repeat;
}

.custom-grid {
  display: block;
  background: url(../lib/icon/dashboard-line.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  background-position: center;
}

.custom-col {
  display: block;
  background: url(../lib/icon/column.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  background-position: center;
}

.custom-left-arrow {
  display: block;
  background: url(../lib/icon/arrow-left-s-line.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  background-position: center;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-tb-20-40 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tabs-striped .tabs {
  border-bottom: 0px !important;
}

.no-border {
  border: 0px !important;
}

/*================= alerts ================*/

.OutbuttonSize {
  min-height: 25px !important;
  max-height: 30px !important;
}

.popup-buttons {
  min-height: initial;
  padding: 0 20px !important;
}

.popup-body {
  padding-top: 0;
}

.popup-title {
  text-align: right !important;
  padding-top: 0 !important;
}

.loading-container .loading {
  background-color: transparent;
}

.confirmPopup .popup {
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 8px 0px;
}

.confirmPopup .popup .popup-head {
  display: none;
}

.confirmPopup .popup .popup-body {
  padding-top: 20px;
  padding-bottom: 16px;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.confirmPopup .popup .popup-buttons {
  padding: 0;
  border-top: 1px solid #e0e0e0;
}

.confirmPopup .popup .popup-buttons .button.button-positive {
  font-weight: 700 !important;
}

#mobile {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: rgb(171, 211, 36);
  background: -moz-linear-gradient(90deg, rgba(171, 211, 36, 1) 15%, rgba(64, 191, 248, 1) 97%);
  background: -webkit-linear-gradient(90deg, rgba(171, 211, 36, 1) 15%, rgba(64, 191, 248, 1) 97%);
  background: linear-gradient(90deg, rgba(171, 211, 36, 1) 15%, rgba(64, 191, 248, 1) 97%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#abd324", endColorstr="#40bff8", GradientType=1);
}

#mobileBodyContent {
  background: #f8f7f5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
}

#nav {
  position: absolute;
  list-style-type: none;
  margin: 15% 0 0 10%;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#nav .side-menu-items {
  /* height: auto; */
  display: flex;
  width: 0;
  margin: 15px 0;
  margin-left: 0;
  color: #fff;
  align-items: center;
}
.side-menu-items i {
  margin: 0px 10px 0px 5px;
}

#nav .side-menu-items + .side-menu-items {
  margin-left: -40px;
}

#nav .side-menu-img-container {
  margin-left: -140px;
}

.navigation #nav .side-menu-items {
  width: 200px;
  margin-left: 0;
}

.navigation #burgerBtn {
  border-color: transparent;
}
.index-stack-icon {
  position: fixed !important;
}
.demo1.navigation #mobileBodyContent {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -khtml-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  margin-left: 240px;
  border-radius: 20px;
  box-shadow: none;
  transition: all 400ms ease;
}

.demo1.non-navigation #mobileBodyContent {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -khtml-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  margin-left: 0px;
  border-radius: 0px;
  box-shadow: none;
  left: 0px;
  top: 0px;
  transition: all 400ms ease;
}

.side-menu-picture {
  display: block;
  border-radius: 50%;
  border: 5px solid #abd324;
}

.side-menu-logout {
  bottom: 15%;
  position: absolute;
  font-weight: bold;
}

#secondScreen {
  background: #e5e5e5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -khtml-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-out;
}

.demo1.navigation #secondScreen {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -khtml-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  margin-left: 200px;
  border-radius: 20px;
  position: absolute;
  top: 0%;
}

.app-header-custom {
  background: #f8f8fe !important;
  padding: 10px 15px !important;
}

.side-menu-off-icon {
  color: #fff;
  margin: 20px;
  font-size: 25px;
  position: absolute;
}

.wraps {
  -moz-transition: height 0.3s ease !important;
  -ms-transition: height 0.3s ease !important;
  -o-transition: height 0.3s ease !important;
  -webkit-transition: height 0.3s ease !important;
  transition: height 0.3s ease !important;
  overflow: hidden !important;
}

.pane,
.view {
  background-color: #f8f8fd !important;
}

.side-menu-user-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px !important;
}

.confirmPopup .popup .popup-buttons {
  border-top: 0px !important;
}
.get-camera {
  line-height: 20px;
  display: grid;
  width: 50%;
}
.get-gallery {
  display: grid;
  margin: 0 auto;
  width: 50%;
}
.get-photo-choose {
  display: flex;
  margin: 20px auto;
}
.photo-choose-icon {
  background: #acd322;
  padding: 5px 10px;
  font-size: 40px;
  border-radius: 19px;
  color: #fff;
  width: 50px;
  margin: 0 auto;
}
.photo-choose-span {
  color: #a2a7b5;
}
.ion-font-weight-bold {
  font-weight: bold !important;
}
.content-margin-bottom {
  margin-bottom: 50px;
}
.success-container {
  top: 10vh;
  height: 100%;
  position: absolute;
}

.money-input input {
  /* border: 1px solid;
  color: #4b5180;
  background: none;
  border-radius: 5px;
  border-color: #cdcdcd;
  padding: 0 15px 0 20px;
  text-align: right !important;
  font-weight: bold; */
}
.tugrug-input {
  margin: 10px 0;
  position: relative;
  z-index: 99;
}
.tugrug-input .title {
  margin: 0 10px;
  position: absolute;
  top: 20%;
  margin-left: 10px;
  color: #606060;
}
.input-label-front {
  z-index: -1;
}
.input-tugrug-icon {
  padding: 7px 0px 7px 0px;
  font-weight: bold;
  min-width: 30px;
  position: absolute;
  text-align: center;
  font-size: 16px;
  color: #b2b2b2;
}
.input-tugrug-type {
  background: none;
  text-align: left !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 5px;
  margin: 0 0;
  width: 100%;
  padding: 0 15px 0 0px !important;
}

.step2-switch {
  float: right;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.step2-switch input {
  display: none;
}

.step2-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.step2-slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 3px;
  background-color: #acd322;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.step2-switch input:checked + .step2-slider {
  background-color: #fff;
}

.step2-switch input:focus + .step2-slider {
  box-shadow: 0 0 1px #2196f3;
}

.step2-switch input:checked + .step2-slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}
.step2-switch input:checked + .step2-slider .step2-on {
  display: block !important;
}

.step2-switch input:checked + .step2-slider .step2-off {
  display: none;
}

/*------ ADDED CSS ---------*/
.step2-on {
  display: none !important;
}

.step2-on,
.step2-off {
  color: #000;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #acd322 !important;
  font-size: 12px !important;
  font-weight: normal !important;
}
.step2-off {
  left: 37px;
}
.step2-on {
  left: 20px;
}

/*--------- END --------*/

/* Rounded sliders */
.step2-slider.step2-round {
  border-radius: 34px;
  border: 1px solid #cccccc;
}

.step2-slider.step2-round:before {
  border-radius: 50%;
}
.activeSwitch > .step2-slider.step2-round {
  border: 1px solid #acd322;
}

.switch-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
  color: #606060;
  padding: 5px 0px !important;
}
.switch-list li span {
  font-weight: bold;
  background-color: transparent;
  color: #4b5180;
  z-index: 1;
  display: inline-block;
  padding: 0px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
}
.request-middle-title {
  color: #4b5180;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
}
.svg-box {
  zoom: 0.8;
  display: flex;
  position: relative;
  width: 150px;
  margin: 0 auto;
}

.green-stroke {
  stroke: #acd322;
}

.red-stroke {
  stroke: #ff6245;
}

.yellow-stroke {
  stroke: #ffc107;
}

.circular circle.path {
  stroke-dasharray: 330;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  opacity: 1;
  animation: 0.4s draw-circle ease-out;
}

/*------- Checkmark ---------*/
.checkmark {
  stroke-width: 4.25;
  stroke-linecap: round;
  position: absolute;
  top: 56px;
  left: 49px;
  width: 52px;
  height: 40px;
}

.checkmark path {
  animation: 0.4s draw-check ease-out;
}

@keyframes draw-circle {
  0% {
    stroke-dasharray: 0, 330;
    stroke-dashoffset: 0;
    opacity: 1;
  }

  80% {
    stroke-dasharray: 330, 330;
    stroke-dashoffset: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes draw-check {
  0% {
    stroke-dasharray: 49, 80;
    stroke-dashoffset: 48;
    opacity: 0;
  }

  50% {
    stroke-dasharray: 49, 80;
    stroke-dashoffset: 48;
    opacity: 1;
  }

  100% {
    stroke-dasharray: 130, 80;
    stroke-dashoffset: 48;
  }
}

/*---------- Cross ----------*/

.cross {
  stroke-width: 6.25;
  stroke-linecap: round;
  position: absolute;
  top: 54px;
  left: 54px;
  width: 40px;
  height: 40px;
}

.cross .first-line {
  animation: 0.4s draw-first-line ease-out;
}

.cross .second-line {
  animation: 0.4s draw-second-line ease-out;
}

@keyframes draw-first-line {
  0% {
    stroke-dasharray: 0, 56;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 0, 56;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 56, 330;
    stroke-dashoffset: 0;
  }
}

@keyframes draw-second-line {
  0% {
    stroke-dasharray: 0, 55;
    stroke-dashoffset: 1;
  }

  50% {
    stroke-dasharray: 0, 55;
    stroke-dashoffset: 1;
  }

  100% {
    stroke-dasharray: 55, 0;
    stroke-dashoffset: 70;
  }
}

.alert-sign {
  stroke-width: 6.25;
  stroke-linecap: round;
  position: absolute;
  top: 40px;
  left: 68px;
  width: 15px;
  height: 70px;
  animation: 0.4s alert-sign-bounce cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.alert-sign .dot {
  stroke: none;
  fill: #ffc107;
}

@keyframes alert-sign-bounce {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}
.big-middle-title {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #4b5180 !important;
}
.confirmPopup .button-confirm {
  background: rgb(162, 209, 54) !important;
  background: -moz-linear-gradient(90deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 75%) !important;
  background: -webkit-linear-gradient(90deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 75%) !important;
  background: linear-gradient(90deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 75%) !important;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#a2d136", endColorstr="#3cc1f9", GradientType=1) !important;
  color: white !important;
  border-radius: 10px !important;
  font-weight: normal !important;
  text-transform: uppercase !important;
  font-size: 10px !important;
  letter-spacing: 1px !important;
  min-height: 35px !important;
  margin: 10px auto !important;
  border: 0px !important;
  width: 50% !important;
  min-height: 35px !important;
  flex: none !important;
}
.confirmPopup .button-decline {
  background: transparent !important;
}

.confirmPopup .button-dc-default {
  background: rgb(162, 209, 54) !important;
  background: -moz-linear-gradient(90deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 75%) !important;
  background: -webkit-linear-gradient(90deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 75%) !important;
  background: linear-gradient(90deg, rgba(162, 209, 54, 1) 13%, rgba(60, 193, 249, 1) 75%) !important;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#a2d136", endColorstr="#3cc1f9", GradientType=1) !important;
  color: white !important;
  width: 55vw !important;
  border-radius: 10px !important;
  font-weight: normal !important;
  text-transform: uppercase !important;
  font-size: 10px !important;
  letter-spacing: 1px !important;
  min-height: 35px !important;
  margin: 10px auto !important;
  border: 0px !important;
  width: 60% !important;
  min-height: 35px !important;
  flex: none !important;
}

.container-padding {
  border-radius: 10px;
  padding: 20px;
  margin: 20px 20px 0px 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  min-height: 160px;
  position: relative;
}

.middle-title {
  font-size: 12px;
  color: #c6c8d4;
  text-transform: uppercase;
  text-align: center;
  margin: 0px auto 15px auto;
  width: 80%;
}

.not-agree-banks {
  color: red !important;
}
.agree-banks {
  color: #acd322 !important;
}
.bank-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.bank {
  align-items: center;
  text-align: center;
  margin: 0 10px;
}
.bank img {
  height: 30px;
  min-width: 30px;
  max-width: 60px;
  padding: 2px;
}
.bank p {
  white-space: break-spaces;
  font-size: 12px;
  color: gray;
  font-weight: bold;
  line-height: 14px;
  margin: 0px !important;
}
.loan-month-type-number::-webkit-outer-spin-button,
.loan-month-type-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pulse-animation {
  animation: pulse 1.5s infinite;
}
/*CARD LOADER CSS ANIMATION*/
/* .pulse-animation {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}
.pulse-animation:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loader-animate;
  animation-timing-function: linear;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1);
}
@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
} */

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(172, 211, 34, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.wide-scroll-bank-step {
  overflow: scroll;
  white-space: nowrap;
}
.wide-scroll-bank-step .scroll {
  display: flex;
  width: calc(100% - 40px);
}
.wide-scroll-bank-step .scroll-bar {
  display: none;
}

.wide-scroll-bank {
  overflow: scroll;
  white-space: nowrap;
}
.wide-scroll-bank .scroll {
  display: block;
  width: calc(100% - 40px);
}
.wide-scroll-bank .scroll-bar {
  display: none;
}
.profile-input-name-error {
  position: absolute;
  font-size: 10px !important;
  color: red;
  bottom: 0;
  display: none;
  right: 15px;
  line-height: 12px;
}
.more-scroll-div {
  position: absolute;
  bottom: 77px;
  right: 20%;
  z-index: 2;
  display: inline-block;
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.more-scroll {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-animation: scrollMore 1.5s infinite;
  animation: scrollMore 1.5s infinite;
  box-sizing: border-box;
}
@keyframes scrollMore {
  0% {
    transform: rotate(225deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(225deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.step2-span {
  font-weight: normal !important;
  padding: 0px 5px 0px 5px !important;
  white-space: inherit !important;
  text-align: left !important;
  color: #606060 !important;
  border-radius: 0px !important;
}

.step2-term {
  border-bottom: 1px solid #acd322;
  border-bottom-style: dotted;
}

.term-chat-modal {
  background: transparent !important;
}
.term-chat-modal .term-card {
  height: 80vh !important;
  margin: 40px 0px 10px 0px !important;
}
.term-modal-off-text {
  right: 6%;
  position: absolute;
  top: 2%;
  zoom: 1.2;
  z-index: 99;
}
.term-modal-include {
  padding: 15px;
}
.term-content {
  margin-bottom: 50px;
  background: #f8f8fe;
  bottom: 0px;
}
.term-list {
  height: 100% !important;
}
.term-card {
  padding: 0px 20px 0px 20px;
  height: 80vh;
  background-color: #fff !important;
  margin: 70px 20px 10px 20px !important;
}

#term-content > .scroll {
  height: 170px;
  background: rgb(134, 205, 109);
  background: url(../img/lines/home-small-line.png), -moz-linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  background: url(../img/lines/home-small-line.png), -webkit-linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  background: url(../img/lines/home-small-line.png), linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#86cd6d",endColorstr="#3fc1f3",GradientType=1);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  image-rendering: pixelated;
}
.term-back i {
  color: #fff !important;
}
.term-back span {
  color: #fff !important;
}
.term-scroll {
  height: 100%;
}
.term-scroll .scroll-bar {
  display: none;
}
.term-title {
  font-weight: bold;
  color: #4b5180 !important;
  display: block;
  margin: 10px 0px;
}
.term-body {
  padding: 10px 0;
  display: block;
}
.term-body-li {
  padding: 10px 0;
}
.term-button-container {
  display: flex;
  margin-top: 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.item-select select {
  color: #4b5180 !important;
  font-weight: bold;
}
.agree-bank-arrow {
  /* margin-right: 35px; */
}
.checkBank-not-agree {
  padding-left: 30px;
  width: 100%;
}
.tooltipster-base {
  text-align: center !important;
  max-width: 80vw !important;
  margin: 0 auto !important;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #acd322;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #acd322;
  box-shadow: 30px 0 0 #00a096;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1);
    -moz-transform: rotate(360deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #69c5b7;
  }
  50% {
    box-shadow: 0 0 0 #69c5b7;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #69c5b7;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #90ca6d;
  }
  50% {
    box-shadow: 0 0 0 #90ca6d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #90ca6d;
    margin-top: 0;
  }
}

.blur-full-screen {
  /* filter: blur(0.15rem); */
}
.ion-bg-none {
  background: none !important;
}
.ion-color-white {
  color: #fff !important;
}
.ion-overflow-unset {
  overflow: unset !important;
}
.index-nav-buttons {
  position: absolute !important;
  top: 10px !important;
  left: 15px !important;
}
.index-x-mark {
  width: 20px !important;
}
.index-nav-buttons-right {
  right: 10px !important;
  position: fixed !important;
}
.bell-icon-button {
  margin-right: 10px !important;
}
.search-icon-button {
  margin-right: 5px !important;
}
.bar-custom {
  width: 100% !important;
  height: 50px !important;
}
.car-back-nav {
  left: 10px !important;
}
.ion-display-none {
  display: none !important;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.three-quarter-spinner {
  width: 40px;
  height: 40px;
  border: 3px solid #acd322;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.3s linear 0s infinite;
}
.ion-mb-10 {
  margin-bottom: 10px !important;
}
.agree-bank-slide img {
  width: 60px;
}
.ion-margin0-auto {
  margin: 0 auto !important;
}
.ion-margin-top5 {
  margin-top: 5px !important;
}

.vxx-title-container {
  margin-top: 10px;
  text-align: right;
  /* width: 80%; */
  margin: 5px 0px;
}
.vxx-title {
  font-size: 12px;
  /* font-weight: bold; */
  color: #4b5180 !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.bg-fff {
  background: #fff !important;
}
.z-index-1 {
  z-index: 1 !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.bottom-footer-50 {
  margin-bottom: 50px;
  flex-shrink: 0;
  background: none;
}
.none-div {
  height: 10px;
}

.form-input-label {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 0px !important;
  border-bottom: 1px solid #a2a7b552 !important;
  padding: 0 5px !important;
  display: block !important;
}
.form-input-label span {
  font-size: 14px !important;
}
.form-input-label p {
  display: contents !important;
}
.form-input-label::after {
  display: none !important;
}
.form-input-label input {
  color: #4b5180 !important;
  font-weight: bold !important;
  text-align: right;
  padding-right: 10px !important;
}
.custom-form-container .item-select:after {
  display: none !important;
}
.custom-form-input-select {
  padding: 7px 15px !important;
  text-align-last: right !important;
  position: relative !important;
  float: right !important;
  appearance: auto !important;
  direction: ltr !important;
  width: 100% !important;
  max-width: 100% !important;
}
.custom-stp1-input-select {
  padding: 7px 5px !important;
  width: 55% !important;
  border: 0px !important;
  border-bottom: 1px solid #abd324 !important;
  border-radius: 12px !important;
  background: #fff !important;
  background-color: #fff !important;
}
.custom-stp1-input-select option {
  text-align: center;
}
.disabled-loan-amount {
  /* background: #fff !important; */
}
.custm-radio-step1 {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.custm-radio-step1 > .button.button-positive {
  color: #4b5180 !important;
  background: #fff !important;
  border-color: #4b5180 !important;
}
.custm-radio-step1 .button {
  background: transparent !important;
}
.custm-radio-step1 a {
  width: 27% !important;
  min-height: auto !important;
  display: flex;
  justify-content: center;
  padding: 7px;
  border-bottom: 1px solid #acd322;
  margin: 0 5px;
  border-radius: 10px !important;
}
.custm-radio-select {
  line-height: 12px !important;
}
.custm-radio-select span {
  display: block;
  text-transform: uppercase !important;
  font-size: 10px;
  letter-spacing: 1px !important;
  font-weight: bold !important;
}
.ion-pt-5 {
  padding-top: 5px !important;
}
.auto-step1-title-select {
  text-align: center;
  font-size: 14px !important;
}
.stp2-loan-amount-label {
  padding: 0px !important;
}
